### Import necessary libraries

In [1]:
import pandas as pd
import numpy as np
import jellyfish as jf
import re
from tqdm import tqdm_notebook
import csv

### Import the csv data files

In [2]:
df_1870 = pd.read_csv('1870_CT.csv')
df_1870

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL
0,b5689d06-edd3-498e-8b5b-e04f2fa2f2a9,1062582,Catherine,Beebe,44,2,10
1,a7118f06-949d-4d02-be0a-db33a6f8f3a8,1061605,Frances E,Bird,40,2,10
2,85d089c0-b907-4d9c-95ab-c5fa4a3dd2bb,1029271,J S,Luff,49,1,10
3,cddd9455-48e0-4b48-89a5-9ee315e00087,1237122,John,Smith,26,1,10
4,8cb74256-6dfa-4d17-913a-59fa646c388a,1022156,Saml H,Russell,77,1,10
5,1f8e1a74-d486-44ad-8d5c-51aedf86208e,1025771,Charles,Robertson,26,1,10
6,61a1590f-1d3a-4666-8406-3d4aaf0770b4,1027559,John,Dickinson,42,1,10
7,92277f0b-1476-41f5-9dc8-bf83672616d0,1028383,Joseph,Shissler,36,1,10
8,322291a1-de91-439d-bba0-45fc2f47a2eb,1029335,David,Hall,71,1,10
9,136f7105-ff59-4eac-9d95-44b002cbb448,1031229,John,Decame,52,1,10
10,1138ab41-e234-4c72-b812-eaaf0fc5f76c,1031229,Nancy,Decame,53,2,10
11,066ea4e1-f340-4231-b505-ec7bb9a07103,1031229,Peter N,Decame,15,1,10
12,b7d96336-404e-490c-8c45-61f2287b52ff,1031229,Annam,Decame,13,2,10
13,24bdff6a-5590-4494-8e8a-ac4a549c8890,1031229,Sarah,Decame,10,2,10
14,c1fedaab-f026-4aa4-9320-e10f2432d539,1031230,James,Carney,22,1,10
15,43a6ebe5-752b-4054-818d-6f6f75cc89e7,1031235,Alfred,Dell,27,1,10
16,0d693015-2349-4363-9667-45036af7d0db,1031760,Chas,Syaex,40,1,10
17,1d586e26-aac1-49df-a2ad-fe0a385a26bf,1031767,Sarah,Russell,13,2,10
18,93b7ac89-f9db-49b2-a1f2-c189fecc14ae,1034579,Wm H,Hazard,29,1,10
19,e51c36c9-570c-466d-aac1-bf380c9c20f1,1034579,Martha,Hazard,30,2,10
20,9250341a-8336-494a-bc84-2b803efe64c6,1034579,Willie May,Hazard,8,2,10
21,a70679f0-9313-4ef3-bf87-5dfe81beed5d,1034579,Samuel,Hazard,4,2,10
22,4715bbf6-d3e2-4260-9ddd-6aece147e5c1,1034579,Samuel,Morgan,32,1,10
23,77378570-5214-4ac5-8258-c5156e8b99b3,1034648,J Clauson,Mcfarland,20,1,10
24,6542b541-6e10-411f-9b2a-7c0b93b0aa68,1034648,Eugene,Mcfarland,18,1,10
25,396c4077-6a70-4a17-97fb-f8a0c06fdafe,1037015,Anna,Preston,39,2,10
26,7e9dde5e-3fad-4b2e-b367-643c0dc8cabb,1038208,Rebecca N,Alexander,49,2,10
27,f7d9e25f-c390-4222-ac24-4e93d72daa05,1038222,Martha,Ellis,37,2,10
28,24b7afa1-8c49-4833-8292-c545c85d3b89,1039117,Otillia,Zeider,34,2,10
29,4b416874-0c5c-4233-81ec-39223bc66f4f,1048673,Mary,Doyle,64,2,10
...,...,...,...,...,...,...,...
970,8d509da0-219a-475b-810f-efc69c333423,1345594,Reuben,Sapp,29,1,10
971,3a2c73f6-c3da-4b9b-8d30-33b0e0b39175,1345594,Lewis,Sapp,22,1,10
972,19019cce-31d5-40e2-9137-5dd512c3bca4,1345597,Calvin,Jarvis,25,1,10
973,2a538b49-1f89-4eed-90e1-33dd9a433dae,1345643,Lenzora,Jones,33,1,10
974,b029ba27-a9a8-4eeb-a1b1-420069c649b9,1345643,Anna,Jones,7,2,10
975,732e5217-59ae-40a3-97c6-755453c71a37,1345643,Addie,Jones,5,2,10
976,74faa32d-d78b-457b-9238-9a9c43fbc77c,1345643,Katie E,Jones,4,2,10
977,ddd71d74-340d-40ff-a33c-ddd862432003,1345643,Jas W,Jones,2,1,10
978,934289ec-815f-441e-b8c8-b03eb8b903fb,1345685,S C,Anderson,22,1,10
979,c81ef968-e90d-472a-90b2-b0ea665dd127,1345685,Lydia,Anderson,23,2,10
980,ea45ccad-67f8-4825-af70-d84ef56c9aa1,1345685,Gilbert,Anderson,0,1,10
981,7d59aab4-3092-409a-8628-021b589d7e24,1345693,E,Anderson,2,1,10
982,042b9780-301d-450f-87be-3836f35be815,1345693,Wm,Collison,26,1,10
983,43052bf5-45e9-41dc-b87e-fb45dcb3d854,1345712,Andrew,Sapp,36,1,10
984,634bee64-581f-4604-9898-ff258e4d8ab5,134572,John,Herdsman,25,1,10
985,898b1dcd-2c98-40f6-96e4-145c94246e6c,1345749,Lydia,Carter,34,2,10
986,657bddac-9249-4e70-96a3-b5ada29ccae7,1345753,Hezekiah,Sapp,27,1,10
987,58a68988-83e9-4979-bf22-772fb9d9d09a,1345753,Anna,Sapp,24,2,10
988,8583e696-0c39-484b-aa28-f863d2078837,1345753,Edgar,Sapp,3,1,10
989,6e22ca04-da0e-41ce-87dd-08ae1c19b6e9,1345753,Thos,Sapp,14,1,10
990,7db47b1b-1049-4d87-9615-c364e614ba64,1345781,Sylvania,Sylvester,26,2,10
991,5dcf2198-4f82-45aa-a53a-76b1c1c2ba9c,1345781,Anna S,Sylvester,4,2,10
992,201a67f3-9841-49b3-b25e-19454500777e,1345786,Nancy,Cahall,36,2,10
993,8a712489-5036-429e-84d8-b35ae107a95d,1345801,Harty,Wyatt,53,1,10
994,f6c37f98-5413-47f6-a25c-da5234505230,1345801,Sarah,Wyatt,33,2,10
995,f21b436d-1a09-4997-bbf5-ff84eeeff556,1345801,James,Wyatt,19,1,10
996,142840b0-6211-438f-a3a9-f34b23944aa7,1345818,Henry,Sapp,34,1,10
997,adec403c-b4bf-48a2-a5de-ccfd74eae6af,1345821,J R,Sapp,45,1,10
998,9631a25a-5bf8-4419-a1c4-786ff08e4c32,1346135,William H,Reed,51,1,10
999,7a1bc3bf-863d-4cfd-ac8e-46f2b1d5df36,1346181,Mary E,Peeler,27,2,10

In [3]:
df_1880 = pd.read_csv('1880_CT.csv')
df_1880

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL
0,a499b0dc-7ac0-4d61-b493-91a3036c712e,2484121231038,ANNIE,FAUBLE,26,2,10
1,ae7261c3-7d71-4ea1-997f-5d1a68c18777,2485245884791,MARY,REESE,35,2,10
2,ad6442b5-42bc-4c2e-a517-5a951d989a92,2485245884791,MARY,REESE,11,2,10
3,b0b6695f-dfa5-4e4d-bc75-798c27195fff,2485245884791,SALLY,REESE,9,2,10
4,9e807937-de09-414c-bfb2-ac821e112929,2485411231038,JOHN,SHIELDS,21,1,10
5,426f2cbe-32e1-45eb-9f86-89a2b9116b7e,2485411231038,ANNE,FAUBLE,26,2,10
6,a76697d9-b0c8-4774-bc3e-12a7e403c7e6,2485601231038,JOHN,COLLINS,17,1,10
7,3575c9ba-1527-4ca2-aff0-d7c2d1efb421,2485601231038,MAGGIE,COLLINS,16,2,10
8,49e53dbc-fe8e-4e55-8cb9-a1d93c284d98,2485601231038,MARY,COLLINS,12,2,10
9,50b33ef6-259d-43af-8cdc-56a61f881169,2486481554552,WILLIAM H.,SEWARD,54,1,10
10,952754a5-48b4-462a-ac57-e4a059a9ef98,2486951231038,ESTHER,BIERHAHN,40,2,10
11,ea6d77b3-2e2d-4c59-a0ac-6b297e8898e3,2488461231038,CHARLES,CLEVELAND,45,1,10
12,60a5052e-6d67-455a-a3aa-bb79560c7d8d,2489211231038,SUSAN,WILSON,60,2,10
13,0d4472ec-6378-4aeb-b6c7-17e1c388bb94,2489301231038,ARCHER,HARVEY,20,1,10
14,65ccbeb7-2c79-4fb0-b354-c67f150ad80c,2489831554552,ELIZABETH,MC LEAN,42,2,10
15,72cbe5fa-f558-4393-8423-1842fadf7f11,2490611554552,MARY A.,FLEMMING,73,2,10
16,44693008-fd6f-48fe-9c52-e6c07baff361,2490671231038,BESSIE,CHAMBERS,2,2,10
17,bcc0988e-2397-4f1b-8e76-4bfe1b05dbc6,2491501554552,THOMAS,GRAHAM,64,1,10
18,a7b10530-b7c9-44d5-9125-c603f392d6d3,2491801231038,EDWARD,DEKAY,35,1,10
19,1e635c1c-7faa-4270-acf3-a22635884b90,2492069772349,NATHEN,THORPE,74,1,10
20,d3217545-3453-4d96-86c0-d6a3e60fb2f8,2492741231038,JOB,FOSTER,26,1,10
21,2a35bae5-3120-4e2c-87da-694d4419c9ce,2492741231038,JEZEBEL,FOSTER,22,2,10
22,94460fc2-954b-469d-9726-f7126c30e5e2,2493391231038,ELIZA,GOODWIN,39,2,10
23,620b6ebb-82e6-42db-8aae-300ca2be0c00,2493391231038,MARY,GOODWIN,17,2,10
24,bfe1080e-2e67-4a8c-a6e1-ed94ea103712,2493391231038,JO,GOODWIN,15,1,10
25,7fb55d25-2a7d-486d-9efa-27b9d7e60c24,2493841231038,PHINEAS,TAYLOR,39,1,10
26,a0f33b36-cef7-4949-a031-22b90f1055d4,2494397652485,MARY A.,LORD,54,2,10
27,1a76745c-acf8-48a0-9992-7fb10c11710b,2494421231038,E.B.,ALLEN,21,1,10
28,7b6ba9cc-a38d-466e-921d-faa53ef96d2e,2494641554552,SAMUEL W.,LAYTON,49,1,10
29,4e434f95-5af2-4dca-a1ed-ed2489205907,2495121554552,ELIZA,JUSTISON,64,2,10
...,...,...,...,...,...,...,...
154848,2aa4df62-172d-4fac-a691-cdcf57e77a84,7674809046,JAMES P.,BLIZZARD,13,1,10
154849,b866a841-77b8-4632-aaf7-86c2ac5873c4,7674809046,CHARLES E.,BLIZZARD,1,1,10
154850,951c41c7-d6c7-457a-aacc-7f1fa1c1478d,76749368672,JOHN S.,CARPENTER,31,1,10
154851,325ee515-30fa-4de1-9fac-1c6b370ec5d7,7675809046,NATHANIEL,INGRAHAMS,74,1,10
154852,4b659bac-fd8e-446d-b2da-6e63cb001712,7675809046,MARTHA C.,INGRAHAMS,28,2,10
154853,877016da-20f2-48d3-980d-90217473ce26,7675809046,MOLLIE A.,INGRAHAMS,9,2,10
154854,d482353a-27e4-4e35-9298-f43735b89fae,7675809046,JOHN L.,INGRAHAMS,6,1,10
154855,9fbc5ed5-4056-4a32-84cb-089f665fe0a7,7675809046,MATTE,INGRAHAMS,4,2,10
154856,140dc53c-aab1-4eee-b500-f0512b30571a,7676809046,CATHERINE B.,DUTTON,52,2,10
154857,d9aeea00-9776-41e5-ac5e-1b0b9624ec87,7676809046,WILLIAM J.,DUTTON,23,1,10
154858,074d3748-b1cc-422d-aa5c-e08e5fc403a3,7676809046,JOHN L.,DUTTON,20,1,10
154859,11502b6d-10c6-4d1a-95f6-3026122a1e92,7676809046,LYDIA H.,DUTTON,16,2,10
154860,5f26c014-5a2d-4807-9073-19c6d419269f,7676809046,HANNAH E.,DUTTON,16,2,10
154861,9238abf9-5d0c-472a-8ed1-811ba1338d0c,7676809046,WILLIAM,LEWIS,40,1,10
154862,a11a2c53-010e-42f8-8ad1-8d3215583740,7677809046,PETER J.,WILSON,48,1,10
154863,f5ddbbaa-d2f4-418d-8d70-d1e102701868,7677809046,WILLIAM T.,WILSON,16,1,10
154864,2d4a98e5-1f2f-4909-b816-a4314850eddc,7677809046,EBE M.,WILSON,13,1,10
154865,5da59721-1e0c-47b5-b35c-566ccfb588da,7677809046,THOMAS P.,WILSON,10,1,10
154866,1ed5b72c-0b04-47d5-828b-22f735a164cb,7677809046,THOMAS P.,WILSON,50,1,10
154867,b70926c4-1061-4c2e-aee5-8e24279fa1e2,7678809046,VIRDEN,MACKLIN,52,1,10
154868,e1ff4c42-41fb-4e01-904a-caa992f67959,7678809046,ELIZABETH,MACKLIN,51,2,10
154869,b9ad7c27-b310-4adc-8ebb-595531344073,7678809046,WILLIAM,MACKLIN,21,1,10
154870,3975183e-13e9-4fc2-bcb5-a726c48bc200,7678809046,SEYMORE,MACKLIN,14,1,10
154871,35b80c73-9f04-46ba-a55f-d1eca850c378,7678809046,SALLIE,MACKLIN,80,2,10
154872,4ba77259-a4d0-44ba-bc7b-53c6b845825b,7679809046,THOMAS,WILSON,45,1,10
154873,fbfa6568-5012-43a4-84ea-38f57994e3cd,7679809046,JANE E.,WILSON,25,2,10
154874,a7922fe9-4f83-4f71-a63a-8b2964a3610f,7679809046,LAURA,WILSON,12,2,10
154875,8bff1989-12bd-4d1c-a9b3-717e503a7ed4,7679809046,ELZEY,WILSON,10,1,10
154876,4a940747-ee50-4d75-9d29-d1dadfe19e8e,7679809046,MARY G.,WILSON,8,2,10
154877,1be418f3-6fc4-4ca3-8632-d43e60400c95,7679809046,SARAH A.,WILSON,3,2,10

### Before I get started with the exercises, I want to get to know the data a little bit better.  
I know the name fields are going to have some inconsistencies (because I've looked at digitized censuses and the corresponding transcribed data while doing genealogical research, and I know how messy they are - handwritten, inconsistent, varying levels of literacy of data collector and respondent...), but I want to get a feel for the numeric data.

In [4]:
df_1870['AGE'].describe()

count    1000.00000
mean       41.63800
std        18.67007
min         0.00000
25%        27.00000
50%        42.00000
75%        55.25000
max        86.00000
Name: AGE, dtype: float64

In [5]:
df_1880['AGE'].describe()

count    154878.000000
mean         26.556974
std          21.881955
min           0.000000
25%          10.000000
50%          22.000000
75%          39.000000
max         999.000000
Name: AGE, dtype: float64

#### This is strange... there's a max age value for the 1880 data of 999.  I want to see what's up with that a bit more...

In [6]:
df_1880.sort_values(['AGE'],ascending=False)

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL
105873,d40ab76b-f5ba-4a06-842b-b8027f0c020a,22732809046,J,GRIFFITH,999,2,10
3243,f89ed062-ad2c-466d-99cc-458d87ee8f5d,3702832157662,JOSIAH,WATKINS,999,1,10
113795,ba8f846f-9dae-4af5-9963-cb42f422c7d0,14435809046,FRANCIS,LEVERING,999,1,10
113794,8f119f14-5ffa-436b-bedc-fef5fd39aa7e,14435809046,LARA M.,LEVERING,999,2,10
113793,d6f9f632-eaff-4d11-9630-e3455a408651,14435809046,WILLIAM H.,LEVERING,999,1,10
17406,5ed438e2-42ab-4aa3-8776-54028e657676,973194305597,M. E.,COLLINS,999,2,10
17679,8aaf38c6-df69-46c3-bfc8-ed17bb968388,1028623643712,CALAB,SMITH,999,1,10
131479,e62c6f82-cbbb-4360-a9aa-abffeac6a8a4,13546809046,EMMA,WEER,999,2,10
74217,f2435220-bb39-414a-b512-b8329c35c6dc,67809046,---,TAYLOR,999,2,10
77026,c958f4bd-d3a3-4cce-8ee7-a5525ba3ffd9,14313809046,ANNIE,ERNEST,999,2,10
14330,33dc2345-dc9a-4bcd-a67f-b01b6848bd11,6005377652485,JENNY,GIBBS,999,2,10
50337,b7e36892-cff1-45b1-b902-604970965307,322945604765,MARY,PURNELL,999,2,10
131647,3b41b9cb-9778-40b4-b8ee-d6417dbd2e04,13588809046,JOSEPH,FORWOOD,999,1,10
108433,b55df39c-a3ed-4390-a145-174e358c25b7,7759809046,MARY A.,TRESOITT,999,2,10
144660,e1eda83d-b826-48b3-b14c-0fdf7040d09e,2378809046,ANNIE P.,LAWSON,999,2,10
121885,8b17e3a9-be93-4313-a640-19de03981e63,22906809046,MOLLIE,ROGERS,118,2,10
29948,af4bd635-566f-41eb-be79-8562fffaeec4,2021915604765,RACHEL,BROWN,115,2,10
129584,a72989b7-7ea9-4728-a0f4-57d2e0b4498a,12922809046,RACHEL,TURNER,114,2,10
87953,3929f502-6018-4c86-82a1-64d7fc5d94db,19560,WILLIAM,VINZANT,113,1,10
1680,dec8a07f-afd8-40b6-af7e-0549abb6f77a,10420265884791,LASIA A.,SHORT,111,2,10
484,3e672675-71b5-48b5-afae-8ecd7bffce78,2711441231038,MARY,BLACK,109,2,10
128566,622d7607-4855-4602-83e3-35a8f6c78b4d,6021809046,MATILDA,GIBBS,107,2,10
86074,e76447b4-02fe-472c-b413-a13c3bcd06a9,2044937652485,MARY,GROSS,106,2,10
19507,48648224-6977-4a7d-960d-a7ff8582c009,448626967832,JOSHUA,TATMAN,104,1,10
77611,0d860dd9-d40f-43e3-b266-ea924edec663,289809046,ANN,DENNEY,102,2,10
27642,b0c6a380-be5e-4f50-9cbe-f6ae94e1f573,560106967832,PATIENCE,BAILEY,101,2,10
6812,41432b2a-0d8d-4e18-9ef2-5bf7f6ced166,2059635604765,JEMIMA,WATTS,100,2,10
7189,9cb25278-5c87-4433-9410-006c129f0c92,2077107652485,JULIE,WILSON,100,2,10
110652,df77dad4-2b12-4c28-9391-a0b1a31858f7,3753809046,DINAH,DORMAN,100,2,10
149243,fc5d125e-199d-4377-a4c3-5f327fcf5031,12337809046,HANNAH,ALLEN,100,2,10
...,...,...,...,...,...,...,...
151456,77b04afe-fd39-47c5-949b-ccc4527e4c9b,7839809046,LULU,PEPPER,0,2,10
103480,9d3d8814-69b5-4218-b51f-b4ed38b0abae,25638809046,CHARLES W.,CONKEY,0,1,10
58018,9d078249-bc66-469c-a68f-3afe6dae2d09,4014809046,FLORANCE L.,COLLISON,0,2,10
103457,8df6e169-7c5c-4984-b409-ea89613c9626,25632809046,BERTHA,VANSANT,0,2,10
103556,f6f65511-3a00-46cc-b2fa-fcda8369f1eb,25660809046,ELMER,SAYRES,0,1,10
103452,a518c5af-d470-4032-8724-e28c38aa1f75,25630809046,ANNA L.,VANSANT,0,2,10
58045,b2824ffa-669f-446a-b54b-adbd897a7ba0,12515809046,GEORGE T.,HARRIS,0,1,10
103434,72d071a9-9c49-4afb-81a6-061ba0306961,25627809046,WILLIAM,SMITH,0,1,10
103430,73a93971-ac5e-450d-b9a8-91e609c8c81e,25626809046,MARY,OGRAM,0,2,10
58088,16a3a0ee-12da-48a2-a042-1463d5349770,12526809046,ANNIE,ROBINSON,0,2,10
151443,1812ae24-d88c-40d4-87dc-d1f38162c14a,7837809046,ARAMENTA,REED,0,2,10
57959,a889d0e6-0cca-4324-8a6a-21c47ea46636,4003809046,NELLA B.,RASH,0,2,10
145855,a4e1ebcb-edae-4e94-9451-d1a6ff3a9759,10270809046,GEORGE C. T.,JERMAN,0,1,10
57707,9c9a4206-1d09-4d24-9a39-b66bd8d43395,3947809046,IDA M.,LYNCH,0,2,10
151475,7178f7e9-1709-48b6-8fe1-53b63cc5d7b2,7843809046,HANNAH,HEAVELOW,0,2,10
57712,72c44cc4-354a-4390-afba-4a68b58dc9ac,3948809046,SARAH E.,LEWIS,0,2,10
57715,9edb39a7-692d-4d41-ab9e-e8d2f06dc1fe,3949809046,ARTHUR,LEWIS,0,1,10
57735,f88989f5-a9e8-4788-985b-69e289f54338,3955809046,EDITH,SIMPSON,0,2,10
103697,18a3984a-3f3a-43e1-bc3e-6d925be8c0ab,25702809046,ELIZABETH L.,SINCLAIR,0,2,10
103677,dfae64de-9c2a-43ab-b7e5-1892ac1c0cd1,25695809046,GEORGE D.,PAGUE,0,1,10
57851,64bfb7b8-266b-45fc-a471-c85fd381429f,3982809046,ARTHUR E.,LEGATE,0,1,10
57869,2902a6b3-f706-4072-82f8-d249762ed507,3988809046,MARY,THARP,0,2,10
57930,19aeec27-468c-40d4-ae2c-4bb638c88770,3996809046,BESSIE,WOLLER,0,2,10
103643,9058a886-eb04-41dd-b18c-104808f1cb12,25684809046,EUGENE,CARTY,0,1,10
57875,243bcbd8-c704-4071-89b7-4eb590b5ed75,3989809046,PETER,CALAWAY,0,1,10
103626,0fc1cfd1-8114-46bd-ad61-e40dea5bd7f8,25680809046,REBECCA,HALL,0,2,10
145849,38e2b2a0-b26e-4067-9211-679ba72ca01f,10269809046,JAMES L.,MORRIS,0,1,10
57923,d14e51b9-40b3-4923-bfee-087ed17f960a,3995809046,LAURA,WORKMAN,0,2,10
151467,66f59d7e-a656-47b5-b137-a1a72f507f3c,7841809046,FLORENCE M.,SIRWITHIN,0,2,10
77439,6bcd4a25-d67a-4d3e-9d38-2959617b43ab,260809046,GEORGE F.,SCOTT,0,1,10

In [7]:
df_1870[df_1870.isnull().any(axis=1)]

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL
383,061747b7-7da4-4205-998c-d2ab43d4126c,1192416,NaN,Hinton,51,2,10
386,09d433e3-77f6-49fd-b110-78a7c49d1355,1192651,NaN,Gains,22,2,10
389,1bd75466-4a38-4483-a5d8-41fa8f4780a0,1192731,NaN,Askins,54,2,10
717,0291cf13-8940-41aa-a8e6-920eb1726ae3,1298607,NaN,Knowls,42,1,10

In [8]:
df_1880[df_1880.isnull().any(axis=1)]

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL
57086,8d9bc915-8d86-4ffa-9aa5-cfb3631e7f3f,5731257652485,MARY G.,NaN,32,2,10
57087,44bc5277-d530-4b75-be76-9e01616b7e69,5731257652485,BERTHA,NaN,6,2,10

#### I looked at the data documentation (https://usa.ipums.org/usa-action/variables/AGE#codes_section) and didn't see 999 in the codebook.
But, based on this pattern in the data, and given that there are no empy/null values in the AGE data, I'm assuming it represents unknown or missing data.  I'll want to make sure to consider that in any age comparisons.

The only elements where I'm finding null values is in first names in the 1870 census and last names in the 1880 census.  I'll need to keep this in mind when processing for name matches.

In [9]:
df_1870['NAMEFRST'].sort_values()

431             A
101           A B
433           A G
542       Abraham
618         Abram
171       Adaline
641       Adaline
859         Addie
975         Addie
679        Adeade
843         Agnes
263        Albert
379        Albert
663      Albert C
422      Albert G
652          Alex
161     Alexandra
15         Alfred
658         Alice
65          Alice
322         Allen
239        Almira
181        Almira
755        Alonzo
454        Amanda
853        Amanda
47          Amnie
906          Amos
924           Amy
870         Amy A
          ...
724     William H
701     William P
847     William R
856     William S
851     William T
412     William T
940       Willian
114       Willian
949        Willie
20     Willie May
644      Willmina
982            Wm
782            Wm
52             Wm
584            Wm
591            Wm
918            Wm
188            Wm
87           Wm B
496          Wm H
405          Wm H
18           Wm H
873          Wm J
523          Wm T
345     Zarkerich
561         Zilla
383           NaN
386           NaN
389           NaN
717           NaN
Name: NAMEFRST, Length: 1000, dtype: object

In [10]:
df_1880['NAMEFRST'].sort_values()

50563             *
47446             *
43540             *
47272             *
21163             *
62776             *
62916             *
62922             *
74498           ---
74469           ---
83021           ---
52082           ---
23286           ---
74217           ---
74132           ---
95940           ---
96399           ---
22975           ---
52625           ---
1758            ---
83312           ---
52880           ---
52890           ---
73914           ---
89213           ---
82838           ---
149589          ---
115033          ---
116757          ---
26874           ---
            ...
148449     ZIPPORAH
776           ZIPPY
109481      ZITO M.
96505          ZONA
151027        ZONIE
154529      ZOPHART
151312         ZORA
75696          ZORA
147076         ZORA
146770         ZORA
74252       ZORA C.
81008       ZORA C.
146717      ZORA G.
73973       ZORA M.
115233      ZORA P.
117803        ZORAH
76097         ZORAH
117810        ZORAH
93253      ZORAH C.
93257      ZORAH E.
93363      ZORAH H.
93204      ZORAH M.
153681     ZORAH T.
142816       ZORBRA
85987     ZOROBABEL
111296      ZOVE Y.
89749         ZUELE
102436      ZULA M.
114784      ZURA E.
93730       ZURITTA
Name: NAMEFRST, Length: 154878, dtype: object

Oooooh, yuck, look at those non-null text values that probably represent missing information (?).  I want to replace those with NaNs.

In [11]:
df_1880['NAMEFRST'] = df_1880['NAMEFRST'].apply(lambda x: np.nan if (x == '*') else x)
df_1880['NAMEFRST'].sort_values()

83312           ---
92699           ---
29602           ---
117722          ---
73682           ---
148397          ---
92872           ---
93008           ---
93087           ---
63575           ---
47325           ---
22975           ---
148428          ---
73643           ---
93315           ---
63576           ---
117221          ---
139774          ---
29411           ---
40650           ---
73914           ---
40649           ---
93448           ---
132490          ---
40631           ---
74132           ---
139730          ---
117274          ---
148367          ---
73563           ---
            ...
147076         ZORA
151312         ZORA
81008       ZORA C.
74252       ZORA C.
146717      ZORA G.
73973       ZORA M.
115233      ZORA P.
117803        ZORAH
76097         ZORAH
117810        ZORAH
93253      ZORAH C.
93257      ZORAH E.
93363      ZORAH H.
93204      ZORAH M.
153681     ZORAH T.
142816       ZORBRA
85987     ZOROBABEL
111296      ZOVE Y.
89749         ZUELE
102436      ZULA M.
114784      ZURA E.
93730       ZURITTA
21163           NaN
43540           NaN
47272           NaN
47446           NaN
50563           NaN
62776           NaN
62916           NaN
62922           NaN
Name: NAMEFRST, Length: 154878, dtype: object

In [12]:
df_1880['NAMEFRST'] = df_1880['NAMEFRST'].apply(lambda x: np.nan if (x == '---') else x)
df_1880['NAMEFRST'].sort_values()

124307         --- J.
93282          ... A.
34065          ... A.
66955     ... MATILDA
35448          ... W.
9400         ...YLAND
67347         ???AMAR
33747               A
4673              A J
147704             A.
33837              A.
94994              A.
121592             A.
76270              A.
36155              A.
59761              A.
10576              A.
7540               A.
33796              A.
134639             A.
62979              A.
43213              A.
61350              A.
139564             A.
139561             A.
138215             A.
4570               A.
121693             A.
87852              A.
128227             A.
             ...
139598            NaN
139730            NaN
139774            NaN
141260            NaN
141393            NaN
143558            NaN
144600            NaN
145762            NaN
147871            NaN
148367            NaN
148397            NaN
148428            NaN
149338            NaN
149490            NaN
149491            NaN
149542            NaN
149562            NaN
149589            NaN
149684            NaN
149922            NaN
151177            NaN
152890            NaN
153606            NaN
154060            NaN
154113            NaN
154150            NaN
154206            NaN
154229            NaN
154285            NaN
154385            NaN
Name: NAMEFRST, Length: 154878, dtype: object

I'll call that good enough for now, knowing that there are other messy things still present.

In [13]:
df_1870['SEX'].value_counts()

1    565
2    435
Name: SEX, dtype: int64

In [14]:
df_1880['SEX'].value_counts()

1    77681
2    77197
Name: SEX, dtype: int64

#### From this, it looks like there are no unknown values (code 9 per exercise documentation) in the 'SEX' data.

In [15]:
df_1870['BPL'].value_counts()

10    1000
Name: BPL, dtype: int64

In [16]:
df_1880['BPL'].value_counts()

10    154878
Name: BPL, dtype: int64

#### I've noticed that the value for BPL is consistently "10" across the data sets.  
I double-check the code-book to make sure this corresponds to Connecticut, but it seems to correspond with **Delaware** (Connecticut is listed as code 009).  Since this is consistent across the data sets and this isn't going to affect the content of the rest of the exercise \[which birthplace is represented in the data doesn't matter for developing a matching algorithm, as long as the data will contain matches we are looking for\], but I'm going to ignore it but note it for inclusion in the final report.

### Ok, now on to the actual exercise!
At this point, I knew both the data sets were small enough to open in Excel.  I know Excel is a very quick tool for me, and I can filter loosely very efficiently.

Using the import data from text feature in Excel, I imported the 1880 CSV data into a workbook.  I sorted the sheet in ascending order by two ordered factors: NAMELAST, NAMEFRST.  I then turned on filters for the name columns.  I typed in "bee" and then selected the names that came up that were similar to "BEEBE" which were BEBEE, BEE, BEEBE, and BEEBY. This presented a subset of the data of 24 rows.  I noticed right away that there was a row with the name "CATHERINE".  The Catherine Beebe we were looking for was 44 years old and coded as female in the 1870 census, and the match we found gives this Catherine Beebe's age as 54 and codes her as female, so this seems like a pretty high confidence match.

But I wanted to try doing the same thing with regular expressions, too.

In [17]:
df_1880_ln = df_1880[df_1880.NAMELAST.notnull()]
df_1880_ln

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL
0,a499b0dc-7ac0-4d61-b493-91a3036c712e,2484121231038,ANNIE,FAUBLE,26,2,10
1,ae7261c3-7d71-4ea1-997f-5d1a68c18777,2485245884791,MARY,REESE,35,2,10
2,ad6442b5-42bc-4c2e-a517-5a951d989a92,2485245884791,MARY,REESE,11,2,10
3,b0b6695f-dfa5-4e4d-bc75-798c27195fff,2485245884791,SALLY,REESE,9,2,10
4,9e807937-de09-414c-bfb2-ac821e112929,2485411231038,JOHN,SHIELDS,21,1,10
5,426f2cbe-32e1-45eb-9f86-89a2b9116b7e,2485411231038,ANNE,FAUBLE,26,2,10
6,a76697d9-b0c8-4774-bc3e-12a7e403c7e6,2485601231038,JOHN,COLLINS,17,1,10
7,3575c9ba-1527-4ca2-aff0-d7c2d1efb421,2485601231038,MAGGIE,COLLINS,16,2,10
8,49e53dbc-fe8e-4e55-8cb9-a1d93c284d98,2485601231038,MARY,COLLINS,12,2,10
9,50b33ef6-259d-43af-8cdc-56a61f881169,2486481554552,WILLIAM H.,SEWARD,54,1,10
10,952754a5-48b4-462a-ac57-e4a059a9ef98,2486951231038,ESTHER,BIERHAHN,40,2,10
11,ea6d77b3-2e2d-4c59-a0ac-6b297e8898e3,2488461231038,CHARLES,CLEVELAND,45,1,10
12,60a5052e-6d67-455a-a3aa-bb79560c7d8d,2489211231038,SUSAN,WILSON,60,2,10
13,0d4472ec-6378-4aeb-b6c7-17e1c388bb94,2489301231038,ARCHER,HARVEY,20,1,10
14,65ccbeb7-2c79-4fb0-b354-c67f150ad80c,2489831554552,ELIZABETH,MC LEAN,42,2,10
15,72cbe5fa-f558-4393-8423-1842fadf7f11,2490611554552,MARY A.,FLEMMING,73,2,10
16,44693008-fd6f-48fe-9c52-e6c07baff361,2490671231038,BESSIE,CHAMBERS,2,2,10
17,bcc0988e-2397-4f1b-8e76-4bfe1b05dbc6,2491501554552,THOMAS,GRAHAM,64,1,10
18,a7b10530-b7c9-44d5-9125-c603f392d6d3,2491801231038,EDWARD,DEKAY,35,1,10
19,1e635c1c-7faa-4270-acf3-a22635884b90,2492069772349,NATHEN,THORPE,74,1,10
20,d3217545-3453-4d96-86c0-d6a3e60fb2f8,2492741231038,JOB,FOSTER,26,1,10
21,2a35bae5-3120-4e2c-87da-694d4419c9ce,2492741231038,JEZEBEL,FOSTER,22,2,10
22,94460fc2-954b-469d-9726-f7126c30e5e2,2493391231038,ELIZA,GOODWIN,39,2,10
23,620b6ebb-82e6-42db-8aae-300ca2be0c00,2493391231038,MARY,GOODWIN,17,2,10
24,bfe1080e-2e67-4a8c-a6e1-ed94ea103712,2493391231038,JO,GOODWIN,15,1,10
25,7fb55d25-2a7d-486d-9efa-27b9d7e60c24,2493841231038,PHINEAS,TAYLOR,39,1,10
26,a0f33b36-cef7-4949-a031-22b90f1055d4,2494397652485,MARY A.,LORD,54,2,10
27,1a76745c-acf8-48a0-9992-7fb10c11710b,2494421231038,E.B.,ALLEN,21,1,10
28,7b6ba9cc-a38d-466e-921d-faa53ef96d2e,2494641554552,SAMUEL W.,LAYTON,49,1,10
29,4e434f95-5af2-4dca-a1ed-ed2489205907,2495121554552,ELIZA,JUSTISON,64,2,10
...,...,...,...,...,...,...,...
154848,2aa4df62-172d-4fac-a691-cdcf57e77a84,7674809046,JAMES P.,BLIZZARD,13,1,10
154849,b866a841-77b8-4632-aaf7-86c2ac5873c4,7674809046,CHARLES E.,BLIZZARD,1,1,10
154850,951c41c7-d6c7-457a-aacc-7f1fa1c1478d,76749368672,JOHN S.,CARPENTER,31,1,10
154851,325ee515-30fa-4de1-9fac-1c6b370ec5d7,7675809046,NATHANIEL,INGRAHAMS,74,1,10
154852,4b659bac-fd8e-446d-b2da-6e63cb001712,7675809046,MARTHA C.,INGRAHAMS,28,2,10
154853,877016da-20f2-48d3-980d-90217473ce26,7675809046,MOLLIE A.,INGRAHAMS,9,2,10
154854,d482353a-27e4-4e35-9298-f43735b89fae,7675809046,JOHN L.,INGRAHAMS,6,1,10
154855,9fbc5ed5-4056-4a32-84cb-089f665fe0a7,7675809046,MATTE,INGRAHAMS,4,2,10
154856,140dc53c-aab1-4eee-b500-f0512b30571a,7676809046,CATHERINE B.,DUTTON,52,2,10
154857,d9aeea00-9776-41e5-ac5e-1b0b9624ec87,7676809046,WILLIAM J.,DUTTON,23,1,10
154858,074d3748-b1cc-422d-aa5c-e08e5fc403a3,7676809046,JOHN L.,DUTTON,20,1,10
154859,11502b6d-10c6-4d1a-95f6-3026122a1e92,7676809046,LYDIA H.,DUTTON,16,2,10
154860,5f26c014-5a2d-4807-9073-19c6d419269f,7676809046,HANNAH E.,DUTTON,16,2,10
154861,9238abf9-5d0c-472a-8ed1-811ba1338d0c,7676809046,WILLIAM,LEWIS,40,1,10
154862,a11a2c53-010e-42f8-8ad1-8d3215583740,7677809046,PETER J.,WILSON,48,1,10
154863,f5ddbbaa-d2f4-418d-8d70-d1e102701868,7677809046,WILLIAM T.,WILSON,16,1,10
154864,2d4a98e5-1f2f-4909-b816-a4314850eddc,7677809046,EBE M.,WILSON,13,1,10
154865,5da59721-1e0c-47b5-b35c-566ccfb588da,7677809046,THOMAS P.,WILSON,10,1,10
154866,1ed5b72c-0b04-47d5-828b-22f735a164cb,7677809046,THOMAS P.,WILSON,50,1,10
154867,b70926c4-1061-4c2e-aee5-8e24279fa1e2,7678809046,VIRDEN,MACKLIN,52,1,10
154868,e1ff4c42-41fb-4e01-904a-caa992f67959,7678809046,ELIZABETH,MACKLIN,51,2,10
154869,b9ad7c27-b310-4adc-8ebb-595531344073,7678809046,WILLIAM,MACKLIN,21,1,10
154870,3975183e-13e9-4fc2-bcb5-a726c48bc200,7678809046,SEYMORE,MACKLIN,14,1,10
154871,35b80c73-9f04-46ba-a55f-d1eca850c378,7678809046,SALLIE,MACKLIN,80,2,10
154872,4ba77259-a4d0-44ba-bc7b-53c6b845825b,7679809046,THOMAS,WILSON,45,1,10
154873,fbfa6568-5012-43a4-84ea-38f57994e3cd,7679809046,JANE E.,WILSON,25,2,10
154874,a7922fe9-4f83-4f71-a63a-8b2964a3610f,7679809046,LAURA,WILSON,12,2,10
154875,8bff1989-12bd-4d1c-a9b3-717e503a7ed4,7679809046,ELZEY,WILSON,10,1,10
154876,4a940747-ee50-4d75-9d29-d1dadfe19e8e,7679809046,MARY G.,WILSON,8,2,10
154877,1be418f3-6fc4-4ca3-8632-d43e60400c95,7679809046,SARAH A.,WILSON,3,2,10

In [18]:
df_1880_ln_BEEB = df_1880_ln[df_1880_ln['NAMELAST'].str.contains('^BE*B', regex=True)]
df_1880_ln_BEEB

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL
2795,13d2fde6-7204-4edb-85c8-29f68ef48125,3380005884791,RICHARD,BEEBE,66,1,10
12405,75bfae61-74bf-4e55-95af-e0050b3e5129,5053317652485,MARY A.,BEEBY,44,2,10
15044,fa40d34f-88f5-4709-8562-dd62ce2dc615,3026311554552,EMMA A. E.,BEEBE,44,2,10
21254,2926897b-52d6-4d79-8759-be49b7842034,2908057652485,RACHAEL,BEEBY,41,2,10
29956,32a0280b-9472-416f-bec5-f45938b7c5d7,2022342157662,GEORGE,BEEBE,27,1,10
35249,7864272b-29f9-405a-9fdc-7fe135a49a9e,10894809046,CLARRENCE,BEEBE,30,1,10
35250,9321c389-d2d4-47eb-a330-53c1eda1a7d9,10894809046,SUSAN O.,BEEBE,30,2,10
43285,f7946b71-ff8a-441b-a37f-e086d6a6a048,1283321554552,CATHERINE,BEEBE,54,2,10
54362,8d7654ae-eef8-46da-8417-7beb8517cd5a,11239397009,NANCY,BEEBY,50,2,10
56654,2ad39145-e58c-424a-b73b-0017777ccda7,5698857652485,MARTHA,BEEBE,24,2,10
79721,68a05de4-ff75-4ac2-b35f-60d9410cf53a,5759997652485,MARGARET,BEBAN,51,2,10
101048,011a85b6-f04d-4882-ba83-7d6adf2d47a1,10860809046,JAMES C.,BEEBE,56,1,10
101049,c08b4ea6-e2b4-4e9d-a756-1a2ad7924ffa,10860809046,ANNIE M.,BEEBE,58,2,10
101050,4bde3cdb-3fd4-42b9-994e-a141483a6b6c,10860809046,MARTHA,BEEBE,26,2,10
101051,0767eceb-c479-489c-9890-69f5dd82f0b3,10860809046,RICHARD,BEEBE,24,1,10
101052,091dc005-5c99-42c4-8db8-fd83ea3aaed4,10860809046,GEORGE ANNIE,BEEBE,21,2,10
101053,5cccdb90-3b07-42d4-9b57-72db200d56f2,10860809046,HANNAH,BEEBE,19,2,10
140208,025bb803-4c10-41e3-8d54-ed05fe31bf2c,12133809046,ELIZABETH,BEBEE,40,2,10
140209,6d76ebe2-bbf6-4f92-b656-10a8efdf3af1,12133809046,JAMES H.,BEBEE,19,1,10
140210,27a2de35-252d-4d46-a5c1-f4e9787def14,12133809046,RACHAEL A.,BEBEE,16,2,10
140211,4f55db9c-f7dd-48fc-a678-e6f54ec313f6,12133809046,ARTHUR R.,BEBEE,14,1,10
140212,e1005ff1-fd26-4d2f-bcae-3bb7e35ea6d4,12133809046,GILBERT M.,BEBEE,12,1,10
140213,166b6b80-8545-4ad9-8108-c45ced135e68,12133809046,LYDIA,BEBEE,9,2,10
140214,2f4b12ad-52e1-4673-92a2-be4cc4a454c2,12133809046,PARKER R.,BEBEE,5,1,10

In [19]:
df_1880_ln_BEEB = df_1880_ln_BEEB[df_1880_ln_BEEB.NAMEFRST.notnull()]
df_1880_ln_BEEB_CA = df_1880_ln_BEEB[df_1880_ln_BEEB['NAMEFRST'].str.contains('^CA',regex=True)]
df_1880_ln_BEEB_CA

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL
43285,f7946b71-ff8a-441b-a37f-e086d6a6a048,1283321554552,CATHERINE,BEEBE,54,2,10

### Part 2: Find the next two records.
I am looking for "France E Bird" and "J S Luff" from the 1870 census in the 1880 data.
Time to break out the Jaro Winkler comparison function from the jellyfish library.
I decide to run the function separately on first and last name columns, although I am making a note to read up on best practice for this (should I combine the name parts? I know this would make the script run faster, but would it be at the expense of accuracy?)

In [20]:
df_1880_ln['ln_dist'] = df_1880_ln['NAMELAST'].apply(lambda x: jf.jaro_winkler('BIRD', x))
df_1880_ln.sort_values('ln_dist', inplace=True, ascending=False)
df_1880_ln

C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL,ln_dist
113547,0b96e1b0-4cf5-43c1-833e-591f0c35d549,14366809046,BERTHA,BIRD,5,2,10,1.0
75442,22d6bb2b-e362-4931-b39f-fa28c1ce60e7,26395809046,ELIZABETH F.,BIRD,20,2,10,1.0
2129,e8e5f459-3ac1-4fdf-8eb0-99dcad018ecd,4624505884791,MARY C.,BIRD,39,2,10,1.0
2128,d2abe64d-ce08-4e06-88a8-37724681d78e,4624505884791,CHARLES,BIRD,41,1,10,1.0
50938,56161796-1a82-42f5-8921-6b299bca0cd6,13614809046,THOMAS,BIRD,42,1,10,1.0
50939,5354c02b-baf2-4321-a4a5-154658f822c5,13614809046,ELLEN B.,BIRD,50,2,10,1.0
50940,1a82ac9d-0a57-41c6-b4d3-e43a9ced0f39,13614809046,THOMAS I.,BIRD,12,1,10,1.0
44457,1eb4fb6f-5fef-406c-b679-32ba9b2edfc0,17236809046,JULIAME C.,BIRD,72,2,10,1.0
50942,893e3b48-5e03-4ca7-849a-2c85dea2585e,13614809046,MARGARETTA,BIRD,30,2,10,1.0
75447,f6f865a6-f1ce-4280-aedf-47f531f98b3a,26396809046,MAXWELL H.,BIRD,1,1,10,1.0
75446,23d2890e-d6fa-45d3-ad21-abe4d9f3f6a7,26396809046,JAMES W.,BIRD,26,1,10,1.0
75441,5688121c-b56e-4d93-afc1-4840ef52e18c,26395809046,THOMAS,BIRD,54,1,10,1.0
50936,4ef66fcb-b394-4a94-a955-11bba05bf95e,13614809046,WILLIAM,BIRD,79,1,10,1.0
50980,cb63518d-8968-4a6d-9d50-c2f4cd460587,13628809046,HARRY C.,BIRD,31,1,10,1.0
50981,cfc1849c-db68-4f77-bfc9-3f331d9bbd89,13628809046,ELIZABETH J.,BIRD,31,2,10,1.0
50982,6faecc55-09c0-4a81-a890-375099fae339,13628809046,MARY W.,BIRD,4,2,10,1.0
10688,73e9d61d-53fb-4631-b860-1132d91a435d,795739397009,HENRY D.,BIRD,71,1,10,1.0
6465,b152ccdf-0a2c-4203-bfa4-611dcfadf0a0,6708617652485,SALLIE,BIRD,29,2,10,1.0
24630,0c154864-c514-42b3-ad79-5c64ba135f43,21443774547,JAMES C.,BIRD,51,1,10,1.0
24631,30c95469-317a-4131-b084-bc3d9bf23c96,21443774547,CAROLINE W.,BIRD,46,2,10,1.0
1640,9f638d67-3533-4886-9e2e-f9f6e87ca771,9996965884791,FANNIE E.,BIRD,50,2,10,1.0
51055,e1f1ccce-12cd-4dbb-9299-bf5e970b8d31,13651809046,ATWOOD,BIRD,28,1,10,1.0
50937,a2c95fc4-6f48-4a2e-a17d-f969dc17dce0,13614809046,JULIANN,BIRD,68,2,10,1.0
130422,2e642771-e8b7-45a0-84ef-8b50bb0a7538,24595809046,CHAS. M.,BIRD,48,1,10,1.0
146466,0358db3c-1a19-4635-b576-379393140ad3,4785408345,HARROLD,BIRD,24,1,10,1.0
113545,9476ee87-7eef-4a8c-8bac-869f1971b2a6,14366809046,MARY,BIRD,9,2,10,1.0
11807,f328d047-82f9-45e8-83ed-080cd9e2ab59,3923121554552,AMOS,BIRD,71,1,10,1.0
8807,d0c05c8b-5d31-44a8-b27e-8c66a17b3ae9,1458533643712,HENRY B.,BIRD,48,1,10,1.0
131351,682252b2-aae8-4c53-9883-205f3c0d92b4,13519809046,REBECCA J.,BIRD,20,2,10,1.0
131350,cbf61b92-3db6-4ec2-98df-9e978ff43eb0,13519809046,ELIZABETH,BIRD,52,2,10,1.0
...,...,...,...,...,...,...,...,...
30531,76f3fcf2-2dc4-4171-a152-6b80acee177d,5903047652485,CECELIA,DAVIS,34,2,10,0.0
94044,0542e8ee-80af-4b86-947a-bcd057c2abb0,27670809046,DIANA,WATTERS,18,2,10,0.0
30536,af7ce29f-117a-4b5a-879c-fc621d532138,5903167652485,AMELIA,COUNSELLOR,28,2,10,0.0
30537,6525a4e3-5ede-4880-a495-ec848e2805fb,5903187652485,BENJAMIN,HOOPER,40,1,10,0.0
94037,09bf07df-4595-4746-a3f1-cd919ab9527c,27665809046,WM,DOBBS,20,1,10,0.0
94036,1b5b583d-5e62-4dea-a9fa-61e3ad1b344f,27665809046,NaN,P---,20,1,10,0.0
30542,22398831-3bb0-4e77-9fe7-5951878df755,5903357652485,NaN,ADAMS,50,2,10,0.0
94034,16b6d40f-dfad-46bc-983f-d0e8df900c83,27665809046,HESTER,---,20,2,10,0.0
94032,152a6b3c-5cb5-44b1-ac92-0e733d43f1bb,27665809046,GEORGIA,---,2,2,10,0.0
94031,56a049fc-da01-487c-b31d-c70560e9fca7,27665809046,FRANK T.,---,5,1,10,0.0
30509,b38d7a61-c6ad-4998-a51b-4dd15525fa77,5901277652485,CATHARINE,MASON,33,2,10,0.0
94072,f94038b3-d76b-4f8c-aed4-567363902de9,27676809046,GOULDSMITHE,ROSE,58,1,10,0.0
94098,c7a3ec7f-73ca-40c3-ad4d-149cb58acbcd,27683809046,ELLA,JACKSON,27,2,10,0.0
30506,f1b9e682-3bc6-4a51-ac8d-c3e61212b068,5901177652485,GEORGE,HENSON,22,1,10,0.0
94097,ed9a3e00-d77e-42d0-9e67-730be31a8561,27683809046,THOMAS,JACKSON,50,1,10,0.0
30483,0267c9d0-a021-4024-81aa-b355a4c294f9,5899797652485,ANNIE,CANNON,49,2,10,0.0
30487,cfac490d-ed80-412b-8e3c-140c50886412,5900117652485,MARGARET,STEVENS,39,2,10,0.0
30488,10c6902b-d613-4de0-8da0-47891485eb33,5900147652485,GERALD F.,DALE,63,1,10,0.0
30490,31cc3c82-9bf2-4a47-897d-1cfb608151bd,5900297652485,REBECCA,ENGLISH,30,2,10,0.0
94089,8bac43eb-966d-4be7-aaf3-b0f41eaac6ac,27681809046,ALFRED,MANLOF,19,1,10,0.0
94088,80d2091c-7d12-4422-87cc-ee16fd7b1da1,27681809046,ABBIE,GUY,13,2,10,0.0
30493,6ca2d77b-8e89-42e2-b8af-6b9c71e911b9,5900497652485,SYNDELL,FELL,14,1,10,0.0
30494,a84bc6f5-de77-4019-b806-bdb45595c777,5900497652485,ISAAC H.,HANCOCK,17,1,10,0.0
30495,b88c69ff-f258-4e02-a756-db7887990e24,5900497652485,JOSEPH W.,MC CULLOUGH,15,1,10,0.0
94082,23ee9b29-f2c2-4681-947c-f18ab430b807,27680809046,JOSEPH,ANCAIN,23,1,10,0.0
30504,681b9778-5bc4-4bfe-a59e-af82d42fab19,5901077652485,WILLIAM,YOUNG,30,1,10,0.0
30505,9db4f421-0464-4132-9bbe-d66b2c8a3a00,5901087652485,NETTIE,FOUNTAIN,24,2,10,0.0
94079,fc10bbb5-5f96-41e2-bfce-af7b550380f4,276795604765,J. CLAYTON,TEMPLE,26,1,10,0.0
94078,8d1a1470-a742-453f-88a0-a188d4bf84dd,276795604765,R. LOWBER,TEMPLE,23,1,10,0.0
0,a499b0dc-7ac0-4d61-b493-91a3036c712e,2484121231038,ANNIE,FAUBLE,26,2,10,0.0

In [21]:
df_1880_fn = df_1880[df_1880['NAMEFRST'].notnull()]
df_1880_fn

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL
0,a499b0dc-7ac0-4d61-b493-91a3036c712e,2484121231038,ANNIE,FAUBLE,26,2,10
1,ae7261c3-7d71-4ea1-997f-5d1a68c18777,2485245884791,MARY,REESE,35,2,10
2,ad6442b5-42bc-4c2e-a517-5a951d989a92,2485245884791,MARY,REESE,11,2,10
3,b0b6695f-dfa5-4e4d-bc75-798c27195fff,2485245884791,SALLY,REESE,9,2,10
4,9e807937-de09-414c-bfb2-ac821e112929,2485411231038,JOHN,SHIELDS,21,1,10
5,426f2cbe-32e1-45eb-9f86-89a2b9116b7e,2485411231038,ANNE,FAUBLE,26,2,10
6,a76697d9-b0c8-4774-bc3e-12a7e403c7e6,2485601231038,JOHN,COLLINS,17,1,10
7,3575c9ba-1527-4ca2-aff0-d7c2d1efb421,2485601231038,MAGGIE,COLLINS,16,2,10
8,49e53dbc-fe8e-4e55-8cb9-a1d93c284d98,2485601231038,MARY,COLLINS,12,2,10
9,50b33ef6-259d-43af-8cdc-56a61f881169,2486481554552,WILLIAM H.,SEWARD,54,1,10
10,952754a5-48b4-462a-ac57-e4a059a9ef98,2486951231038,ESTHER,BIERHAHN,40,2,10
11,ea6d77b3-2e2d-4c59-a0ac-6b297e8898e3,2488461231038,CHARLES,CLEVELAND,45,1,10
12,60a5052e-6d67-455a-a3aa-bb79560c7d8d,2489211231038,SUSAN,WILSON,60,2,10
13,0d4472ec-6378-4aeb-b6c7-17e1c388bb94,2489301231038,ARCHER,HARVEY,20,1,10
14,65ccbeb7-2c79-4fb0-b354-c67f150ad80c,2489831554552,ELIZABETH,MC LEAN,42,2,10
15,72cbe5fa-f558-4393-8423-1842fadf7f11,2490611554552,MARY A.,FLEMMING,73,2,10
16,44693008-fd6f-48fe-9c52-e6c07baff361,2490671231038,BESSIE,CHAMBERS,2,2,10
17,bcc0988e-2397-4f1b-8e76-4bfe1b05dbc6,2491501554552,THOMAS,GRAHAM,64,1,10
18,a7b10530-b7c9-44d5-9125-c603f392d6d3,2491801231038,EDWARD,DEKAY,35,1,10
19,1e635c1c-7faa-4270-acf3-a22635884b90,2492069772349,NATHEN,THORPE,74,1,10
20,d3217545-3453-4d96-86c0-d6a3e60fb2f8,2492741231038,JOB,FOSTER,26,1,10
21,2a35bae5-3120-4e2c-87da-694d4419c9ce,2492741231038,JEZEBEL,FOSTER,22,2,10
22,94460fc2-954b-469d-9726-f7126c30e5e2,2493391231038,ELIZA,GOODWIN,39,2,10
23,620b6ebb-82e6-42db-8aae-300ca2be0c00,2493391231038,MARY,GOODWIN,17,2,10
24,bfe1080e-2e67-4a8c-a6e1-ed94ea103712,2493391231038,JO,GOODWIN,15,1,10
25,7fb55d25-2a7d-486d-9efa-27b9d7e60c24,2493841231038,PHINEAS,TAYLOR,39,1,10
26,a0f33b36-cef7-4949-a031-22b90f1055d4,2494397652485,MARY A.,LORD,54,2,10
27,1a76745c-acf8-48a0-9992-7fb10c11710b,2494421231038,E.B.,ALLEN,21,1,10
28,7b6ba9cc-a38d-466e-921d-faa53ef96d2e,2494641554552,SAMUEL W.,LAYTON,49,1,10
29,4e434f95-5af2-4dca-a1ed-ed2489205907,2495121554552,ELIZA,JUSTISON,64,2,10
...,...,...,...,...,...,...,...
154848,2aa4df62-172d-4fac-a691-cdcf57e77a84,7674809046,JAMES P.,BLIZZARD,13,1,10
154849,b866a841-77b8-4632-aaf7-86c2ac5873c4,7674809046,CHARLES E.,BLIZZARD,1,1,10
154850,951c41c7-d6c7-457a-aacc-7f1fa1c1478d,76749368672,JOHN S.,CARPENTER,31,1,10
154851,325ee515-30fa-4de1-9fac-1c6b370ec5d7,7675809046,NATHANIEL,INGRAHAMS,74,1,10
154852,4b659bac-fd8e-446d-b2da-6e63cb001712,7675809046,MARTHA C.,INGRAHAMS,28,2,10
154853,877016da-20f2-48d3-980d-90217473ce26,7675809046,MOLLIE A.,INGRAHAMS,9,2,10
154854,d482353a-27e4-4e35-9298-f43735b89fae,7675809046,JOHN L.,INGRAHAMS,6,1,10
154855,9fbc5ed5-4056-4a32-84cb-089f665fe0a7,7675809046,MATTE,INGRAHAMS,4,2,10
154856,140dc53c-aab1-4eee-b500-f0512b30571a,7676809046,CATHERINE B.,DUTTON,52,2,10
154857,d9aeea00-9776-41e5-ac5e-1b0b9624ec87,7676809046,WILLIAM J.,DUTTON,23,1,10
154858,074d3748-b1cc-422d-aa5c-e08e5fc403a3,7676809046,JOHN L.,DUTTON,20,1,10
154859,11502b6d-10c6-4d1a-95f6-3026122a1e92,7676809046,LYDIA H.,DUTTON,16,2,10
154860,5f26c014-5a2d-4807-9073-19c6d419269f,7676809046,HANNAH E.,DUTTON,16,2,10
154861,9238abf9-5d0c-472a-8ed1-811ba1338d0c,7676809046,WILLIAM,LEWIS,40,1,10
154862,a11a2c53-010e-42f8-8ad1-8d3215583740,7677809046,PETER J.,WILSON,48,1,10
154863,f5ddbbaa-d2f4-418d-8d70-d1e102701868,7677809046,WILLIAM T.,WILSON,16,1,10
154864,2d4a98e5-1f2f-4909-b816-a4314850eddc,7677809046,EBE M.,WILSON,13,1,10
154865,5da59721-1e0c-47b5-b35c-566ccfb588da,7677809046,THOMAS P.,WILSON,10,1,10
154866,1ed5b72c-0b04-47d5-828b-22f735a164cb,7677809046,THOMAS P.,WILSON,50,1,10
154867,b70926c4-1061-4c2e-aee5-8e24279fa1e2,7678809046,VIRDEN,MACKLIN,52,1,10
154868,e1ff4c42-41fb-4e01-904a-caa992f67959,7678809046,ELIZABETH,MACKLIN,51,2,10
154869,b9ad7c27-b310-4adc-8ebb-595531344073,7678809046,WILLIAM,MACKLIN,21,1,10
154870,3975183e-13e9-4fc2-bcb5-a726c48bc200,7678809046,SEYMORE,MACKLIN,14,1,10
154871,35b80c73-9f04-46ba-a55f-d1eca850c378,7678809046,SALLIE,MACKLIN,80,2,10
154872,4ba77259-a4d0-44ba-bc7b-53c6b845825b,7679809046,THOMAS,WILSON,45,1,10
154873,fbfa6568-5012-43a4-84ea-38f57994e3cd,7679809046,JANE E.,WILSON,25,2,10
154874,a7922fe9-4f83-4f71-a63a-8b2964a3610f,7679809046,LAURA,WILSON,12,2,10
154875,8bff1989-12bd-4d1c-a9b3-717e503a7ed4,7679809046,ELZEY,WILSON,10,1,10
154876,4a940747-ee50-4d75-9d29-d1dadfe19e8e,7679809046,MARY G.,WILSON,8,2,10
154877,1be418f3-6fc4-4ca3-8632-d43e60400c95,7679809046,SARAH A.,WILSON,3,2,10

In [22]:
df_1880_fn['fn_dist'] = df_1880_fn['NAMEFRST'].apply(lambda x: jf.jaro_winkler('FRANCES E', x))
df_1880_fn.sort_values('fn_dist', inplace=True, ascending=False)
df_1880_fn

C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL,fn_dist
57239,9641b147-99ca-4ab4-ae8c-e490aca4d029,3844809046,FRANCES E.,MORRESS,16,2,10,0.980000
57501,6baa482b-555e-40c1-9da1-dda99981f431,3899809046,FRANCES E.,EISNBAUR,2,2,10,0.980000
38089,c8a65186-2af4-4f8c-a4e6-fbc999db8792,1717433643712,FRANCES E.,CORDY,32,2,10,0.980000
86767,60568eae-a397-48af-983d-433b35d89da7,3400809046,FRANCES E.,TATMAN,19,2,10,0.980000
111052,502820ca-cc01-484f-9507-6cf5a87005e9,3828809046,FRANCES E.,BROWN,10,1,10,0.980000
2072,d8f7917c-cd86-4327-8e8f-eeaddb7c3586,4579764452919,FRANCES E.,FLETCHER,22,2,10,0.980000
26045,74b7da9f-35fd-4df9-a83b-e2dec898e028,1482963643712,FRANCES,ROLPH,45,2,10,0.955556
42063,8e622b4a-b733-44d1-a643-6b78668f258e,5888827652485,FRANCES,MASON,40,2,10,0.955556
10853,fdf08965-6543-4874-b3fc-b332a9877653,1033153643712,FRANCES,STANDERD,33,2,10,0.955556
5110,7c642c2b-5cea-4fb8-9933-a202ada4cf1e,1103133643712,FRANCES,WARREN,29,2,10,0.955556
60689,caeb9458-2fb1-43f4-8e43-5034097d9826,18664809046,FRANCES,PRICE,24,2,10,0.955556
51369,4834dcd7-bc4f-4027-9c36-999f665d07e7,13772809046,FRANCES,PETITDEMANGE,20,2,10,0.955556
1293,68a2bef9-f397-4e1b-96ff-d82cc39867a2,7706687652485,FRANCES,WESTBY,23,2,10,0.955556
90947,2e625094-6855-4ad9-b0c3-00b80cc91137,23846809046,FRANCES,LAFFERTY,5,2,10,0.955556
34561,8f24d927-05f6-48ea-95fa-4868ff68081b,11105809046,FRANCES,WILSON,30,2,10,0.955556
90406,0f0238b2-3894-4d77-ab45-5d2dcc611215,23696809046,FRANCES,KROOLIS,52,2,10,0.955556
5191,d73a0a76-4dd9-445b-969e-fc6a914a110d,1114575604765,FRANCES,DANBY,35,2,10,0.955556
54950,803aa04a-2851-4f23-a7e0-238f847fcd75,20525809046,FRANCES,LAPE,2,2,10,0.955556
123942,04a23677-5e82-406f-b596-494058a28dcd,2739809046,FRANCES,TOWNSEND,30,2,10,0.955556
26327,e6586864-c0c2-49a8-9ac9-bfadbfe712f0,1497285604765,FRANCES,ALVIS,17,2,10,0.955556
55049,395441a0-f740-4a56-86a5-5a429c786ec3,20564809046,FRANCES,BAYARD,50,2,10,0.955556
55083,3d3b50cf-bb5b-4095-b7a5-013f4c25b549,20576809046,FRANCES,BROWN,28,2,10,0.955556
125763,183e5bb6-5e5c-4d22-8fae-974843715334,23192809046,FRANCES,MC CLOSKEY,12,2,10,0.955556
113115,7ebed185-0373-42d5-bc30-6eabcde8ae0d,3265809046,FRANCES,FRENCH,24,2,10,0.955556
47264,0e3175dc-ff34-478c-8596-7bd00b9099e4,25941809046,FRANCES,LOYD,8,2,10,0.955556
19739,52a57955-ea53-4a7d-9d17-4db00c526668,479255432773,FRANCES,MACUMBER,37,2,10,0.955556
98768,fda20d4a-fb3d-42b0-846a-8b4bc47c4d66,27121809046,FRANCES,SHOCKLEY,5,2,10,0.955556
121812,64b23cdb-6e90-4cbc-82bb-b85de1c20071,26787809046,FRANCES,---,7,2,10,0.955556
98812,eae66900-acd7-43d1-8d26-5384e41c03fd,25191809046,FRANCES,LOVELL,28,1,10,0.955556
138271,43146cd1-d956-4bbc-8571-34f097a5d3ce,28113809046,FRANCES,ALFRIE,16,2,10,0.955556
...,...,...,...,...,...,...,...,...
37184,31769e6a-130c-47f2-b1ce-6f2fe025fb03,942633643712,WM T.,VINSON,36,1,10,0.000000
10624,0779cc73-5bf6-4381-99c2-85580d92e598,78437252102,T.W.,STAYTON,73,1,10,0.000000
33626,23c20e19-56e4-4ecd-9d14-2b237dc28339,1603063643712,J.G.,FAULKNER,64,1,10,0.000000
80650,ce208b40-a382-43ae-8d9b-b07e162db226,4365604765,ELWOOD,BUCKLEY,28,1,10,0.000000
80647,878e608f-c05f-41e0-833f-4a86e0c97201,435809046,ELWOOD,HAMILTON,4,1,10,0.000000
69618,822a86c8-4f2a-435d-b45b-30942ccc552f,13325809046,LETTY,MCCOLISH,0,2,10,0.000000
106391,ce96b2ed-d6eb-4c6b-9b7d-3ce4b5a9fec5,22892809046,PHILIP,GREEN,7,1,10,0.000000
4166,2ba37ea1-251c-435d-8c40-c769eda0f36f,7160077652485,GEO,SARING,50,1,10,0.000000
10635,889ae04d-dc56-4ef9-a933-1420352630ea,785941231038,L.,COLLINS,61,2,10,0.000000
10637,18a8ad22-32c3-44ab-aeb3-13967ad1a7f5,786341231038,L.,BEAUCHAMP,54,1,10,0.000000
10639,719d8202-ae34-4c35-831b-fb8b3becc4d6,786671231038,E. M.,LANK,24,1,10,0.000000
66704,c6d1987d-1823-43f8-acb4-4a71dbabc120,12487809046,LETITIA,POLK,2,2,10,0.000000
147793,2917010c-85f8-4794-9554-96162cd0965c,4598809046,W. J.,PIERCE,12,1,10,0.000000
4158,2d8bcaa1-20be-4bcb-8bb7-964c1e01443c,7158577652485,WM. H.,FLEESON,22,1,10,0.000000
96733,54290b01-11b6-493c-8052-17ec6b62467a,1490809046,WESLY,JOHNSON,18,1,10,0.000000
82793,bc3292b5-8beb-43e8-ab52-0ab7fcd6fde7,27365809046,M,CORNELLOUS,55,1,10,0.000000
24946,f1173a72-95c9-4505-b25f-53133ba9d887,21550809046,EDITH,BARNES,4,2,10,0.000000
37195,d0a9f2c5-f349-44aa-84f3-6f9d6973c718,942723643712,GEO.,HUGG,3,1,10,0.000000
10647,b0bd459a-23af-40a6-b56d-da9173632a6e,788281231038,K. B.,ATKINS,59,1,10,0.000000
37199,ec619e2e-b1fa-4d24-a8cf-9157308e7acb,942753643712,WM. B.,GREWELL,14,1,10,0.000000
59024,e85c614f-760c-473f-9440-4c87d0e726a6,22220809046,PHILLIP,HUTCHINS,19,1,10,0.000000
10649,7f7f6725-6d27-49c6-9fb0-8e564786137f,788291231038,P. L.,ATKINS,37,1,10,0.000000
37205,ca4a051b-0ba5-4830-83a7-43d801f4af3d,942863643712,JOS.,SATTERFIELD,47,1,10,0.000000
52226,876c811e-bc41-4453-bbeb-371a0bd5b831,272445604765,WM. H.,FLANAGAN,19,1,10,0.000000
37208,e0f12bb2-db65-4e43-938c-fa6f4c7812c0,942893643712,WESLY,GOLDSBORO,67,1,10,0.000000
33603,c3ed10a5-c7ab-4197-bc78-e44ec0a340f4,1602673643712,H.P.,HOPKINS,63,1,10,0.000000
28934,aeb8f25e-c5c8-424c-b0e9-a14c3549af1f,959812157662,C. H.,TODD,40,1,10,0.000000
37218,7f888581-80e4-43b9-86a4-322143bbf0d8,942943643712,JOS.,REED,13,1,10,0.000000
147756,535c7d89-a321-417c-b169-5e9a42aa892a,4593809046,S. B.,COOPER,53,1,10,0.000000
69064,c2af871a-2b14-4faa-8e2c-447d70a4bd60,242785604765,HUGH,MC LOUGHLIN,42,1,10,0.000000

In [23]:
df_1880_dists = pd.merge(df_1880,df_1880_ln[['id','ln_dist']], how='left',on='id')
df_1880_dists = pd.merge(df_1880_dists,df_1880_fn[['id','fn_dist']], how='left',on='id')
df_1880_dists

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL,ln_dist,fn_dist
0,a499b0dc-7ac0-4d61-b493-91a3036c712e,2484121231038,ANNIE,FAUBLE,26,2,10,0.000000,0.644444
1,ae7261c3-7d71-4ea1-997f-5d1a68c18777,2485245884791,MARY,REESE,35,2,10,0.000000,0.407407
2,ad6442b5-42bc-4c2e-a517-5a951d989a92,2485245884791,MARY,REESE,11,2,10,0.000000,0.407407
3,b0b6695f-dfa5-4e4d-bc75-798c27195fff,2485245884791,SALLY,REESE,9,2,10,0.000000,0.437037
4,9e807937-de09-414c-bfb2-ac821e112929,2485411231038,JOHN,SHIELDS,21,1,10,0.595238,0.453704
5,426f2cbe-32e1-45eb-9f86-89a2b9116b7e,2485411231038,ANNE,FAUBLE,26,2,10,0.000000,0.694444
6,a76697d9-b0c8-4774-bc3e-12a7e403c7e6,2485601231038,JOHN,COLLINS,17,1,10,0.000000,0.453704
7,3575c9ba-1527-4ca2-aff0-d7c2d1efb421,2485601231038,MAGGIE,COLLINS,16,2,10,0.000000,0.518519
8,49e53dbc-fe8e-4e55-8cb9-a1d93c284d98,2485601231038,MARY,COLLINS,12,2,10,0.000000,0.407407
9,50b33ef6-259d-43af-8cdc-56a61f881169,2486481554552,WILLIAM H.,SEWARD,54,1,10,0.611111,0.474074
10,952754a5-48b4-462a-ac57-e4a059a9ef98,2486951231038,ESTHER,BIERHAHN,40,2,10,0.766667,0.425926
11,ea6d77b3-2e2d-4c59-a0ac-6b297e8898e3,2488461231038,CHARLES,CLEVELAND,45,1,10,0.000000,0.588624
12,60a5052e-6d67-455a-a3aa-bb79560c7d8d,2489211231038,SUSAN,WILSON,60,2,10,0.472222,0.540741
13,0d4472ec-6378-4aeb-b6c7-17e1c388bb94,2489301231038,ARCHER,HARVEY,20,1,10,0.472222,0.620370
14,65ccbeb7-2c79-4fb0-b354-c67f150ad80c,2489831554552,ELIZABETH,MC LEAN,42,2,10,0.000000,0.481481
15,72cbe5fa-f558-4393-8423-1842fadf7f11,2490611554552,MARY A.,FLEMMING,73,2,10,0.000000,0.476190
16,44693008-fd6f-48fe-9c52-e6c07baff361,2490671231038,BESSIE,CHAMBERS,2,2,10,0.000000,0.351852
17,bcc0988e-2397-4f1b-8e76-4bfe1b05dbc6,2491501554552,THOMAS,GRAHAM,64,1,10,0.472222,0.518519
18,a7b10530-b7c9-44d5-9125-c603f392d6d3,2491801231038,EDWARD,DEKAY,35,1,10,0.000000,0.351852
19,1e635c1c-7faa-4270-acf3-a22635884b90,2492069772349,NATHEN,THORPE,74,1,10,0.472222,0.500000
20,d3217545-3453-4d96-86c0-d6a3e60fb2f8,2492741231038,JOB,FOSTER,26,1,10,0.000000,0.000000
21,2a35bae5-3120-4e2c-87da-694d4419c9ce,2492741231038,JEZEBEL,FOSTER,22,2,10,0.000000,0.502646
22,94460fc2-954b-469d-9726-f7126c30e5e2,2493391231038,ELIZA,GOODWIN,39,2,10,0.464286,0.437037
23,620b6ebb-82e6-42db-8aae-300ca2be0c00,2493391231038,MARY,GOODWIN,17,2,10,0.464286,0.407407
24,bfe1080e-2e67-4a8c-a6e1-ed94ea103712,2493391231038,JO,GOODWIN,15,1,10,0.464286,0.000000
25,7fb55d25-2a7d-486d-9efa-27b9d7e60c24,2493841231038,PHINEAS,TAYLOR,39,1,10,0.000000,0.546958
26,a0f33b36-cef7-4949-a031-22b90f1055d4,2494397652485,MARY A.,LORD,54,2,10,0.666667,0.476190
27,1a76745c-acf8-48a0-9992-7fb10c11710b,2494421231038,E.B.,ALLEN,21,1,10,0.000000,0.000000
28,7b6ba9cc-a38d-466e-921d-faa53ef96d2e,2494641554552,SAMUEL W.,LAYTON,49,1,10,0.000000,0.555556
29,4e434f95-5af2-4dca-a1ed-ed2489205907,2495121554552,ELIZA,JUSTISON,64,2,10,0.458333,0.437037
...,...,...,...,...,...,...,...,...,...
154848,2aa4df62-172d-4fac-a691-cdcf57e77a84,7674809046,JAMES P.,BLIZZARD,13,1,10,0.583333,0.648148
154849,b866a841-77b8-4632-aaf7-86c2ac5873c4,7674809046,CHARLES E.,BLIZZARD,1,1,10,0.583333,0.778307
154850,951c41c7-d6c7-457a-aacc-7f1fa1c1478d,76749368672,JOHN S.,CARPENTER,31,1,10,0.453704,0.476190
154851,325ee515-30fa-4de1-9fac-1c6b370ec5d7,7675809046,NATHANIEL,INGRAHAMS,74,1,10,0.574074,0.444444
154852,4b659bac-fd8e-446d-b2da-6e63cb001712,7675809046,MARTHA C.,INGRAHAMS,28,2,10,0.574074,0.462963
154853,877016da-20f2-48d3-980d-90217473ce26,7675809046,MOLLIE A.,INGRAHAMS,9,2,10,0.574074,0.481481
154854,d482353a-27e4-4e35-9298-f43735b89fae,7675809046,JOHN L.,INGRAHAMS,6,1,10,0.574074,0.502646
154855,9fbc5ed5-4056-4a32-84cb-089f665fe0a7,7675809046,MATTE,INGRAHAMS,4,2,10,0.574074,0.540741
154856,140dc53c-aab1-4eee-b500-f0512b30571a,7676809046,CATHERINE B.,DUTTON,52,2,10,0.000000,0.644180
154857,d9aeea00-9776-41e5-ac5e-1b0b9624ec87,7676809046,WILLIAM J.,DUTTON,23,1,10,0.000000,0.474074
154858,074d3748-b1cc-422d-aa5c-e08e5fc403a3,7676809046,JOHN L.,DUTTON,20,1,10,0.000000,0.502646
154859,11502b6d-10c6-4d1a-95f6-3026122a1e92,7676809046,LYDIA H.,DUTTON,16,2,10,0.000000,0.490741
154860,5f26c014-5a2d-4807-9073-19c6d419269f,7676809046,HANNAH E.,DUTTON,16,2,10,0.000000,0.546296
154861,9238abf9-5d0c-472a-8ed1-811ba1338d0c,7676809046,WILLIAM,LEWIS,40,1,10,0.000000,0.417989
154862,a11a2c53-010e-42f8-8ad1-8d3215583740,7677809046,PETER J.,WILSON,48,1,10,0.472222,0.458333
154863,f5ddbbaa-d2f4-418d-8d70-d1e102701868,7677809046,WILLIAM T.,WILSON,16,1,10,0.472222,0.474074
154864,2d4a98e5-1f2f-4909-b816-a4314850eddc,7677809046,EBE M.,WILSON,13,1,10,0.472222,0.425926
154865,5da59721-1e0c-47b5-b35c-566ccfb588da,7677809046,THOMAS P.,WILSON,10,1,10,0.472222,0.555556
154866,1ed5b72c-0b04-47d5-828b-22f735a164cb,7677809046,THOMAS P.,WILSON,50,1,10,0.472222,0.555556
154867,b70926c4-1061-4c2e-aee5-8e24279fa1e2,7678809046,VIRDEN,MACKLIN,52,1,10,0.000000,0.500000
154868,e1ff4c42-41fb-4e01-904a-caa992f67959,7678809046,ELIZABETH,MACKLIN,51,2,10,0.000000,0.481481
154869,b9ad7c27-b310-4adc-8ebb-595531344073,7678809046,WILLIAM,MACKLIN,21,1,10,0.000000,0.417989
154870,3975183e-13e9-4fc2-bcb5-a726c48bc200,7678809046,SEYMORE,MACKLIN,14,1,10,0.000000,0.417989
154871,35b80c73-9f04-46ba-a55f-d1eca850c378,7678809046,SALLIE,MACKLIN,80,2,10,0.000000,0.518519
154872,4ba77259-a4d0-44ba-bc7b-53c6b845825b,7679809046,THOMAS,WILSON,45,1,10,0.472222,0.518519
154873,fbfa6568-5012-43a4-84ea-38f57994e3cd,7679809046,JANE E.,WILSON,25,2,10,0.472222,0.756614
154874,a7922fe9-4f83-4f71-a63a-8b2964a3610f,7679809046,LAURA,WILSON,12,2,10,0.472222,0.374074
154875,8bff1989-12bd-4d1c-a9b3-717e503a7ed4,7679809046,ELZEY,WILSON,10,1,10,0.472222,0.437037
154876,4a940747-ee50-4d75-9d29-d1dadfe19e8e,7679809046,MARY G.,WILSON,8,2,10,0.472222,0.476190
154877,1be418f3-6fc4-4ca3-8632-d43e60400c95,7679809046,SARAH A.,WILSON,3,2,10,0.472222,0.458333

In [24]:
df_1880_dists.sort_values(['ln_dist','fn_dist'],ascending=[False,False], inplace=True)
df_1880_dists

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL,ln_dist,fn_dist
1640,9f638d67-3533-4886-9e2e-f9f6e87ca771,9996965884791,FANNIE E.,BIRD,50,2,10,1.0,0.800000
51251,2a93b03c-7f63-401b-a5b0-fe039b7422a3,13716809046,CHARLES D.,BIRD,18,1,10,1.0,0.700000
24631,30c95469-317a-4131-b084-bc3d9bf23c96,21443774547,CAROLINE W.,BIRD,46,2,10,1.0,0.654040
53731,6458279b-86c0-4ec6-8b9e-80fca80d9ecc,18460809046,JAMES T.,BIRD,83,1,10,1.0,0.648148
75446,23d2890e-d6fa-45d3-ad21-abe4d9f3f6a7,26396809046,JAMES W.,BIRD,26,1,10,1.0,0.648148
40109,86520513-663a-4233-bf3d-5dd294bd1a6f,9729397009,ANNIE,BIRD,50,2,10,1.0,0.644444
131351,682252b2-aae8-4c53-9883-205f3c0d92b4,13519809046,REBECCA J.,BIRD,20,2,10,1.0,0.618519
51248,e7fa5d78-511f-460d-aa58-717dd715608e,13716809046,ALFRED D.,BIRD,54,1,10,1.0,0.603704
24630,0c154864-c514-42b3-ad79-5c64ba135f43,21443774547,JAMES C.,BIRD,51,1,10,1.0,0.593519
2128,d2abe64d-ce08-4e06-88a8-37724681d78e,4624505884791,CHARLES,BIRD,41,1,10,1.0,0.588624
61841,067b1bdf-7d38-4fc2-b5b8-3a8ad09f77e6,16738809046,CHARLES,BIRD,18,1,10,1.0,0.588624
11807,f328d047-82f9-45e8-83ed-080cd9e2ab59,3923121554552,AMOS,BIRD,71,1,10,1.0,0.574074
113546,67217a20-4770-4467-a618-8d8ae99e4fe9,14366809046,CORA,BIRD,7,2,10,1.0,0.574074
130422,2e642771-e8b7-45a0-84ef-8b50bb0a7538,24595809046,CHAS. M.,BIRD,48,1,10,1.0,0.569444
50940,1a82ac9d-0a57-41c6-b4d3-e43a9ced0f39,13614809046,THOMAS I.,BIRD,12,1,10,1.0,0.555556
75447,f6f865a6-f1ce-4280-aedf-47f531f98b3a,26396809046,MAXWELL H.,BIRD,1,1,10,1.0,0.544444
53732,04dbf90d-b559-41ea-89a6-8e8984f94d42,18460809046,SUSAN,BIRD,76,2,10,1.0,0.540741
6465,b152ccdf-0a2c-4203-bfa4-611dcfadf0a0,6708617652485,SALLIE,BIRD,29,2,10,1.0,0.518519
50938,56161796-1a82-42f5-8921-6b299bca0cd6,13614809046,THOMAS,BIRD,42,1,10,1.0,0.518519
75441,5688121c-b56e-4d93-afc1-4840ef52e18c,26395809046,THOMAS,BIRD,54,1,10,1.0,0.518519
113547,0b96e1b0-4cf5-43c1-833e-591f0c35d549,14366809046,BERTHA,BIRD,5,2,10,1.0,0.518519
2129,e8e5f459-3ac1-4fdf-8eb0-99dcad018ecd,4624505884791,MARY C.,BIRD,39,2,10,1.0,0.505291
50937,a2c95fc4-6f48-4a2e-a17d-f969dc17dce0,13614809046,JULIANN,BIRD,68,2,10,1.0,0.502646
51254,8a8d7959-b3c9-4840-92cd-67df8951e30f,13716809046,ELLA W.,BIRD,7,2,10,1.0,0.502646
51253,8d8f6484-dea0-48f4-9ae7-80d4e2e86974,13716809046,JULIA G.,BIRD,10,2,10,1.0,0.490741
44457,1eb4fb6f-5fef-406c-b679-32ba9b2edfc0,17236809046,JULIAME C.,BIRD,72,2,10,1.0,0.489815
50980,cb63518d-8968-4a6d-9d50-c2f4cd460587,13628809046,HARRY C.,BIRD,31,1,10,1.0,0.481481
51252,06f912b8-025b-496c-b770-e3d000fb37a1,13716809046,LAURA C.,BIRD,14,2,10,1.0,0.481481
130854,f9e752a5-bf95-4956-8b7f-d4a2d94850c0,24719809046,ELIZABETH,BIRD,79,2,10,1.0,0.481481
131350,cbf61b92-3db6-4ec2-98df-9e978ff43eb0,13519809046,ELIZABETH,BIRD,52,2,10,1.0,0.481481
...,...,...,...,...,...,...,...,...,...
117274,2a96cf90-fbb7-4ce5-8801-ea55bf0e319c,7098809046,NaN,MASSEY,0,1,10,0.0,NaN
117722,4d416bfe-00ef-4562-91ae-99b703f6f379,7191809046,NaN,HOLT,0,2,10,0.0,NaN
117941,1fdf3a78-029c-4b3d-9e28-864eba67a6b0,7235809046,NaN,LOWE,0,2,10,0.0,NaN
119652,5e697699-0ae1-4d6f-8ac2-bab81586e5a6,9695809046,NaN,WATSON,0,1,10,0.0,NaN
119742,5760a643-37f2-4ec5-b8d4-1a1b54c07875,9709809046,NaN,PETTY JOHN,0,2,10,0.0,NaN
120060,88dfb0e2-a68b-4541-9516-3320d59e7258,9771809046,NaN,PETTY JOHN,0,2,10,0.0,NaN
120074,708d35ec-fe64-463b-8a8b-8727fdc52a6f,9774809046,NaN,DONOVAN,0,2,10,0.0,NaN
121308,afc9739a-a9db-4183-8cff-81dc101973d9,26644809046,NaN,CLEAVER,0,1,10,0.0,NaN
128754,1189cf42-f6c7-4aa1-b4c9-1aa063ecf70a,6572809046,NaN,EVANS,0,2,10,0.0,NaN
131800,4b890c0f-1497-42df-acca-28f61408a5dd,27864809046,NaN,ALLIN,55,1,10,0.0,NaN
134402,4e401fcd-c000-4888-8100-634cdd66d8b6,8254809046,NaN,ROACH,0,2,10,0.0,NaN
138361,81f84f51-5aec-48c6-8526-9322e7abeeac,20054809046,NaN,NUTTER,0,2,10,0.0,NaN
138397,a518842b-adca-401f-a488-befde5c70290,20063809046,NaN,THATCHER,0,2,10,0.0,NaN
139083,2a97f2bc-5ce7-43c6-8c91-4303d9199604,8320809046,NaN,JESTER,0,1,10,0.0,NaN
139216,e5a26ae7-dbf8-416e-aa20-c0fa18d76ee6,8353809046,NaN,DAVIS,0,2,10,0.0,NaN
139598,e368dab1-5d15-4b2e-ad52-90adcf4ffa6f,8432809046,NaN,JOHNSON,0,1,10,0.0,NaN
141260,e84ca3fa-d1bd-4a10-9a84-52382e83b23e,8133809046,NaN,DEPUTY,0,1,10,0.0,NaN
141393,54d1cd69-b4e5-4197-8df2-0a54051d66fc,105648506681,NaN,WALKER,35,2,10,0.0,NaN
144600,1b500d25-3c48-4833-8f32-61324926ed4d,2363809046,NaN,SYLVESTER,3,2,10,0.0,NaN
149542,473f3317-e7ce-4d52-af54-3700609205d0,13101809046,NaN,TULL,0,1,10,0.0,NaN
149562,f25299da-1359-4774-9fcb-8869abd8f7fd,13105809046,NaN,COLLINS,0,1,10,0.0,NaN
149589,04f2033b-28ce-48fc-b7ba-01e4be47a573,13110809046,NaN,HASTING,0,1,10,0.0,NaN
149684,455ab7f9-bc66-44f1-88b5-4954ff440ae4,13134809046,NaN,WHEATLEY,0,1,10,0.0,NaN
149922,6e097a69-716d-4d67-8e83-71232c3e6af8,13198809046,NaN,NEAL,0,1,10,0.0,NaN
154060,6e7a4675-2aa1-4bcf-abae-dd5e8e82d37b,7529809046,NaN,JOHNSON,0,2,10,0.0,NaN
154150,1d5757eb-9a03-4e36-b8c9-1e50997016c4,7546809046,NaN,WALTER,1,1,10,0.0,NaN
154206,c9d24661-a844-41d7-a574-77ef31fd9d84,7559809046,NaN,DOWNS,1,2,10,0.0,NaN
154385,f44eb842-7756-4177-80bc-851639cc00ee,7590809046,NaN,WALLER,0,1,10,0.0,NaN
57087,44bc5277-d530-4b75-be76-9e01616b7e69,5731257652485,BERTHA,NaN,6,2,10,NaN,0.518519
57086,8d9bc915-8d86-4ffa-9aa5-cfb3631e7f3f,5731257652485,MARY G.,NaN,32,2,10,NaN,0.476190

So, using closest text matches for last and first name as the best match criteria, it seems like **"FANNIE E. BIRD"** is the closest 1880 match for **"FRANCES E BIRD"** in the 1870 census.  Age and sex data lend confidence to this match.

I repeat the process for J S Luff.

In [25]:
df_1880_ln['ln_dist'] = df_1880_ln['NAMELAST'].apply(lambda x: jf.jaro_winkler('LUFF', x))
df_1880_ln.sort_values('ln_dist', inplace=True, ascending=False)
df_1880_ln

C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL,ln_dist
143683,852af326-0971-4505-9f1e-15284de5d5f0,13926809046,EUGENE,LUFF,2,1,10,1.0
83983,fb11dfed-ae8e-4cdd-978e-18a8290a99bb,5234809046,HOMER,LUFF,11,1,10,1.0
53076,bfd62e4c-f3e8-4f71-9fdb-1645b13f0a46,2237809046,JAMES,LUFF,14,1,10,1.0
29808,d85291b8-cafb-49e0-ab71-191beec309ca,2014857652485,REBBECCA,LUFF,48,2,10,1.0
83934,da7780d2-cdb8-41aa-a587-7afead626c37,5224809046,JEFFERSON M.,LUFF,21,1,10,1.0
83935,9d00d173-b89a-407c-9aea-cd75184c5852,5224809046,ANNIE M.,LUFF,15,2,10,1.0
109624,416d8d8b-02ca-45d4-aebf-3a6887a4245c,4236809046,JOHN,LUFF,70,1,10,1.0
109625,4caa0768-bc08-4245-be92-b41702c56a81,4236809046,MARTHA,LUFF,55,2,10,1.0
144475,bd5b644a-2786-49e6-a294-8aa00fc667d2,2338809046,WILLIAM,LUFF,4,1,10,1.0
109626,be8582b0-4309-47d5-988b-8e2f8214f905,4236809046,CORA,LUFF,10,2,10,1.0
83936,4d58e70c-343a-4e82-8115-2e3b3877c713,5224809046,ADDIE B.,LUFF,11,2,10,1.0
144471,f88d3c47-aa60-45b4-a806-13f87063d2de,2338809046,LETTIE,LUFF,69,2,10,1.0
37173,f479edac-0ec8-45bf-bba7-f7a3b0cf7d68,942573643712,THOS.,LUFF,47,1,10,1.0
37174,f0aca0c4-92d6-4d78-a20e-08847f3ef893,942573643712,JNO.,LUFF,17,1,10,1.0
83938,75430c6f-7430-46b4-8629-6f1d3f5176da,5225809046,CALEB L.,LUFF,48,1,10,1.0
83932,204e926a-cf7c-482b-b42e-4bafca156cf0,5224809046,NATHANIEL P.,LUFF,50,1,10,1.0
83939,23ba5652-e2c5-4300-9181-3a2813abf6f0,5225809046,ELMIRA,LUFF,36,2,10,1.0
83940,ce766a71-e8b3-4715-b556-b2491411361c,5225809046,KERBERT P.,LUFF,14,1,10,1.0
83982,06431740-e167-4268-a9b6-a103383494f2,5234809046,EMMA,LUFF,16,2,10,1.0
83941,42fde845-9968-434a-a080-77f02945434f,5225809046,KATIE M.,LUFF,10,2,10,1.0
83981,c9489d1c-de39-46c3-bb28-e5cc2e3d60d5,5234809046,JOSHUA B.,LUFF,43,1,10,1.0
44042,482b61d7-d734-4e97-bfaf-edef13e4ed05,17102809046,ANN,LUFF,60,2,10,1.0
110791,717f0deb-7fe4-43e9-b18e-ec9a27f7bb10,3779809046,ELISHA,LUFF,22,1,10,1.0
110792,850e1f0a-4184-4ddb-b8cd-fac896f46278,3779809046,IRA L.,LUFF,2,1,10,1.0
31893,00bda69d-2052-4dbd-bb2d-0ece70dc1de2,1773625604765,EDWARD,LUFF,62,1,10,1.0
37176,b762ea80-e6e4-4441-b4a8-36075c832c79,942573643712,IDA,LUFF,11,2,10,1.0
7641,f103c4bb-5355-4c63-ac96-bf125fddc915,355495604765,WILLIAM C.,LUFF,32,1,10,1.0
37175,376ecdab-041b-49b4-aaf0-9705f48025af,942573643712,FRANCIS,LUFF,8,1,10,1.0
83933,0ea00d6a-9fc0-4dad-a76a-dbb9af835bea,5224809046,MARY C.,LUFF,40,2,10,1.0
41223,e1b689d3-3ee7-4aae-8a5d-f509ba0d128c,4695809046,JOHN,LUFF,20,1,10,1.0
...,...,...,...,...,...,...,...,...
95438,a1cdc322-b7f4-4dfb-86fa-7587f43cb4a2,9455809046,CHARLES E.,BALEY,20,1,10,0.0
47081,f055ef59-1e39-4f0e-b6cb-84feb29a9eae,25899809046,SAMUEL,COTTINGHAM,20,1,10,0.0
95437,e822db56-9ffe-4291-9d56-73c5aa3b0c33,9455809046,LOUSIA,BALEY,39,2,10,0.0
75423,7e9ba033-3488-439c-a27e-19061bdfa3d7,26392809046,MAGGIE D.,MC WHORTER,17,2,10,0.0
43472,630b490f-b369-44ea-83ec-14dcf98bc447,1331971231038,MARY E.,PERRY,55,2,10,0.0
36462,4aed2ff8-e24f-4689-a2dd-8540267d3b6f,2885477652485,MARY,WARTENBURY,19,2,10,0.0
38462,cfcb8cee-9bd8-47f8-bdff-cfe2f30bbb26,1844012556219,CATHARINE,NOTTINGHAM,49,2,10,0.0
95423,9a97699d-90e7-4ca0-b953-602b7afcbbd3,9452809046,ROBERT M.,WHITE,56,1,10,0.0
95427,9d1d6ea2-1d8f-414c-8a8d-476f1f592b0c,9452809046,GEORGE P.,WHITE,23,1,10,0.0
83519,464f8c6e-361b-4246-bf19-810555307779,5125809046,MARY P.,SMITH,45,2,10,0.0
35875,60f5b0dd-316a-4135-9b63-af828f16966a,110331554552,JOHN,AARON,62,1,10,0.0
29922,2eb03d79-a44c-4fea-87d1-a76c330374d1,2021277652485,ANN,SMITH,89,2,10,0.0
29923,dc1153d9-d27b-4f9f-81b5-f924ecaa7f83,2021277652485,LOUISA,SMITH,53,2,10,0.0
95426,8d261ada-395a-4bad-83f2-ff4b283da922,9452809046,ALFRED M.,WHITE,26,1,10,0.0
29926,0f7cb429-201b-452c-8102-32fef8be342f,2021387652485,MARTIN P.,GIBBS,35,1,10,0.0
95425,8f673469-63cb-4dcd-8f05-a679bd9ad4b4,9452809046,PETER E.,WHITE,30,1,10,0.0
95424,6c1f7a91-3b9f-4ac3-8970-1597720a9002,9452809046,LYDIA A.,WHITE,48,2,10,0.0
95422,a654b71f-48da-43b7-a662-e64db6da5019,9452408345,ALLERTON,WORTH,38,1,10,0.0
83457,77a2ce24-af70-477e-935d-95aa4dd7d894,5109809046,ELIZA,GREEN,41,2,10,0.0
37250,990b9ebe-5779-4d50-946b-36498c49d603,943165604765,HARRY P.,WITTENBERG,21,1,10,0.0
95421,e8ddc434-2f77-401e-9575-2609b4f07e68,9451809046,LINNIE,MOORE,12,2,10,0.0
41965,e0c95552-73ee-4a63-9b3f-3d12a3732845,5885257652485,SARAH,GREEN,40,1,10,0.0
76913,23046d90-9e49-4ced-9854-60c4dc640017,14279809046,WILLIAM,GREENHALGH,38,1,10,0.0
83578,11234fda-3fe0-4dda-b780-e4bf43ecd735,5143809046,JOHN,ARTIS,55,1,10,0.0
83579,b75b6616-31a9-4c54-92f4-2c08c9601b1f,5143809046,LINA,ARTIS,40,2,10,0.0
83580,d881de6a-7eb2-46a2-b0b1-ca98945aa2e6,5143809046,JOHN,ARTIS,20,1,10,0.0
83581,07abf2e6-baf1-4d12-824a-ca511381efa2,5143809046,LILLIAN,ARTIS,16,2,10,0.0
83582,bf0bb5ab-a0dc-442e-8a47-d7c4709ae28c,5143809046,WILLIAM,ARTIS,14,1,10,0.0
70855,4cb38214-3406-432c-8555-dfcc635b2593,239035604765,MARGARET,BOWEN,15,2,10,0.0
113547,0b96e1b0-4cf5-43c1-833e-591f0c35d549,14366809046,BERTHA,BIRD,5,2,10,0.0

In [26]:
df_1880_fn['fn_dist'] = df_1880_fn['NAMEFRST'].apply(lambda x: jf.jaro_winkler('J S', x))
df_1880_fn.sort_values('fn_dist', inplace=True, ascending=False)
df_1880_fn

C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL,fn_dist
142925,716d7547-c9bb-4850-ba3b-faf768a79082,54475148342,J. S.,HARRINGTON,34,1,10,0.866667
139783,31c8e167-aedf-4e7a-86be-a4e3c8c81ba0,8468809046,J. S.,DAVIS,28,2,10,0.866667
119360,2a675d10-ed1e-4f73-bce9-76e2e4b3924a,50315869645,J. S.,LUFF,60,1,10,0.866667
43092,b94db0ca-febf-4c75-bad9-b40a633f2167,1238672556219,J. S.,ADAMS,33,1,10,0.866667
72879,42c8c9bf-19b4-4890-a8a1-188e7f8a1f9d,1365653643712,J. S.,HARRIS,41,1,10,0.866667
114600,023c9a00-0c70-4eb2-ab56-d89e568c0a25,11972809046,J. S.,HEARN,29,1,10,0.866667
114505,a5106db4-3879-44ab-9a2d-41baeaf2823e,11947809046,J. S.,BACON,54,1,10,0.866667
152690,27fb5e3b-578f-47f5-b5fe-22e815f09269,150207617881,J. S.,GALLOWAY,62,1,10,0.866667
134572,e8662ded-ee16-413a-8599-2d2205a0518e,8300809046,J. S.,SHORT,27,1,10,0.866667
467,9e8a7f7b-702f-4113-8ba6-ce2c7b51852f,2701011554552,J. S.,HICKMAN,48,1,10,0.866667
109204,04f6461b-2ec0-43db-96e7-8f4d9d96a4c5,11618809046,J. S.,CULVER,11,1,10,0.866667
118487,d7063cfc-af8f-454f-b7ff-11cc5075ee2a,11804809046,J. S.,HEARN,71,1,10,0.866667
11496,a97ec073-04e6-4b68-9d7c-f48a8bcafc80,1041743643712,J. S.,TERRELL,64,1,10,0.866667
19958,214254ac-7660-4e24-9412-84566b87deae,498451554552,J. S.,WALLAS,38,1,10,0.866667
43329,20efba5c-2358-434e-9b30-f3f84a1e3ba7,1294791231038,J. S.,FOUNTAIN,63,1,10,0.866667
103572,819afd4f-eeba-4d8c-b5b3-047d8490e19f,256679063867,J. S.,BIRTCHER,50,1,10,0.866667
133995,6e60e2e0-db15-4c06-aaf5-9d6af3d19b5d,8156809046,J. S.,PRETTYMAN,54,1,10,0.866667
146417,6b137828-d0d2-462a-899c-e2c2ddaefff3,4773809046,J. S.,BURCHENAL,34,1,10,0.866667
13515,833d0014-9287-4ed2-9747-bb2b41c77ff4,5615141554552,J. S.,TINDALE,46,1,10,0.866667
18293,561dc3f2-56ee-4610-8bf0-f81dcf48b60c,6361467652485,J. JESSE,DEPUTY,54,1,10,0.791667
78241,691e536d-83a2-401f-acb3-b92809fa93d5,15340809046,J. SAVIN,HOFFECKER,12,1,10,0.791667
14979,d22eb16b-45a3-4654-8b9c-697c5d4eab2d,3004086967832,JOHN SR.,CARY,75,1,10,0.791667
77290,9eee4df9-4b95-4490-b761-90b60a769a6c,236809046,J. CASEY,DEOSCH,17,1,10,0.791667
96535,42d800f7-6008-4b99-bd1f-42dfee73fa2b,1433809046,J. S. W.,NOWEL,22,1,10,0.791667
57036,fe58822a-29a2-443d-b548-2a337aa29a73,5724117652485,J. SHARP,LOYD,19,1,10,0.791667
6940,760b372a-306a-4cd0-9095-e738970bee8f,2063967652485,J. SMITH,BULLOCK,37,1,10,0.791667
3892,ad16d380-1dea-4519-b9f2-e280c9478e1a,7117067652485,J T,DERRICKSON,10,2,10,0.777778
108682,f27e9963-111a-40fd-90bc-222ad8ed3ce4,7807809046,J. WESLEY,WORKMAN,35,1,10,0.777778
60247,a401fea1-8b8f-4e2f-95e8-edd3065f8c70,1584733643712,JOHN S.T.,RASH,12,1,10,0.777778
80886,4c601588-581a-48c5-9d39-63d50050a4e0,499809046,J. WESLEY,JONES,39,1,10,0.777778
...,...,...,...,...,...,...,...,...
15274,67483791-4692-4fd3-b7fa-bd969469c061,3123721231038,MARY E.,FOULK,11,2,10,0.000000
47656,430ad50c-efae-4c8d-9e5f-e21bf54b55d8,26032809046,MARY E.,TITTER,10,2,10,0.000000
145575,91d3cdd2-3415-4ff4-a7ec-b93bc87a5211,5879809046,MARY E.,SHAHAN,33,2,10,0.000000
137437,c45b4c7f-c8b1-47b0-8242-406b17fefb0b,3151809046,MARY E.,TORBERT,22,2,10,0.000000
55528,9573aca1-c959-4e24-9299-dee6f6e713d1,20714809046,MARY E.,CHIPPEY,7,2,10,0.000000
146090,3c00af2a-44d0-4415-9ff2-0c46a3f296a8,10323809046,MARY E.,BRITTINGHAM,55,2,10,0.000000
137432,480279a7-689d-4455-84c1-67f792448d76,3151809046,MARY C.,NEEDLES,56,2,10,0.000000
33414,ab4374c0-7340-4550-90d1-2f90cad573af,16470809046,NEAL C.,GIBBONS,34,1,10,0.000000
38974,0f42baa6-6510-4832-b14b-a9e81fe05080,1998991231038,MARY E.,VAUGHN,40,2,10,0.000000
140378,a8f2c745-d6e3-4e8a-ba9d-07845247a21f,12171809046,MARY E.,FLEETWOOD,43,2,10,0.000000
19904,e38f1a3d-caa6-4588-a1d0-f383276fa872,491743963335,MARY E.,THOMPSON,38,2,10,0.000000
146076,57754954-9a8a-4057-b8df-8b8e70387f07,10319809046,MARY C.,MITCHELL,15,2,10,0.000000
53485,f787fa7d-36da-4efe-836f-a61b5e374cb1,18386809046,MARY E.,RICE,5,2,10,0.000000
53546,26f70801-325f-4b2e-b5fb-ddf5a6aedda4,18409809046,MARY S.,GARRETT,33,2,10,0.000000
15712,9361e654-79da-4804-8e47-d7b84ca8d566,6982967652485,AMBROSE,WILLIAMS,72,1,10,0.000000
28084,2e151948-4239-49eb-a0b3-7e7262ff5bed,643323963335,MARY C.,DONOVAN,26,2,10,0.000000
47650,88d134d4-050b-4910-85dd-5b6feea262be,26032809046,MARY E.,TITTER,50,2,10,0.000000
126814,67513b61-001b-4e1d-b3c0-8981333f6467,5354809046,MARY E.,MC ILVAINE,16,2,10,0.000000
42409,48a2b853-3cb4-4a04-861f-acdd4370f4b0,19148809046,MARY E.,ARMSTRONG,0,2,10,0.000000
21182,391ede17-ecc2-46b8-98a4-273c9286d101,2903297652485,MARY E.,DEAN,46,2,10,0.000000
123693,25944de8-a846-4559-a772-e100c91d86ed,2675809046,MARY E.,EVANS,8,2,10,0.000000
47587,4892f2b4-d096-40e1-bb81-46b9d55a3a2f,26014809046,MARY E.,FRUSTY,3,2,10,0.000000
42403,b26605ba-6b4f-494b-998a-0b3de89f6774,19147809046,MARY E.,DOWNS,12,2,10,0.000000
29478,a5af05c5-b786-4670-b5e1-854d4fefecf1,6934337652485,MARY C.,RILEY,24,2,10,0.000000
11482,8d94da4a-6300-42df-86a9-5c646c0bf296,1041403643712,MARY E.,ROBERTS,29,2,10,0.000000
130949,dc63a238-88dd-40d9-afbf-54a47a0925ea,13439809046,MARY E.,HILL,8,2,10,0.000000
15248,ce367b02-509e-40a8-bd99-e9a91a072787,3117483259174,AMBROSE,GARIBOLDI,38,1,10,0.000000
42389,ab268383-2808-4b2f-ae6b-78001ee04c39,19143809046,MARY E.,JONES,13,2,10,0.000000
58912,d26957d9-c17d-4636-91cb-69d171a6d73f,22178809046,MARY E.,DAVIS,31,2,10,0.000000
69064,c2af871a-2b14-4faa-8e2c-447d70a4bd60,242785604765,HUGH,MC LOUGHLIN,42,1,10,0.000000

In [27]:
df_1880_dists = pd.merge(df_1880,df_1880_ln[['id','ln_dist']], how='left',on='id')
df_1880_dists = pd.merge(df_1880_dists,df_1880_fn[['id','fn_dist']], how='left',on='id')
df_1880_dists

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL,ln_dist,fn_dist
0,a499b0dc-7ac0-4d61-b493-91a3036c712e,2484121231038,ANNIE,FAUBLE,26,2,10,0.444444,0.000000
1,ae7261c3-7d71-4ea1-997f-5d1a68c18777,2485245884791,MARY,REESE,35,2,10,0.000000,0.000000
2,ad6442b5-42bc-4c2e-a517-5a951d989a92,2485245884791,MARY,REESE,11,2,10,0.000000,0.000000
3,b0b6695f-dfa5-4e4d-bc75-798c27195fff,2485245884791,SALLY,REESE,9,2,10,0.000000,0.000000
4,9e807937-de09-414c-bfb2-ac821e112929,2485411231038,JOHN,SHIELDS,21,1,10,0.000000,0.527778
5,426f2cbe-32e1-45eb-9f86-89a2b9116b7e,2485411231038,ANNE,FAUBLE,26,2,10,0.444444,0.000000
6,a76697d9-b0c8-4774-bc3e-12a7e403c7e6,2485601231038,JOHN,COLLINS,17,1,10,0.464286,0.527778
7,3575c9ba-1527-4ca2-aff0-d7c2d1efb421,2485601231038,MAGGIE,COLLINS,16,2,10,0.464286,0.000000
8,49e53dbc-fe8e-4e55-8cb9-a1d93c284d98,2485601231038,MARY,COLLINS,12,2,10,0.464286,0.000000
9,50b33ef6-259d-43af-8cdc-56a61f881169,2486481554552,WILLIAM H.,SEWARD,54,1,10,0.000000,0.000000
10,952754a5-48b4-462a-ac57-e4a059a9ef98,2486951231038,ESTHER,BIERHAHN,40,2,10,0.000000,0.500000
11,ea6d77b3-2e2d-4c59-a0ac-6b297e8898e3,2488461231038,CHARLES,CLEVELAND,45,1,10,0.453704,0.000000
12,60a5052e-6d67-455a-a3aa-bb79560c7d8d,2489211231038,SUSAN,WILSON,60,2,10,0.472222,0.511111
13,0d4472ec-6378-4aeb-b6c7-17e1c388bb94,2489301231038,ARCHER,HARVEY,20,1,10,0.000000,0.000000
14,65ccbeb7-2c79-4fb0-b354-c67f150ad80c,2489831554552,ELIZABETH,MC LEAN,42,2,10,0.000000,0.000000
15,72cbe5fa-f558-4393-8423-1842fadf7f11,2490611554552,MARY A.,FLEMMING,73,2,10,0.416667,0.000000
16,44693008-fd6f-48fe-9c52-e6c07baff361,2490671231038,BESSIE,CHAMBERS,2,2,10,0.000000,0.500000
17,bcc0988e-2397-4f1b-8e76-4bfe1b05dbc6,2491501554552,THOMAS,GRAHAM,64,1,10,0.000000,0.000000
18,a7b10530-b7c9-44d5-9125-c603f392d6d3,2491801231038,EDWARD,DEKAY,35,1,10,0.000000,0.000000
19,1e635c1c-7faa-4270-acf3-a22635884b90,2492069772349,NATHEN,THORPE,74,1,10,0.000000,0.000000
20,d3217545-3453-4d96-86c0-d6a3e60fb2f8,2492741231038,JOB,FOSTER,26,1,10,0.472222,0.555556
21,2a35bae5-3120-4e2c-87da-694d4419c9ce,2492741231038,JEZEBEL,FOSTER,22,2,10,0.472222,0.492063
22,94460fc2-954b-469d-9726-f7126c30e5e2,2493391231038,ELIZA,GOODWIN,39,2,10,0.000000,0.000000
23,620b6ebb-82e6-42db-8aae-300ca2be0c00,2493391231038,MARY,GOODWIN,17,2,10,0.000000,0.000000
24,bfe1080e-2e67-4a8c-a6e1-ed94ea103712,2493391231038,JO,GOODWIN,15,1,10,0.000000,0.611111
25,7fb55d25-2a7d-486d-9efa-27b9d7e60c24,2493841231038,PHINEAS,TAYLOR,39,1,10,0.000000,0.000000
26,a0f33b36-cef7-4949-a031-22b90f1055d4,2494397652485,MARY A.,LORD,54,2,10,0.500000,0.000000
27,1a76745c-acf8-48a0-9992-7fb10c11710b,2494421231038,E.B.,ALLEN,21,1,10,0.483333,0.000000
28,7b6ba9cc-a38d-466e-921d-faa53ef96d2e,2494641554552,SAMUEL W.,LAYTON,49,1,10,0.472222,0.481481
29,4e434f95-5af2-4dca-a1ed-ed2489205907,2495121554552,ELIZA,JUSTISON,64,2,10,0.458333,0.000000
...,...,...,...,...,...,...,...,...,...
154848,2aa4df62-172d-4fac-a691-cdcf57e77a84,7674809046,JAMES P.,BLIZZARD,13,1,10,0.458333,0.638889
154849,b866a841-77b8-4632-aaf7-86c2ac5873c4,7674809046,CHARLES E.,BLIZZARD,1,1,10,0.458333,0.477778
154850,951c41c7-d6c7-457a-aacc-7f1fa1c1478d,76749368672,JOHN S.,CARPENTER,31,1,10,0.000000,0.492063
154851,325ee515-30fa-4de1-9fac-1c6b370ec5d7,7675809046,NATHANIEL,INGRAHAMS,74,1,10,0.000000,0.000000
154852,4b659bac-fd8e-446d-b2da-6e63cb001712,7675809046,MARTHA C.,INGRAHAMS,28,2,10,0.000000,0.000000
154853,877016da-20f2-48d3-980d-90217473ce26,7675809046,MOLLIE A.,INGRAHAMS,9,2,10,0.000000,0.000000
154854,d482353a-27e4-4e35-9298-f43735b89fae,7675809046,JOHN L.,INGRAHAMS,6,1,10,0.000000,0.492063
154855,9fbc5ed5-4056-4a32-84cb-089f665fe0a7,7675809046,MATTE,INGRAHAMS,4,2,10,0.000000,0.000000
154856,140dc53c-aab1-4eee-b500-f0512b30571a,7676809046,CATHERINE B.,DUTTON,52,2,10,0.472222,0.000000
154857,d9aeea00-9776-41e5-ac5e-1b0b9624ec87,7676809046,WILLIAM J.,DUTTON,23,1,10,0.472222,0.000000
154858,074d3748-b1cc-422d-aa5c-e08e5fc403a3,7676809046,JOHN L.,DUTTON,20,1,10,0.472222,0.492063
154859,11502b6d-10c6-4d1a-95f6-3026122a1e92,7676809046,LYDIA H.,DUTTON,16,2,10,0.472222,0.000000
154860,5f26c014-5a2d-4807-9073-19c6d419269f,7676809046,HANNAH E.,DUTTON,16,2,10,0.472222,0.000000
154861,9238abf9-5d0c-472a-8ed1-811ba1338d0c,7676809046,WILLIAM,LEWIS,40,1,10,0.483333,0.000000
154862,a11a2c53-010e-42f8-8ad1-8d3215583740,7677809046,PETER J.,WILSON,48,1,10,0.472222,0.000000
154863,f5ddbbaa-d2f4-418d-8d70-d1e102701868,7677809046,WILLIAM T.,WILSON,16,1,10,0.472222,0.000000
154864,2d4a98e5-1f2f-4909-b816-a4314850eddc,7677809046,EBE M.,WILSON,13,1,10,0.472222,0.500000
154865,5da59721-1e0c-47b5-b35c-566ccfb588da,7677809046,THOMAS P.,WILSON,10,1,10,0.472222,0.481481
154866,1ed5b72c-0b04-47d5-828b-22f735a164cb,7677809046,THOMAS P.,WILSON,50,1,10,0.472222,0.481481
154867,b70926c4-1061-4c2e-aee5-8e24279fa1e2,7678809046,VIRDEN,MACKLIN,52,1,10,0.000000,0.000000
154868,e1ff4c42-41fb-4e01-904a-caa992f67959,7678809046,ELIZABETH,MACKLIN,51,2,10,0.000000,0.000000
154869,b9ad7c27-b310-4adc-8ebb-595531344073,7678809046,WILLIAM,MACKLIN,21,1,10,0.000000,0.000000
154870,3975183e-13e9-4fc2-bcb5-a726c48bc200,7678809046,SEYMORE,MACKLIN,14,1,10,0.000000,0.492063
154871,35b80c73-9f04-46ba-a55f-d1eca850c378,7678809046,SALLIE,MACKLIN,80,2,10,0.000000,0.500000
154872,4ba77259-a4d0-44ba-bc7b-53c6b845825b,7679809046,THOMAS,WILSON,45,1,10,0.472222,0.000000
154873,fbfa6568-5012-43a4-84ea-38f57994e3cd,7679809046,JANE E.,WILSON,25,2,10,0.472222,0.492063
154874,a7922fe9-4f83-4f71-a63a-8b2964a3610f,7679809046,LAURA,WILSON,12,2,10,0.472222,0.000000
154875,8bff1989-12bd-4d1c-a9b3-717e503a7ed4,7679809046,ELZEY,WILSON,10,1,10,0.472222,0.000000
154876,4a940747-ee50-4d75-9d29-d1dadfe19e8e,7679809046,MARY G.,WILSON,8,2,10,0.472222,0.000000
154877,1be418f3-6fc4-4ca3-8632-d43e60400c95,7679809046,SARAH A.,WILSON,3,2,10,0.472222,0.486111

In [28]:
df_1880_dists.sort_values(['ln_dist','fn_dist'],ascending=False,inplace=True)
df_1880_dists

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL,ln_dist,fn_dist
119360,2a675d10-ed1e-4f73-bce9-76e2e4b3924a,50315869645,J. S.,LUFF,60,1,10,1.0,0.866667
83981,c9489d1c-de39-46c3-bb28-e5cc2e3d60d5,5234809046,JOSHUA B.,LUFF,43,1,10,1.0,0.629630
83934,da7780d2-cdb8-41aa-a587-7afead626c37,5224809046,JEFFERSON M.,LUFF,21,1,10,1.0,0.611111
37174,f0aca0c4-92d6-4d78-a20e-08847f3ef893,942573643712,JNO.,LUFF,17,1,10,1.0,0.527778
41223,e1b689d3-3ee7-4aae-8a5d-f509ba0d128c,4695809046,JOHN,LUFF,20,1,10,1.0,0.527778
109624,416d8d8b-02ca-45d4-aebf-3a6887a4245c,4236809046,JOHN,LUFF,70,1,10,1.0,0.527778
37173,f479edac-0ec8-45bf-bba7-f7a3b0cf7d68,942573643712,THOS.,LUFF,47,1,10,1.0,0.511111
53076,bfd62e4c-f3e8-4f71-9fdb-1645b13f0a46,2237809046,JAMES,LUFF,14,1,10,1.0,0.511111
110791,717f0deb-7fe4-43e9-b18e-ec9a27f7bb10,3779809046,ELISHA,LUFF,22,1,10,1.0,0.500000
110792,850e1f0a-4184-4ddb-b8cd-fac896f46278,3779809046,IRA L.,LUFF,2,1,10,1.0,0.500000
89347,b2d41b00-5fe8-4951-8d47-86e18906dbab,10180774547,SARAH O.,LUFF,73,2,10,1.0,0.486111
7641,f103c4bb-5355-4c63-ac96-bf125fddc915,355495604765,WILLIAM C.,LUFF,32,1,10,1.0,0.000000
29808,d85291b8-cafb-49e0-ab71-191beec309ca,2014857652485,REBBECCA,LUFF,48,2,10,1.0,0.000000
31893,00bda69d-2052-4dbd-bb2d-0ece70dc1de2,1773625604765,EDWARD,LUFF,62,1,10,1.0,0.000000
37175,376ecdab-041b-49b4-aaf0-9705f48025af,942573643712,FRANCIS,LUFF,8,1,10,1.0,0.000000
37176,b762ea80-e6e4-4441-b4a8-36075c832c79,942573643712,IDA,LUFF,11,2,10,1.0,0.000000
44042,482b61d7-d734-4e97-bfaf-edef13e4ed05,17102809046,ANN,LUFF,60,2,10,1.0,0.000000
83932,204e926a-cf7c-482b-b42e-4bafca156cf0,5224809046,NATHANIEL P.,LUFF,50,1,10,1.0,0.000000
83933,0ea00d6a-9fc0-4dad-a76a-dbb9af835bea,5224809046,MARY C.,LUFF,40,2,10,1.0,0.000000
83935,9d00d173-b89a-407c-9aea-cd75184c5852,5224809046,ANNIE M.,LUFF,15,2,10,1.0,0.000000
83936,4d58e70c-343a-4e82-8115-2e3b3877c713,5224809046,ADDIE B.,LUFF,11,2,10,1.0,0.000000
83938,75430c6f-7430-46b4-8629-6f1d3f5176da,5225809046,CALEB L.,LUFF,48,1,10,1.0,0.000000
83939,23ba5652-e2c5-4300-9181-3a2813abf6f0,5225809046,ELMIRA,LUFF,36,2,10,1.0,0.000000
83940,ce766a71-e8b3-4715-b556-b2491411361c,5225809046,KERBERT P.,LUFF,14,1,10,1.0,0.000000
83941,42fde845-9968-434a-a080-77f02945434f,5225809046,KATIE M.,LUFF,10,2,10,1.0,0.000000
83982,06431740-e167-4268-a9b6-a103383494f2,5234809046,EMMA,LUFF,16,2,10,1.0,0.000000
83983,fb11dfed-ae8e-4cdd-978e-18a8290a99bb,5234809046,HOMER,LUFF,11,1,10,1.0,0.000000
83984,56c20ded-9ca8-434f-82a0-c9d2fb0b64b7,5234809046,GERTRUDE,LUFF,6,2,10,1.0,0.000000
105350,a3244e79-3c4e-4643-99e2-ccf9e362194a,2530809046,BELL,LUFF,24,2,10,1.0,0.000000
109625,4caa0768-bc08-4245-be92-b41702c56a81,4236809046,MARTHA,LUFF,55,2,10,1.0,0.000000
...,...,...,...,...,...,...,...,...,...
129393,67d3cbf7-9d62-4e52-8320-43d25f62b102,6700809046,NaN,HICKMAN,0,1,10,0.0,NaN
129607,18277323-6450-4ebe-8182-591de7e11e3d,12925809046,NaN,DREDEN,0,2,10,0.0,NaN
129775,2392795e-90de-41c9-b1d1-b1a06cb26196,12957809046,NaN,FORKS,0,1,10,0.0,NaN
129845,4ab41444-e8d6-41d5-953f-4ff5f301f23d,12969809046,NaN,WARRINGTON,0,2,10,0.0,NaN
130035,eb98015a-a12e-4589-8ccc-49ec64ef7a80,13008809046,NaN,MOORE,0,2,10,0.0,NaN
131245,c7d409f8-87f8-4022-b0f9-aa21ceefe5f9,13498809046,NaN,SHARP,0,1,10,0.0,NaN
132490,607c99ed-e40b-4c6c-adf3-968add22b531,26059809046,NaN,HENDRICKSON,15,1,10,0.0,NaN
134245,cf4aab54-f53d-483c-a86b-b39a579ed670,8216809046,NaN,WILLY,0,2,10,0.0,NaN
134402,4e401fcd-c000-4888-8100-634cdd66d8b6,8254809046,NaN,ROACH,0,2,10,0.0,NaN
138397,a518842b-adca-401f-a488-befde5c70290,20063809046,NaN,THATCHER,0,2,10,0.0,NaN
139083,2a97f2bc-5ce7-43c6-8c91-4303d9199604,8320809046,NaN,JESTER,0,1,10,0.0,NaN
139216,e5a26ae7-dbf8-416e-aa20-c0fa18d76ee6,8353809046,NaN,DAVIS,0,2,10,0.0,NaN
139598,e368dab1-5d15-4b2e-ad52-90adcf4ffa6f,8432809046,NaN,JOHNSON,0,1,10,0.0,NaN
139730,78dc3c61-ba75-40d4-9f24-05af9ab5bb4c,8460809046,NaN,BENNETT,0,1,10,0.0,NaN
139774,d4d1122e-8b93-4428-87d4-c2e4f7e95420,8466809046,NaN,CINIRTHEN,0,1,10,0.0,NaN
143558,bdd42483-6d8a-4beb-a116-b1723f01e2ea,13881809046,NaN,GREEN,0,1,10,0.0,NaN
147871,f1ad298e-5575-4ff6-8081-8c425999c317,8486809046,NaN,CAIN,0,1,10,0.0,NaN
148367,5d40b1a8-3b8d-4120-b461-8893e567f592,8577809046,NaN,BENNETT,0,1,10,0.0,NaN
148428,76e4dfe5-af86-42ff-9c5f-e329fc3c94ae,8590809046,NaN,PRETTYMAN,0,2,10,0.0,NaN
149589,04f2033b-28ce-48fc-b7ba-01e4be47a573,13110809046,NaN,HASTING,0,1,10,0.0,NaN
149684,455ab7f9-bc66-44f1-88b5-4954ff440ae4,13134809046,NaN,WHEATLEY,0,1,10,0.0,NaN
149922,6e097a69-716d-4d67-8e83-71232c3e6af8,13198809046,NaN,NEAL,0,1,10,0.0,NaN
151177,510c06e9-b7f9-4c98-9573-fbf777c2ab33,1891809046,NaN,GRIRER,0,2,10,0.0,NaN
153606,f57c8452-53e7-42ac-9798-d4e3150f9d0a,7445809046,NaN,HITCH,0,1,10,0.0,NaN
154060,6e7a4675-2aa1-4bcf-abae-dd5e8e82d37b,7529809046,NaN,JOHNSON,0,2,10,0.0,NaN
154113,122dee82-642e-4537-a89c-bbede184cb28,7539809046,NaN,CORMEAN,0,1,10,0.0,NaN
154206,c9d24661-a844-41d7-a574-77ef31fd9d84,7559809046,NaN,DOWNS,1,2,10,0.0,NaN
154285,6c01ad17-b6fb-4f34-a047-b7b8c98a93c3,7573809046,NaN,BRITTINGHAM,1,2,10,0.0,NaN
57086,8d9bc915-8d86-4ffa-9aa5-cfb3631e7f3f,5731257652485,MARY G.,NaN,32,2,10,NaN,0.000000
57087,44bc5277-d530-4b75-be76-9e01616b7e69,5731257652485,BERTHA,NaN,6,2,10,NaN,0.000000

### Part 3: Turn the above into a function.
Using what I tested above, I'm going to create a function that completes the same actions.  I'll run it on the same data to make sure it's doign what I expect.  I'm still using closest distance of last and first names as my selection criteria.

In [29]:
# create a test data set
df_1870_3 = df_1870.iloc[:3]
df_1870_3

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL
0,b5689d06-edd3-498e-8b5b-e04f2fa2f2a9,1062582,Catherine,Beebe,44,2,10
1,a7118f06-949d-4d02-be0a-db33a6f8f3a8,1061605,Frances E,Bird,40,2,10
2,85d089c0-b907-4d9c-95ab-c5fa4a3dd2bb,1029271,J S,Luff,49,1,10

In [49]:
# I notice through trial and error that the function is case sensitive, so I convert everything text to uppercase.
df_1870_3['NAMEFRST'] = df_1870_3['NAMEFRST'].apply(lambda x: x.upper())
df_1870_3['NAMELAST'] = df_1870_3['NAMELAST'].apply(lambda x: x.upper())
df_1870_3

C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL
0,b5689d06-edd3-498e-8b5b-e04f2fa2f2a9,1062582,CATHERINE,BEEBE,44,2,10
1,a7118f06-949d-4d02-be0a-db33a6f8f3a8,1061605,FRANCES E,BIRD,40,2,10
2,85d089c0-b907-4d9c-95ab-c5fa4a3dd2bb,1029271,J S,LUFF,49,1,10

In [31]:
def find_name_match(dfa, dfb):
    
    # This function finds the best match given a first and last name, using the Jaro Winkler comparison function
    # in the jellyfish library to find the closest match.  Criteria are last name, first name.
    
    # dfa is the data we are looking to match
    # dfb is the data we are looking for matches in
    
    # filter the data for any null values
    dfb_ln = dfb[dfb['NAMELAST'].notnull()]
    print(dfb_ln.shape)
    dfb_fn = dfb[dfb['NAMEFRST'].notnull()]
    print(dfb_fn.shape)
    
    # start iterating through the data frame rows and looking for matches
    for index, row in dfa.iterrows():
        # Get the name values, make sure they're uppercase
        fn = row['NAMEFRST'].upper()
        ln = row['NAMELAST'].upper()
        print(fn)
        print(ln)
        
        # Run the comparison on each entry in the filtered dataframe and record the distance
        dfb_ln['ln_dist'] = dfb_ln['NAMELAST'].apply(lambda x: jf.jaro_winkler(ln, x))
        # Sort the dataframe by closest match (highest value first)
        dfb_ln.sort_values('ln_dist', inplace=True, ascending=False)
        #print(dfb_ln.iloc[:5])
        
        dfb_fn['fn_dist'] = dfb_fn['NAMEFRST'].apply(lambda x: jf.jaro_winkler(fn, x))
        dfb_fn.sort_values('fn_dist', inplace=True, ascending=False)
        #print(dfb_fn.iloc[:5])
        
        # Merge the distance scores back into the unfiltered data and sort.
        dfb_dists = pd.merge(dfb,dfb_ln[['id','ln_dist']], how='left',on='id')
        dfb_dists = pd.merge(dfb_dists,dfb_fn[['id','fn_dist']], how='left',on='id')        
        dfb_dists.sort_values(['ln_dist','fn_dist'],ascending=False,inplace=True)
        print(dfb_dists.iloc[:5])

In [32]:
# Run the function we just defined on the test set of data
find_name_match(df_1870_3, df_1880)

(154876, 7)
(154644, 7)
CATHERINE
BEEBE

C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                                          id         SERIAL      NAMEFRST  \
43285   f7946b71-ff8a-441b-a37f-e086d6a6a048  1283321554552     CATHERINE
35249   7864272b-29f9-405a-9fdc-7fe135a49a9e    10894809046     CLARRENCE
29956   32a0280b-9472-416f-bec5-f45938b7c5d7  2022342157662        GEORGE
101052  091dc005-5c99-42c4-8db8-fd83ea3aaed4    10860809046  GEORGE ANNIE
2795    13d2fde6-7204-4edb-85c8-29f68ef48125  3380005884791       RICHARD

       NAMELAST  AGE  SEX  BPL  ln_dist   fn_dist
43285     BEEBE   54    2   10      1.0  1.000000
35249     BEEBE   30    1   10      1.0  0.750000
29956     BEEBE   27    1   10      1.0  0.611111
101052    BEEBE   21    2   10      1.0  0.590741
2795      BEEBE   66    1   10      1.0  0.588624
FRANCES E
BIRD
                                         id         SERIAL     NAMEFRST  \
1640   9f638d67-3533-4886-9e2e-f9f6e87ca771  9996965884791    FANNIE E.
51251  2a93b03c-7f63-401b-a5b0-fe039b7422a3    13716809046   CHARLES D.
24631  30c95469-317a-4131-b084-bc3d9bf23c96    21443774547  CAROLINE W.
53731  6458279b-86c0-4ec6-8b9e-80fca80d9ecc    18460809046     JAMES T.
75446  23d2890e-d6fa-45d3-ad21-abe4d9f3f6a7    26396809046     JAMES W.

      NAMELAST  AGE  SEX  BPL  ln_dist   fn_dist
1640      BIRD   50    2   10      1.0  0.800000
51251     BIRD   18    1   10      1.0  0.700000
24631     BIRD   46    2   10      1.0  0.654040
53731     BIRD   83    1   10      1.0  0.648148
75446     BIRD   26    1   10      1.0  0.648148
J S
LUFF
                                          id        SERIAL      NAMEFRST  \
119360  2a675d10-ed1e-4f73-bce9-76e2e4b3924a   50315869645         J. S.
83981   c9489d1c-de39-46c3-bb28-e5cc2e3d60d5    5234809046     JOSHUA B.
83934   da7780d2-cdb8-41aa-a587-7afead626c37    5224809046  JEFFERSON M.
37174   f0aca0c4-92d6-4d78-a20e-08847f3ef893  942573643712          JNO.
41223   e1b689d3-3ee7-4aae-8a5d-f509ba0d128c    4695809046          JOHN

       NAMELAST  AGE  SEX  BPL  ln_dist   fn_dist
119360     LUFF   60    1   10      1.0  0.866667
83981      LUFF   43    1   10      1.0  0.629630
83934      LUFF   21    1   10      1.0  0.611111
37174      LUFF   17    1   10      1.0  0.527778
41223      LUFF   20    1   10      1.0  0.527778

### Part 4: "John Smith"
Here we add a name with multiple text matches to the set, and see what the script does.

In [50]:
# Create test data set
df_1870_4 = df_1870.iloc[:4]
df_1870_4

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL
0,b5689d06-edd3-498e-8b5b-e04f2fa2f2a9,1062582,CATHERINE,BEEBE,44,2,10
1,a7118f06-949d-4d02-be0a-db33a6f8f3a8,1061605,FRANCES E,BIRD,40,2,10
2,85d089c0-b907-4d9c-95ab-c5fa4a3dd2bb,1029271,J S,LUFF,49,1,10
3,cddd9455-48e0-4b48-89a5-9ee315e00087,1237122,JOHN,SMITH,26,1,10

In [34]:
df_1880

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL
0,a499b0dc-7ac0-4d61-b493-91a3036c712e,2484121231038,ANNIE,FAUBLE,26,2,10
1,ae7261c3-7d71-4ea1-997f-5d1a68c18777,2485245884791,MARY,REESE,35,2,10
2,ad6442b5-42bc-4c2e-a517-5a951d989a92,2485245884791,MARY,REESE,11,2,10
3,b0b6695f-dfa5-4e4d-bc75-798c27195fff,2485245884791,SALLY,REESE,9,2,10
4,9e807937-de09-414c-bfb2-ac821e112929,2485411231038,JOHN,SHIELDS,21,1,10
5,426f2cbe-32e1-45eb-9f86-89a2b9116b7e,2485411231038,ANNE,FAUBLE,26,2,10
6,a76697d9-b0c8-4774-bc3e-12a7e403c7e6,2485601231038,JOHN,COLLINS,17,1,10
7,3575c9ba-1527-4ca2-aff0-d7c2d1efb421,2485601231038,MAGGIE,COLLINS,16,2,10
8,49e53dbc-fe8e-4e55-8cb9-a1d93c284d98,2485601231038,MARY,COLLINS,12,2,10
9,50b33ef6-259d-43af-8cdc-56a61f881169,2486481554552,WILLIAM H.,SEWARD,54,1,10
10,952754a5-48b4-462a-ac57-e4a059a9ef98,2486951231038,ESTHER,BIERHAHN,40,2,10
11,ea6d77b3-2e2d-4c59-a0ac-6b297e8898e3,2488461231038,CHARLES,CLEVELAND,45,1,10
12,60a5052e-6d67-455a-a3aa-bb79560c7d8d,2489211231038,SUSAN,WILSON,60,2,10
13,0d4472ec-6378-4aeb-b6c7-17e1c388bb94,2489301231038,ARCHER,HARVEY,20,1,10
14,65ccbeb7-2c79-4fb0-b354-c67f150ad80c,2489831554552,ELIZABETH,MC LEAN,42,2,10
15,72cbe5fa-f558-4393-8423-1842fadf7f11,2490611554552,MARY A.,FLEMMING,73,2,10
16,44693008-fd6f-48fe-9c52-e6c07baff361,2490671231038,BESSIE,CHAMBERS,2,2,10
17,bcc0988e-2397-4f1b-8e76-4bfe1b05dbc6,2491501554552,THOMAS,GRAHAM,64,1,10
18,a7b10530-b7c9-44d5-9125-c603f392d6d3,2491801231038,EDWARD,DEKAY,35,1,10
19,1e635c1c-7faa-4270-acf3-a22635884b90,2492069772349,NATHEN,THORPE,74,1,10
20,d3217545-3453-4d96-86c0-d6a3e60fb2f8,2492741231038,JOB,FOSTER,26,1,10
21,2a35bae5-3120-4e2c-87da-694d4419c9ce,2492741231038,JEZEBEL,FOSTER,22,2,10
22,94460fc2-954b-469d-9726-f7126c30e5e2,2493391231038,ELIZA,GOODWIN,39,2,10
23,620b6ebb-82e6-42db-8aae-300ca2be0c00,2493391231038,MARY,GOODWIN,17,2,10
24,bfe1080e-2e67-4a8c-a6e1-ed94ea103712,2493391231038,JO,GOODWIN,15,1,10
25,7fb55d25-2a7d-486d-9efa-27b9d7e60c24,2493841231038,PHINEAS,TAYLOR,39,1,10
26,a0f33b36-cef7-4949-a031-22b90f1055d4,2494397652485,MARY A.,LORD,54,2,10
27,1a76745c-acf8-48a0-9992-7fb10c11710b,2494421231038,E.B.,ALLEN,21,1,10
28,7b6ba9cc-a38d-466e-921d-faa53ef96d2e,2494641554552,SAMUEL W.,LAYTON,49,1,10
29,4e434f95-5af2-4dca-a1ed-ed2489205907,2495121554552,ELIZA,JUSTISON,64,2,10
...,...,...,...,...,...,...,...
154848,2aa4df62-172d-4fac-a691-cdcf57e77a84,7674809046,JAMES P.,BLIZZARD,13,1,10
154849,b866a841-77b8-4632-aaf7-86c2ac5873c4,7674809046,CHARLES E.,BLIZZARD,1,1,10
154850,951c41c7-d6c7-457a-aacc-7f1fa1c1478d,76749368672,JOHN S.,CARPENTER,31,1,10
154851,325ee515-30fa-4de1-9fac-1c6b370ec5d7,7675809046,NATHANIEL,INGRAHAMS,74,1,10
154852,4b659bac-fd8e-446d-b2da-6e63cb001712,7675809046,MARTHA C.,INGRAHAMS,28,2,10
154853,877016da-20f2-48d3-980d-90217473ce26,7675809046,MOLLIE A.,INGRAHAMS,9,2,10
154854,d482353a-27e4-4e35-9298-f43735b89fae,7675809046,JOHN L.,INGRAHAMS,6,1,10
154855,9fbc5ed5-4056-4a32-84cb-089f665fe0a7,7675809046,MATTE,INGRAHAMS,4,2,10
154856,140dc53c-aab1-4eee-b500-f0512b30571a,7676809046,CATHERINE B.,DUTTON,52,2,10
154857,d9aeea00-9776-41e5-ac5e-1b0b9624ec87,7676809046,WILLIAM J.,DUTTON,23,1,10
154858,074d3748-b1cc-422d-aa5c-e08e5fc403a3,7676809046,JOHN L.,DUTTON,20,1,10
154859,11502b6d-10c6-4d1a-95f6-3026122a1e92,7676809046,LYDIA H.,DUTTON,16,2,10
154860,5f26c014-5a2d-4807-9073-19c6d419269f,7676809046,HANNAH E.,DUTTON,16,2,10
154861,9238abf9-5d0c-472a-8ed1-811ba1338d0c,7676809046,WILLIAM,LEWIS,40,1,10
154862,a11a2c53-010e-42f8-8ad1-8d3215583740,7677809046,PETER J.,WILSON,48,1,10
154863,f5ddbbaa-d2f4-418d-8d70-d1e102701868,7677809046,WILLIAM T.,WILSON,16,1,10
154864,2d4a98e5-1f2f-4909-b816-a4314850eddc,7677809046,EBE M.,WILSON,13,1,10
154865,5da59721-1e0c-47b5-b35c-566ccfb588da,7677809046,THOMAS P.,WILSON,10,1,10
154866,1ed5b72c-0b04-47d5-828b-22f735a164cb,7677809046,THOMAS P.,WILSON,50,1,10
154867,b70926c4-1061-4c2e-aee5-8e24279fa1e2,7678809046,VIRDEN,MACKLIN,52,1,10
154868,e1ff4c42-41fb-4e01-904a-caa992f67959,7678809046,ELIZABETH,MACKLIN,51,2,10
154869,b9ad7c27-b310-4adc-8ebb-595531344073,7678809046,WILLIAM,MACKLIN,21,1,10
154870,3975183e-13e9-4fc2-bcb5-a726c48bc200,7678809046,SEYMORE,MACKLIN,14,1,10
154871,35b80c73-9f04-46ba-a55f-d1eca850c378,7678809046,SALLIE,MACKLIN,80,2,10
154872,4ba77259-a4d0-44ba-bc7b-53c6b845825b,7679809046,THOMAS,WILSON,45,1,10
154873,fbfa6568-5012-43a4-84ea-38f57994e3cd,7679809046,JANE E.,WILSON,25,2,10
154874,a7922fe9-4f83-4f71-a63a-8b2964a3610f,7679809046,LAURA,WILSON,12,2,10
154875,8bff1989-12bd-4d1c-a9b3-717e503a7ed4,7679809046,ELZEY,WILSON,10,1,10
154876,4a940747-ee50-4d75-9d29-d1dadfe19e8e,7679809046,MARY G.,WILSON,8,2,10
154877,1be418f3-6fc4-4ca3-8632-d43e60400c95,7679809046,SARAH A.,WILSON,3,2,10

In [35]:
df = find_name_match(df_1870_4, df_1880)
df

(154876, 7)
(154644, 7)
CATHERINE
BEEBE

C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                                          id         SERIAL      NAMEFRST  \
43285   f7946b71-ff8a-441b-a37f-e086d6a6a048  1283321554552     CATHERINE
35249   7864272b-29f9-405a-9fdc-7fe135a49a9e    10894809046     CLARRENCE
29956   32a0280b-9472-416f-bec5-f45938b7c5d7  2022342157662        GEORGE
101052  091dc005-5c99-42c4-8db8-fd83ea3aaed4    10860809046  GEORGE ANNIE
2795    13d2fde6-7204-4edb-85c8-29f68ef48125  3380005884791       RICHARD

       NAMELAST  AGE  SEX  BPL  ln_dist   fn_dist
43285     BEEBE   54    2   10      1.0  1.000000
35249     BEEBE   30    1   10      1.0  0.750000
29956     BEEBE   27    1   10      1.0  0.611111
101052    BEEBE   21    2   10      1.0  0.590741
2795      BEEBE   66    1   10      1.0  0.588624
FRANCES E
BIRD
                                         id         SERIAL     NAMEFRST  \
1640   9f638d67-3533-4886-9e2e-f9f6e87ca771  9996965884791    FANNIE E.
51251  2a93b03c-7f63-401b-a5b0-fe039b7422a3    13716809046   CHARLES D.
24631  30c95469-317a-4131-b084-bc3d9bf23c96    21443774547  CAROLINE W.
53731  6458279b-86c0-4ec6-8b9e-80fca80d9ecc    18460809046     JAMES T.
75446  23d2890e-d6fa-45d3-ad21-abe4d9f3f6a7    26396809046     JAMES W.

      NAMELAST  AGE  SEX  BPL  ln_dist   fn_dist
1640      BIRD   50    2   10      1.0  0.800000
51251     BIRD   18    1   10      1.0  0.700000
24631     BIRD   46    2   10      1.0  0.654040
53731     BIRD   83    1   10      1.0  0.648148
75446     BIRD   26    1   10      1.0  0.648148
J S
LUFF
                                          id        SERIAL      NAMEFRST  \
119360  2a675d10-ed1e-4f73-bce9-76e2e4b3924a   50315869645         J. S.
83981   c9489d1c-de39-46c3-bb28-e5cc2e3d60d5    5234809046     JOSHUA B.
83934   da7780d2-cdb8-41aa-a587-7afead626c37    5224809046  JEFFERSON M.
37174   f0aca0c4-92d6-4d78-a20e-08847f3ef893  942573643712          JNO.
41223   e1b689d3-3ee7-4aae-8a5d-f509ba0d128c    4695809046          JOHN

       NAMELAST  AGE  SEX  BPL  ln_dist   fn_dist
119360     LUFF   60    1   10      1.0  0.866667
83981      LUFF   43    1   10      1.0  0.629630
83934      LUFF   21    1   10      1.0  0.611111
37174      LUFF   17    1   10      1.0  0.527778
41223      LUFF   20    1   10      1.0  0.527778
JOHN
SMITH
                                         id         SERIAL NAMEFRST NAMELAST  \
492    5b99a7e5-f0ca-4eba-b374-88799c5ceb97  2714604452919     JOHN    SMITH
1242   7f6b3a54-6f74-4c0e-9be8-c6215c6c0609  7436247652485     JOHN    SMITH
3375   fc004cc1-aa5c-4e21-aa90-e7577e02740c  3770661554552     JOHN    SMITH
11514  31dac22b-f3a9-4f6c-a129-15852e7be2ff  1042163643712     JOHN    SMITH
14987  79b60512-43ca-4a06-97cf-d23a7a713f1c  3006662157662     JOHN    SMITH

       AGE  SEX  BPL  ln_dist  fn_dist
492     51    1   10      1.0      1.0
1242    34    1   10      1.0      1.0
3375    70    1   10      1.0      1.0
11514   69    1   10      1.0      1.0
14987   31    1   10      1.0      1.0

#### Aaaaand, that's messy.  Common names yield lots of matches that need further criteria to elucidate good matches. 
I'm going to add 'age' as a comparison point.

In [36]:
def find_name_match(dfa, dfb):
    
    # This function finds the best match given a first and last name, using the Jaro Winkler comparison function
    # in the jellyfish library to find the closest match.  Criteria are last name, first name, and age.
    
    # dfa is the data we are looking to match
    # dfb is the data we are looking for matches in
    
    # filter the data for any null values
    dfb_ln = dfb[dfb['NAMELAST'].notnull()]
    print(dfb_ln.shape)
    dfb_fn = dfb[dfb['NAMEFRST'].notnull()]
    print(dfb_fn.shape)
    
    # start iterating through the data frame rows and looking for matches
    for index, row in dfa.iterrows():
        # Get the name and age values, make sure the names are uppercase
        fn = row['NAMEFRST'].upper()
        ln = row['NAMELAST'].upper()
        age0 = row['AGE']
        print(fn)
        print(ln)
        print(age0)
        
        # Run the comparison on each entry in the filtered dataframe and record the distance
        dfb_ln['ln_dist'] = dfb_ln['NAMELAST'].apply(lambda x: jf.jaro_winkler(ln, x))
        # Sort the dataframe by closest match (highest value first)
        dfb_ln.sort_values('ln_dist', inplace=True, ascending=False)
        #print(dfb_ln.iloc[:5])
        
        dfb_fn['fn_dist'] = dfb_fn['NAMEFRST'].apply(lambda x: jf.jaro_winkler(fn, x))
        dfb_fn.sort_values('fn_dist', inplace=True, ascending=False)
        #print(dfb_fn.iloc[:5])
        
        # Merge the distance scores back into the unfiltered data and sort.
        dfb_dists = pd.merge(dfb,dfb_ln[['id','ln_dist']], how='left',on='id')
        dfb_dists = pd.merge(dfb_dists,dfb_fn[['id','fn_dist']], how='left',on='id')        
        dfb_dists.sort_values(['ln_dist','fn_dist'],ascending=False,inplace=True)
        #print(dfb_dists.iloc[:5])
        
        # Let's just look at the top 50 name matches, so we're not running the lambda functions on so much data.
        dfb_candidates = dfb_dists.iloc[:50]
        # Return the absolute value of the age in 1880 minus ten years minus the age in 1870.  I'm using the
        # absolute value because it doesn't matter to me if the age is one higher or lower, just the distance from
        # what is expected.
        dfb_candidates['age_diff'] = dfb_dists['AGE'].apply(lambda x: abs(int(x)-10-int(age0)))
        # Sort by name distances, then age difference from expected.  Return the top 5 matches.
        dfb_candidates.sort_values(['ln_dist','fn_dist','age_diff'],inplace=True,ascending=[False,False,True])
        print(dfb_candidates.iloc[:5])

In [37]:
df = find_name_match(df_1870_4, df_1880)
df

(154876, 7)
(154644, 7)
CATHERINE
BEEBE
44

C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                                          id         SERIAL      NAMEFRST  \
43285   f7946b71-ff8a-441b-a37f-e086d6a6a048  1283321554552     CATHERINE
35249   7864272b-29f9-405a-9fdc-7fe135a49a9e    10894809046     CLARRENCE
29956   32a0280b-9472-416f-bec5-f45938b7c5d7  2022342157662        GEORGE
101052  091dc005-5c99-42c4-8db8-fd83ea3aaed4    10860809046  GEORGE ANNIE
2795    13d2fde6-7204-4edb-85c8-29f68ef48125  3380005884791       RICHARD

       NAMELAST  AGE  SEX  BPL  ln_dist   fn_dist  age_diff
43285     BEEBE   54    2   10      1.0  1.000000         0
35249     BEEBE   30    1   10      1.0  0.750000        24
29956     BEEBE   27    1   10      1.0  0.611111        27
101052    BEEBE   21    2   10      1.0  0.590741        33
2795      BEEBE   66    1   10      1.0  0.588624        12
FRANCES E
BIRD
40
                                         id         SERIAL     NAMEFRST  \
1640   9f638d67-3533-4886-9e2e-f9f6e87ca771  9996965884791    FANNIE E.
51251  2a93b03c-7f63-401b-a5b0-fe039b7422a3    13716809046   CHARLES D.
24631  30c95469-317a-4131-b084-bc3d9bf23c96    21443774547  CAROLINE W.
75446  23d2890e-d6fa-45d3-ad21-abe4d9f3f6a7    26396809046     JAMES W.
53731  6458279b-86c0-4ec6-8b9e-80fca80d9ecc    18460809046     JAMES T.

      NAMELAST  AGE  SEX  BPL  ln_dist   fn_dist  age_diff
1640      BIRD   50    2   10      1.0  0.800000         0
51251     BIRD   18    1   10      1.0  0.700000        32
24631     BIRD   46    2   10      1.0  0.654040         4
75446     BIRD   26    1   10      1.0  0.648148        24
53731     BIRD   83    1   10      1.0  0.648148        33
J S
LUFF
49
                                          id       SERIAL      NAMEFRST  \
119360  2a675d10-ed1e-4f73-bce9-76e2e4b3924a  50315869645         J. S.
83981   c9489d1c-de39-46c3-bb28-e5cc2e3d60d5   5234809046     JOSHUA B.
83934   da7780d2-cdb8-41aa-a587-7afead626c37   5224809046  JEFFERSON M.
109624  416d8d8b-02ca-45d4-aebf-3a6887a4245c   4236809046          JOHN
41223   e1b689d3-3ee7-4aae-8a5d-f509ba0d128c   4695809046          JOHN

       NAMELAST  AGE  SEX  BPL  ln_dist   fn_dist  age_diff
119360     LUFF   60    1   10      1.0  0.866667         1
83981      LUFF   43    1   10      1.0  0.629630        16
83934      LUFF   21    1   10      1.0  0.611111        38
109624     LUFF   70    1   10      1.0  0.527778        11
41223      LUFF   20    1   10      1.0  0.527778        39
JOHN
SMITH
26
                                          id         SERIAL NAMEFRST NAMELAST  \
35076   06377154-eea4-4211-bf10-fe548d9a964f    11197809046     JOHN    SMITH
1242    7f6b3a54-6f74-4c0e-9be8-c6215c6c0609  7436247652485     JOHN    SMITH
39366   83360dd4-1f7c-4277-b669-c5b79bd4e6fa  5663167652485     JOHN    SMITH
62520   38a83c20-4a1e-4e16-a7cd-c0d707a4cd8e   197805604765     JOHN    SMITH
130101  1cf9fe50-d787-47f0-bcd1-ca92c40cfa3c    13025809046     JOHN    SMITH

        AGE  SEX  BPL  ln_dist  fn_dist  age_diff
35076    35    1   10      1.0      1.0         1
1242     34    1   10      1.0      1.0         2
39366    38    1   10      1.0      1.0         2
62520    40    1   10      1.0      1.0         4
130101   32    1   10      1.0      1.0         4

#### This is still not giving me the best matches.  What if I compare the household members from one year to another, using the serial id...

In [51]:
# Let's just convert all the name data to uppercase. 
df_1870['NAMEFRST'] = df_1870['NAMEFRST'].apply(lambda x: x.upper() if (type(x) != float) else np.nan)
df_1870['NAMELAST'] = df_1870['NAMELAST'].apply(lambda x: x.upper() if (type(x) != float) else np.nan)
df_1870

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL
0,b5689d06-edd3-498e-8b5b-e04f2fa2f2a9,1062582,CATHERINE,BEEBE,44,2,10
1,a7118f06-949d-4d02-be0a-db33a6f8f3a8,1061605,FRANCES E,BIRD,40,2,10
2,85d089c0-b907-4d9c-95ab-c5fa4a3dd2bb,1029271,J S,LUFF,49,1,10
3,cddd9455-48e0-4b48-89a5-9ee315e00087,1237122,JOHN,SMITH,26,1,10
4,8cb74256-6dfa-4d17-913a-59fa646c388a,1022156,SAML H,RUSSELL,77,1,10
5,1f8e1a74-d486-44ad-8d5c-51aedf86208e,1025771,CHARLES,ROBERTSON,26,1,10
6,61a1590f-1d3a-4666-8406-3d4aaf0770b4,1027559,JOHN,DICKINSON,42,1,10
7,92277f0b-1476-41f5-9dc8-bf83672616d0,1028383,JOSEPH,SHISSLER,36,1,10
8,322291a1-de91-439d-bba0-45fc2f47a2eb,1029335,DAVID,HALL,71,1,10
9,136f7105-ff59-4eac-9d95-44b002cbb448,1031229,JOHN,DECAME,52,1,10
10,1138ab41-e234-4c72-b812-eaaf0fc5f76c,1031229,NANCY,DECAME,53,2,10
11,066ea4e1-f340-4231-b505-ec7bb9a07103,1031229,PETER N,DECAME,15,1,10
12,b7d96336-404e-490c-8c45-61f2287b52ff,1031229,ANNAM,DECAME,13,2,10
13,24bdff6a-5590-4494-8e8a-ac4a549c8890,1031229,SARAH,DECAME,10,2,10
14,c1fedaab-f026-4aa4-9320-e10f2432d539,1031230,JAMES,CARNEY,22,1,10
15,43a6ebe5-752b-4054-818d-6f6f75cc89e7,1031235,ALFRED,DELL,27,1,10
16,0d693015-2349-4363-9667-45036af7d0db,1031760,CHAS,SYAEX,40,1,10
17,1d586e26-aac1-49df-a2ad-fe0a385a26bf,1031767,SARAH,RUSSELL,13,2,10
18,93b7ac89-f9db-49b2-a1f2-c189fecc14ae,1034579,WM H,HAZARD,29,1,10
19,e51c36c9-570c-466d-aac1-bf380c9c20f1,1034579,MARTHA,HAZARD,30,2,10
20,9250341a-8336-494a-bc84-2b803efe64c6,1034579,WILLIE MAY,HAZARD,8,2,10
21,a70679f0-9313-4ef3-bf87-5dfe81beed5d,1034579,SAMUEL,HAZARD,4,2,10
22,4715bbf6-d3e2-4260-9ddd-6aece147e5c1,1034579,SAMUEL,MORGAN,32,1,10
23,77378570-5214-4ac5-8258-c5156e8b99b3,1034648,J CLAUSON,MCFARLAND,20,1,10
24,6542b541-6e10-411f-9b2a-7c0b93b0aa68,1034648,EUGENE,MCFARLAND,18,1,10
25,396c4077-6a70-4a17-97fb-f8a0c06fdafe,1037015,ANNA,PRESTON,39,2,10
26,7e9dde5e-3fad-4b2e-b367-643c0dc8cabb,1038208,REBECCA N,ALEXANDER,49,2,10
27,f7d9e25f-c390-4222-ac24-4e93d72daa05,1038222,MARTHA,ELLIS,37,2,10
28,24b7afa1-8c49-4833-8292-c545c85d3b89,1039117,OTILLIA,ZEIDER,34,2,10
29,4b416874-0c5c-4233-81ec-39223bc66f4f,1048673,MARY,DOYLE,64,2,10
...,...,...,...,...,...,...,...
970,8d509da0-219a-475b-810f-efc69c333423,1345594,REUBEN,SAPP,29,1,10
971,3a2c73f6-c3da-4b9b-8d30-33b0e0b39175,1345594,LEWIS,SAPP,22,1,10
972,19019cce-31d5-40e2-9137-5dd512c3bca4,1345597,CALVIN,JARVIS,25,1,10
973,2a538b49-1f89-4eed-90e1-33dd9a433dae,1345643,LENZORA,JONES,33,1,10
974,b029ba27-a9a8-4eeb-a1b1-420069c649b9,1345643,ANNA,JONES,7,2,10
975,732e5217-59ae-40a3-97c6-755453c71a37,1345643,ADDIE,JONES,5,2,10
976,74faa32d-d78b-457b-9238-9a9c43fbc77c,1345643,KATIE E,JONES,4,2,10
977,ddd71d74-340d-40ff-a33c-ddd862432003,1345643,JAS W,JONES,2,1,10
978,934289ec-815f-441e-b8c8-b03eb8b903fb,1345685,S C,ANDERSON,22,1,10
979,c81ef968-e90d-472a-90b2-b0ea665dd127,1345685,LYDIA,ANDERSON,23,2,10
980,ea45ccad-67f8-4825-af70-d84ef56c9aa1,1345685,GILBERT,ANDERSON,0,1,10
981,7d59aab4-3092-409a-8628-021b589d7e24,1345693,E,ANDERSON,2,1,10
982,042b9780-301d-450f-87be-3836f35be815,1345693,WM,COLLISON,26,1,10
983,43052bf5-45e9-41dc-b87e-fb45dcb3d854,1345712,ANDREW,SAPP,36,1,10
984,634bee64-581f-4604-9898-ff258e4d8ab5,134572,JOHN,HERDSMAN,25,1,10
985,898b1dcd-2c98-40f6-96e4-145c94246e6c,1345749,LYDIA,CARTER,34,2,10
986,657bddac-9249-4e70-96a3-b5ada29ccae7,1345753,HEZEKIAH,SAPP,27,1,10
987,58a68988-83e9-4979-bf22-772fb9d9d09a,1345753,ANNA,SAPP,24,2,10
988,8583e696-0c39-484b-aa28-f863d2078837,1345753,EDGAR,SAPP,3,1,10
989,6e22ca04-da0e-41ce-87dd-08ae1c19b6e9,1345753,THOS,SAPP,14,1,10
990,7db47b1b-1049-4d87-9615-c364e614ba64,1345781,SYLVANIA,SYLVESTER,26,2,10
991,5dcf2198-4f82-45aa-a53a-76b1c1c2ba9c,1345781,ANNA S,SYLVESTER,4,2,10
992,201a67f3-9841-49b3-b25e-19454500777e,1345786,NANCY,CAHALL,36,2,10
993,8a712489-5036-429e-84d8-b35ae107a95d,1345801,HARTY,WYATT,53,1,10
994,f6c37f98-5413-47f6-a25c-da5234505230,1345801,SARAH,WYATT,33,2,10
995,f21b436d-1a09-4997-bbf5-ff84eeeff556,1345801,JAMES,WYATT,19,1,10
996,142840b0-6211-438f-a3a9-f34b23944aa7,1345818,HENRY,SAPP,34,1,10
997,adec403c-b4bf-48a2-a5de-ccfd74eae6af,1345821,J R,SAPP,45,1,10
998,9631a25a-5bf8-4419-a1c4-786ff08e4c32,1346135,WILLIAM H,REED,51,1,10
999,7a1bc3bf-863d-4cfd-ac8e-46f2b1d5df36,1346181,MARY E,PEELER,27,2,10

In [39]:
df_1880['NAMEFRST'] = df_1880['NAMEFRST'].apply(lambda x: x.replace(".","") if (type(x) != float) else np.nan)
df_1880['NAMELAST'] = df_1880['NAMELAST'].apply(lambda x: x.replace(".","") if (type(x) != float) else np.nan)
df_1880

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL
0,a499b0dc-7ac0-4d61-b493-91a3036c712e,2484121231038,ANNIE,FAUBLE,26,2,10
1,ae7261c3-7d71-4ea1-997f-5d1a68c18777,2485245884791,MARY,REESE,35,2,10
2,ad6442b5-42bc-4c2e-a517-5a951d989a92,2485245884791,MARY,REESE,11,2,10
3,b0b6695f-dfa5-4e4d-bc75-798c27195fff,2485245884791,SALLY,REESE,9,2,10
4,9e807937-de09-414c-bfb2-ac821e112929,2485411231038,JOHN,SHIELDS,21,1,10
5,426f2cbe-32e1-45eb-9f86-89a2b9116b7e,2485411231038,ANNE,FAUBLE,26,2,10
6,a76697d9-b0c8-4774-bc3e-12a7e403c7e6,2485601231038,JOHN,COLLINS,17,1,10
7,3575c9ba-1527-4ca2-aff0-d7c2d1efb421,2485601231038,MAGGIE,COLLINS,16,2,10
8,49e53dbc-fe8e-4e55-8cb9-a1d93c284d98,2485601231038,MARY,COLLINS,12,2,10
9,50b33ef6-259d-43af-8cdc-56a61f881169,2486481554552,WILLIAM H,SEWARD,54,1,10
10,952754a5-48b4-462a-ac57-e4a059a9ef98,2486951231038,ESTHER,BIERHAHN,40,2,10
11,ea6d77b3-2e2d-4c59-a0ac-6b297e8898e3,2488461231038,CHARLES,CLEVELAND,45,1,10
12,60a5052e-6d67-455a-a3aa-bb79560c7d8d,2489211231038,SUSAN,WILSON,60,2,10
13,0d4472ec-6378-4aeb-b6c7-17e1c388bb94,2489301231038,ARCHER,HARVEY,20,1,10
14,65ccbeb7-2c79-4fb0-b354-c67f150ad80c,2489831554552,ELIZABETH,MC LEAN,42,2,10
15,72cbe5fa-f558-4393-8423-1842fadf7f11,2490611554552,MARY A,FLEMMING,73,2,10
16,44693008-fd6f-48fe-9c52-e6c07baff361,2490671231038,BESSIE,CHAMBERS,2,2,10
17,bcc0988e-2397-4f1b-8e76-4bfe1b05dbc6,2491501554552,THOMAS,GRAHAM,64,1,10
18,a7b10530-b7c9-44d5-9125-c603f392d6d3,2491801231038,EDWARD,DEKAY,35,1,10
19,1e635c1c-7faa-4270-acf3-a22635884b90,2492069772349,NATHEN,THORPE,74,1,10
20,d3217545-3453-4d96-86c0-d6a3e60fb2f8,2492741231038,JOB,FOSTER,26,1,10
21,2a35bae5-3120-4e2c-87da-694d4419c9ce,2492741231038,JEZEBEL,FOSTER,22,2,10
22,94460fc2-954b-469d-9726-f7126c30e5e2,2493391231038,ELIZA,GOODWIN,39,2,10
23,620b6ebb-82e6-42db-8aae-300ca2be0c00,2493391231038,MARY,GOODWIN,17,2,10
24,bfe1080e-2e67-4a8c-a6e1-ed94ea103712,2493391231038,JO,GOODWIN,15,1,10
25,7fb55d25-2a7d-486d-9efa-27b9d7e60c24,2493841231038,PHINEAS,TAYLOR,39,1,10
26,a0f33b36-cef7-4949-a031-22b90f1055d4,2494397652485,MARY A,LORD,54,2,10
27,1a76745c-acf8-48a0-9992-7fb10c11710b,2494421231038,EB,ALLEN,21,1,10
28,7b6ba9cc-a38d-466e-921d-faa53ef96d2e,2494641554552,SAMUEL W,LAYTON,49,1,10
29,4e434f95-5af2-4dca-a1ed-ed2489205907,2495121554552,ELIZA,JUSTISON,64,2,10
...,...,...,...,...,...,...,...
154848,2aa4df62-172d-4fac-a691-cdcf57e77a84,7674809046,JAMES P,BLIZZARD,13,1,10
154849,b866a841-77b8-4632-aaf7-86c2ac5873c4,7674809046,CHARLES E,BLIZZARD,1,1,10
154850,951c41c7-d6c7-457a-aacc-7f1fa1c1478d,76749368672,JOHN S,CARPENTER,31,1,10
154851,325ee515-30fa-4de1-9fac-1c6b370ec5d7,7675809046,NATHANIEL,INGRAHAMS,74,1,10
154852,4b659bac-fd8e-446d-b2da-6e63cb001712,7675809046,MARTHA C,INGRAHAMS,28,2,10
154853,877016da-20f2-48d3-980d-90217473ce26,7675809046,MOLLIE A,INGRAHAMS,9,2,10
154854,d482353a-27e4-4e35-9298-f43735b89fae,7675809046,JOHN L,INGRAHAMS,6,1,10
154855,9fbc5ed5-4056-4a32-84cb-089f665fe0a7,7675809046,MATTE,INGRAHAMS,4,2,10
154856,140dc53c-aab1-4eee-b500-f0512b30571a,7676809046,CATHERINE B,DUTTON,52,2,10
154857,d9aeea00-9776-41e5-ac5e-1b0b9624ec87,7676809046,WILLIAM J,DUTTON,23,1,10
154858,074d3748-b1cc-422d-aa5c-e08e5fc403a3,7676809046,JOHN L,DUTTON,20,1,10
154859,11502b6d-10c6-4d1a-95f6-3026122a1e92,7676809046,LYDIA H,DUTTON,16,2,10
154860,5f26c014-5a2d-4807-9073-19c6d419269f,7676809046,HANNAH E,DUTTON,16,2,10
154861,9238abf9-5d0c-472a-8ed1-811ba1338d0c,7676809046,WILLIAM,LEWIS,40,1,10
154862,a11a2c53-010e-42f8-8ad1-8d3215583740,7677809046,PETER J,WILSON,48,1,10
154863,f5ddbbaa-d2f4-418d-8d70-d1e102701868,7677809046,WILLIAM T,WILSON,16,1,10
154864,2d4a98e5-1f2f-4909-b816-a4314850eddc,7677809046,EBE M,WILSON,13,1,10
154865,5da59721-1e0c-47b5-b35c-566ccfb588da,7677809046,THOMAS P,WILSON,10,1,10
154866,1ed5b72c-0b04-47d5-828b-22f735a164cb,7677809046,THOMAS P,WILSON,50,1,10
154867,b70926c4-1061-4c2e-aee5-8e24279fa1e2,7678809046,VIRDEN,MACKLIN,52,1,10
154868,e1ff4c42-41fb-4e01-904a-caa992f67959,7678809046,ELIZABETH,MACKLIN,51,2,10
154869,b9ad7c27-b310-4adc-8ebb-595531344073,7678809046,WILLIAM,MACKLIN,21,1,10
154870,3975183e-13e9-4fc2-bcb5-a726c48bc200,7678809046,SEYMORE,MACKLIN,14,1,10
154871,35b80c73-9f04-46ba-a55f-d1eca850c378,7678809046,SALLIE,MACKLIN,80,2,10
154872,4ba77259-a4d0-44ba-bc7b-53c6b845825b,7679809046,THOMAS,WILSON,45,1,10
154873,fbfa6568-5012-43a4-84ea-38f57994e3cd,7679809046,JANE E,WILSON,25,2,10
154874,a7922fe9-4f83-4f71-a63a-8b2964a3610f,7679809046,LAURA,WILSON,12,2,10
154875,8bff1989-12bd-4d1c-a9b3-717e503a7ed4,7679809046,ELZEY,WILSON,10,1,10
154876,4a940747-ee50-4d75-9d29-d1dadfe19e8e,7679809046,MARY G,WILSON,8,2,10
154877,1be418f3-6fc4-4ca3-8632-d43e60400c95,7679809046,SARAH A,WILSON,3,2,10

In [40]:
# I want to get a set of names of household members by household id (SERIAL in the data).  
# I use the pandas groupby function to group the data by household id and then aggregate the other values into sets 
# of unique values.  I reset the index so I can still work with the SERIAL data easily.
df_1870_grouped = df_1870.groupby('SERIAL').agg(lambda x: set(x))
df_1870_grouped.reset_index(inplace=True)
df_1870_grouped

,SERIAL,id,NAMEFRST,NAMELAST,AGE,SEX,BPL
0,120837,{d7824b96-ad09-4d61-9ad2-859f7e94a1ef},{ROSE},{SIMONTON},{60},{2},{10}
1,123455,{55f744ac-7257-4a67-b1e9-9259c50ec657},{ANN R},{DUNKLIN},{58},{2},{10}
2,125394,{fa103b5d-9efa-4916-897c-ba6c3b245882},{CHAS},{HENSON},{47},{1},{10}
3,134556,{2d3636e6-4967-46ea-91b8-34f4e374ab0f},{DAVID},{KNOX},{77},{1},{10}
4,134572,{634bee64-581f-4604-9898-ff258e4d8ab5},{JOHN},{HERDSMAN},{25},{1},{10}
5,1022156,{8cb74256-6dfa-4d17-913a-59fa646c388a},{SAML H},{RUSSELL},{77},{1},{10}
6,1025771,{1f8e1a74-d486-44ad-8d5c-51aedf86208e},{CHARLES},{ROBERTSON},{26},{1},{10}
7,1027559,{61a1590f-1d3a-4666-8406-3d4aaf0770b4},{JOHN},{DICKINSON},{42},{1},{10}
8,1028383,{92277f0b-1476-41f5-9dc8-bf83672616d0},{JOSEPH},{SHISSLER},{36},{1},{10}
9,1029271,{85d089c0-b907-4d9c-95ab-c5fa4a3dd2bb},{J S},{LUFF},{49},{1},{10}
10,1029335,{322291a1-de91-439d-bba0-45fc2f47a2eb},{DAVID},{HALL},{71},{1},{10}
11,1031229,"{066ea4e1-f340-4231-b505-ec7bb9a07103, 24bdff6...","{SARAH, JOHN, PETER N, NANCY, ANNAM}",{DECAME},"{13, 10, 52, 53, 15}","{1, 2}",{10}
12,1031230,{c1fedaab-f026-4aa4-9320-e10f2432d539},{JAMES},{CARNEY},{22},{1},{10}
13,1031235,{43a6ebe5-752b-4054-818d-6f6f75cc89e7},{ALFRED},{DELL},{27},{1},{10}
14,1031760,{0d693015-2349-4363-9667-45036af7d0db},{CHAS},{SYAEX},{40},{1},{10}
15,1031767,{1d586e26-aac1-49df-a2ad-fe0a385a26bf},{SARAH},{RUSSELL},{13},{2},{10}
16,1034579,"{93b7ac89-f9db-49b2-a1f2-c189fecc14ae, 4715bbf...","{MARTHA, WILLIE MAY, SAMUEL, WM H}","{MORGAN, HAZARD}","{8, 32, 4, 29, 30}","{1, 2}",{10}
17,1034648,"{77378570-5214-4ac5-8258-c5156e8b99b3, 6542b54...","{EUGENE, J CLAUSON}",{MCFARLAND},"{18, 20}",{1},{10}
18,1037015,{396c4077-6a70-4a17-97fb-f8a0c06fdafe},{ANNA},{PRESTON},{39},{2},{10}
19,1038208,{7e9dde5e-3fad-4b2e-b367-643c0dc8cabb},{REBECCA N},{ALEXANDER},{49},{2},{10}
20,1038222,{f7d9e25f-c390-4222-ac24-4e93d72daa05},{MARTHA},{ELLIS},{37},{2},{10}
21,1039117,{24b7afa1-8c49-4833-8292-c545c85d3b89},{OTILLIA},{ZEIDER},{34},{2},{10}
22,1048673,{4b416874-0c5c-4233-81ec-39223bc66f4f},{MARY},{DOYLE},{64},{2},{10}
23,1049456,{bd36494f-a7ce-40fe-b7cd-f5df1f531044},{G S},{TRUMBULL},{32},{1},{10}
24,1054879,{2d7d03bc-0088-4c44-81db-b6101cfb92e0},{LINA},{AMET},{25},{2},{10}
25,1055114,{c19546bf-2d8c-40f2-8c89-c67fbfe767fd},{THOMAS J},{WOOD},{27},{1},{10}
26,1057134,{0808785d-249b-46a8-9474-4597412f9019},{JANE M},{KERNER},{25},{2},{10}
27,1058396,{252682b6-348b-4da0-9e9e-3757efd0f4c5},{R M},{TAYLOR},{25},{2},{10}
28,1058420,{eae58d64-ea06-449a-aec2-8847bfead7af},{N B},{BARLOW},{36},{1},{10}
29,1061605,{a7118f06-949d-4d02-be0a-db33a6f8f3a8},{FRANCES E},{BIRD},{40},{2},{10}
...,...,...,...,...,...,...,...
739,1342510,{324439b7-bb8a-4718-9b12-d8a58ce63f52},{THOMAS},{CAPPERROOM},{59},{1},{10}
740,1342523,{c8bbd63d-4490-4b97-9681-f97fd6e040cb},{JOHN},{GUDGALL},{23},{1},{10}
741,1342527,{8b1ce802-21b0-48c7-be89-ae39070d7ffe},{ELISABETH},{STYLES},{55},{2},{10}
742,1343056,{e9c72bbf-5163-48b4-9d2b-cf509cf0117f},{WILLIAN},{MOCKLIN},{65},{1},{10}
743,1343361,{f49ac414-73d0-45c0-b37f-a41213c94440},{SUSAN},{HAMMER},{53},{2},{10}
744,1343505,"{2bbb7e9a-a0a5-47ea-b146-1998a790e47a, 48307fa...","{ANN, HEZAKIAH}",{SAPP},"{49, 58}","{1, 2}",{10}
745,1345189,{f53adebf-4db8-4b40-8a75-f55f37a136f0},{JAMES},{MCCRUDY},{53},{1},{10}
746,1345243,{b474dca8-b61a-4fe5-9efc-f323538bfcfd},{JOHN V},{ROBINSON},{66},{1},{10}
747,1345499,"{6424a248-2bef-4bd9-b6e5-c3a512712662, 0d8be77...","{MARY, EPHRAIM}",{SAPP},"{65, 58}","{1, 2}",{10}
748,1345504,"{8e5b2bea-574d-4d58-9126-41205572db75, 3b19e36...","{LIZZIE, WILLIE}",{SMITH},"{3, 7}","{1, 2}",{10}
749,1345514,"{eeac0f59-e586-44b7-8f18-e42610afa3ad, 5f9cb2c...","{ISABELLA, JAS C, LAURA, JAS W}",{SMITH},"{40, 19, 35, 12}","{1, 2}",{10}
750,1345562,"{5158ffa0-7bcf-41dd-9f34-184c213e3347, fc28ef4...","{SOLOMON, ANN}",{SAPP},"{58, 63}","{1, 2}",{10}
751,1345563,"{ddee88c8-fd47-4cb7-a1f7-ee54f40ceaea, 727c9ff...","{SARAH, DAVID}",{SAPP},"{24, 28}","{1, 2}",{10}
752,1345570,"{3ec3f29f-ac8f-40df-8cb0-4df9c3b49224, 61e4ca5...","{ANNA, EPHRAIM, ROBT, GEORGE, ELIZABETH, MARY}",{SAPP},"{34, 3, 5, 11, 18, 31}","{1, 2}",{10}
753,1345571,"{a15ea2aa-ec95-4c4e-bd97-885f5a37f917, f245e5a...","{ROBT, SOLOMON, SUSAN, LEVI, MARTHA}",{SAPP},"{48, 50, 23, 13, 15}","{1, 2}",{10}
754,1345594,"{8d509da0-219a-475b-810f-efc69c333423, 3a2c73f...","{LEWIS, REUBEN}",{SAPP},"{29, 22}",{1},{10}
755,1345597,{19019cce-31d5-40e2-9137-5dd512c3bca4},{CALVIN},{JARVIS},{25},{1},{10}
756,1345643,"{74faa32d-d78b-457b-9238-9a9c43fbc77c, b029ba2...","{KATIE E, ADDIE, LENZORA, ANNA, JAS W}",{JONES},"{33, 2, 4, 5, 7}","{1, 2}",{10}
757,1345685,"{934289ec-815f-441e-b8c8-b03eb8b903fb, c81ef96...","{GILBERT, LYDIA, S C}",{ANDERSON},"{0, 22, 23}","{1, 2}",{10}
758,1345693,"{042b9780-301d-450f-87be-3836f35be815, 7d59aab...","{WM, E}","{ANDERSON, COLLISON}","{2, 26}",{1},{10}
759,1345712,{43052bf5-45e9-41dc-b87e-fb45dcb3d854},{ANDREW},{SAPP},{36},{1},{10}
760,1345749,{898b1dcd-2c98-40f6-96e4-145c94246e6c},{LYDIA},{CARTER},{34},{2},{10}
761,1345753,"{657bddac-9249-4e70-96a3-b5ada29ccae7, 58a6898...","{EDGAR, THOS, ANNA, HEZEKIAH}",{SAPP},"{24, 3, 27, 14}","{1, 2}",{10}
762,1345781,"{5dcf2198-4f82-45aa-a53a-76b1c1c2ba9c, 7db47b1...","{SYLVANIA, ANNA S}",{SYLVESTER},"{26, 4}",{2},{10}
763,1345786,{201a67f3-9841-49b3-b25e-19454500777e},{NANCY},{CAHALL},{36},{2},{10}
764,1345801,"{f21b436d-1a09-4997-bbf5-ff84eeeff556, f6c37f9...","{SARAH, HARTY, JAMES}",{WYATT},"{33, 19, 53}","{1, 2}",{10}
765,1345818,{142840b0-6211-438f-a3a9-f34b23944aa7},{HENRY},{SAPP},{34},{1},{10}
766,1345821,{adec403c-b4bf-48a2-a5de-ccfd74eae6af},{J R},{SAPP},{45},{1},{10}
767,1346135,{9631a25a-5bf8-4419-a1c4-786ff08e4c32},{WILLIAM H},{REED},{51},{1},{10}
768,1346181,{7a1bc3bf-863d-4cfd-ac8e-46f2b1d5df36},{MARY E},{PEELER},{27},{2},{10}

In [41]:
df_1880_grouped = df_1880.groupby('SERIAL').agg(lambda x: set(x))
df_1880_grouped.reset_index(inplace=True)
df_1880_grouped

,SERIAL,id,NAMEFRST,NAMELAST,AGE,SEX,BPL
0,19560,"{3929f502-6018-4c86-82a1-64d7fc5d94db, 0735313...","{JOHN, WILLIAM}",{VINZANT},"{65, 113}",{1},{10}
1,44210,{2e02259f-1b71-420e-8fdf-d078b6720557},{WILLIAM},{ROTAN},{61},{1},{10}
2,268310,{36d399fb-2c78-4cae-8024-463726ffda03},{ESSIE},{DEAN},{39},{2},{10}
3,316250,{9bef528b-7bc2-4335-938e-4d6e9a48f71d},{ANNIE},{MCCLENDOR},{35},{2},{10}
4,327700,{8ab5c249-dba8-4a2a-a310-077ba96c0367},{MARGRET},{PRICE},{70},{2},{10}
5,465490,{6105b1ae-ce9f-4242-a94b-ebd347ef3d2d},{LUCIE M},{JAMES},{37},{2},{10}
6,520120,{f1041c62-7d42-43c4-961f-80904c438ce1},{JOHN},{LECOMP},{57},{1},{10}
7,540640,{ed2530e0-412c-4166-a4ea-d1ec49972ab8},{T T},{COOPER},{38},{1},{10}
8,700130,{4ffa37cd-f31e-4436-a159-6522b33c57eb},{JAMES},{ROBINSON},{63},{1},{10}
9,704250,{5f2e4abd-608d-4d08-b176-d9a8dfa61cc3},{S H},{PENALDTON},{77},{1},{10}
10,716830,{ef9031e7-320f-4afd-9c14-026c7e8601a6},{ISAAC},{EVANS},{77},{1},{10}
11,774350,{ccf7b763-fec5-4bb0-88e3-2b44095abfbd},{ALBERT},{BOYED},{56},{1},{10}
12,781140,"{bd0f2037-76f8-480e-b2cc-32c9eb136031, 0d07c2d...","{MARY L, ELIZABETH}","{CLAYTON, LAVENDER}","{64, 63}",{2},{10}
13,871220,{2b54d736-9e45-42b1-9bd8-bca76d156f69},{JOHN},{HUMPHRIS},{64},{1},{10}
14,1085810,{47fb246c-dcb4-4d1a-a3c2-ff79b52a432f},{WILLIAM},{BLAKE},{45},{1},{10}
15,1137570,{52e90260-776d-4c81-a04e-4efae4615432},{JOSEPH},{SAULSBURY},{65},{1},{10}
16,1150830,{594495d9-e1c4-427c-8053-3aa2c988aabe},{JAMES R},{PAYNTER},{64},{1},{10}
17,1161770,{25cf5450-b32d-4b49-a38e-6634f6614fc2},{CATHARINE},{LEIHA},{25},{2},{10}
18,1277590,{ba45506f-cade-4755-a2ac-9bd51061dd0c},{R A},{FRANKLIN},{27},{2},{10}
19,1382330,{3dd6e8ae-cb00-4021-9d8d-49469af6431b},{ANN R},{DUNKLIN},{68},{2},{10}
20,1475450,{87b12ecb-d98a-4213-8fb7-6282b09ee1e1},{LOUISA},{STRONG},{58},{2},{10}
21,1492630,{8f19bfa4-627a-4598-920b-77c0c5fff39c},{JAMES},{RODMAN},{25},{1},{10}
22,1598850,{60532e03-fc98-4c4b-9ad1-003af63136b1},{T I},{HOSEA},{72},{1},{10}
23,1598900,{b10af77e-ecb8-4692-9ec4-efaf92f533eb},{J B},{SKINNER},{74},{2},{10}
24,1742320,{c2c7225e-6c61-4c2e-b2bf-258158cdb47b},{ANNA},{GETZE},{58},{2},{10}
25,1746360,{32b4e236-c97c-406c-b903-9ce8a41b3189},{WILLARD B},{SMITH},{31},{1},{10}
26,1781180,{3f7bece1-b754-40c9-a485-e0731d72a005},{SAMUEL H},{EDGAR},{34},{1},{10}
27,1783380,{17c1e4c2-00b0-4dac-ad09-735958d440e2},{JAMES},{HOPKINS},{63},{1},{10}
28,1791570,"{d46f7858-37f0-4256-80b4-4a55ed3c6146, 6b1ac99...","{SUSAN P, HANNAH}","{BURTON, KETCHUM}","{52, 44}",{2},{10}
29,1809046,"{41dd0259-09e0-46b6-acf3-5d8c99cdf11c, 95068d5...","{OBADIAH, JOHN M, MARY A}",{VOSHELL},"{32, 60, 63}","{1, 2}",{10}
...,...,...,...,...,...,...,...
56304,10657895884791,{7bb7aa88-9e9f-4df1-a587-1876ea1bd6ac},{JOHN},{LYONS},{13},{1},{10}
56305,10660035884791,"{8904a298-8961-4f45-99cd-de99cbf3159a, 7eb178d...","{SARAH, MARY, WILLIAM}",{HENDERSON},"{40, 41, 17}","{1, 2}",{10}
56306,10670210028932,{c682dd52-05ad-4019-bb5b-4570570f066f},{MARY},{KERKENDALL},{52},{2},{10}
56307,10680855884791,{7c0f899e-36eb-49d5-adae-3c93648fe6fe},{MARY},{O'DAY},{3},{2},{10}
56308,10682410028932,{a9214fed-6f5d-4fce-87bc-45799bba75e1},{WILLIAM B},{JOSEPH},{64},{1},{10}
56309,10684925884791,{8e1f4003-1e4e-4797-a82b-700872e02445},{MARGARETTE},{CHAPEL},{30},{2},{10}
56310,10689055884791,{6f92c651-a24e-44ed-a466-bdf78749c5e7},{ELVIRA},{DIXON},{6},{2},{10}
56311,10698995884791,{ebc99918-ffa6-4a5e-a7c8-adcc50b81c6b},{EDWARD K},{JONES},{25},{1},{10}
56312,10728995884791,{82f890a6-8a43-4809-b59a-a50066ca39a8},{LIDDIE},{FERMALL},{48},{2},{10}
56313,10774010028932,{ad35bb32-6fd4-495c-8249-f2bf9b1ebf52},{JOHN},{TUCKER},{26},{1},{10}
56314,10800855884791,{b4f26812-2356-42a2-af87-b761f2cdfdf1},{J L},{KING},{38},{1},{10}
56315,10804910028932,{dee3fced-b3b5-4a23-a68c-46a6992cdf05},{ELLIS},{MATHER},{43},{1},{10}
56316,10804915884791,{251438bb-1adb-4c69-a8e7-6fde6d39348b},{WILLIAM},{MAXFIELD},{43},{1},{10}
56317,10805515884791,{b3ca2051-b89d-4107-bbc8-4c157b6fa6cb},{REBECCA},{BEAMS},{38},{2},{10}
56318,10805655884791,{41bdabba-882a-4530-baef-8ce44579620c},{REBECCA},{MILLER},{56},{2},{10}
56319,10806645884791,"{28b43e2c-4058-4a32-afa7-4f9c19d3c1a0, c3355c0...","{PHEBE, HANNAH}","{BROWN, BOGART}","{60, 84}",{2},{10}
56320,10807225884791,{116d7306-3b94-4a50-a9e1-3b6382f44d4e},{ELIZA},{SUZEY},{27},{2},{10}
56321,10813845884791,{d72f0ec9-8bf7-47ef-90f4-dba86bf3337e},{MARY E},{SMITH},{30},{2},{10}
56322,10825875884791,{2484116b-aa2e-4f82-98f9-53ac02cfd2c0},{ELIZABETH},{ROBINSON},{87},{2},{10}
56323,10843210028932,{da14c8d1-955d-4dd5-8993-6e3501bc161b},{EMMA B},{HAMNER},{7},{2},{10}
56324,10844110028932,{542ab73b-77bb-42ae-b710-c99c88cc1c83},{JAMES M},{WALTERS},{31},{1},{10}
56325,10847510028932,{1ff46bf3-ea26-4e94-89ac-c5f5c14e23cc},{SARAH E},{FRY},{41},{2},{10}
56326,10854910028932,{d5b33093-e40c-40d4-87e4-a161fa7b54b6},{SAMUEL},{SMITH},{83},{1},{10}
56327,10911310028932,{2d070c1c-efa7-4a4f-9d78-a25807cdee73},{MICHEAL P},{JORDON},{22},{1},{10}
56328,10920710028932,{d5cb417b-6303-4dba-8c20-1754661f3102},{ELIZABETH},{WALLACE},{62},{2},{10}
56329,10988810028932,{a3786d92-664d-4968-9837-37fca8ad723f},{JOHN},{REESE},{78},{1},{10}
56330,11028710028932,"{40883877-d5da-4676-b531-5ed05c617836, 5de76de...","{MARY, WESLEY H}","{HOLINGSWORTH, SHARP}","{40, 37}","{1, 2}",{10}
56331,11073710028932,{3de9b5a6-f073-4659-93c6-cf517cbed5f2},{CHAS C},{FISHER},{56},{1},{10}
56332,11194610028932,{d60ca4ec-49c3-4106-8d94-71d8b1c22f38},{JAMES R},{CAMPBELL},{81},{1},{10}
56333,11232410028932,{05a6b79d-8823-4e9f-a43d-13ecb938ab63},{ELENOR W},{LEE},{65},{2},{10}

In [42]:
# I want to merge this aggregated household data back into the original dataframe based on household ID, but I want 
# to rename the columns I'm going to merge first to make sure it's clear it's aggregate data.
df_1870_grouped.rename(columns={'NAMEFRST':'NAMEFRST_household', 'NAMELAST':'NAMELAST_household'}, inplace=True)
df_1870_grouped

,SERIAL,id,NAMEFRST_household,NAMELAST_household,AGE,SEX,BPL
0,120837,{d7824b96-ad09-4d61-9ad2-859f7e94a1ef},{ROSE},{SIMONTON},{60},{2},{10}
1,123455,{55f744ac-7257-4a67-b1e9-9259c50ec657},{ANN R},{DUNKLIN},{58},{2},{10}
2,125394,{fa103b5d-9efa-4916-897c-ba6c3b245882},{CHAS},{HENSON},{47},{1},{10}
3,134556,{2d3636e6-4967-46ea-91b8-34f4e374ab0f},{DAVID},{KNOX},{77},{1},{10}
4,134572,{634bee64-581f-4604-9898-ff258e4d8ab5},{JOHN},{HERDSMAN},{25},{1},{10}
5,1022156,{8cb74256-6dfa-4d17-913a-59fa646c388a},{SAML H},{RUSSELL},{77},{1},{10}
6,1025771,{1f8e1a74-d486-44ad-8d5c-51aedf86208e},{CHARLES},{ROBERTSON},{26},{1},{10}
7,1027559,{61a1590f-1d3a-4666-8406-3d4aaf0770b4},{JOHN},{DICKINSON},{42},{1},{10}
8,1028383,{92277f0b-1476-41f5-9dc8-bf83672616d0},{JOSEPH},{SHISSLER},{36},{1},{10}
9,1029271,{85d089c0-b907-4d9c-95ab-c5fa4a3dd2bb},{J S},{LUFF},{49},{1},{10}
10,1029335,{322291a1-de91-439d-bba0-45fc2f47a2eb},{DAVID},{HALL},{71},{1},{10}
11,1031229,"{066ea4e1-f340-4231-b505-ec7bb9a07103, 24bdff6...","{SARAH, JOHN, PETER N, NANCY, ANNAM}",{DECAME},"{13, 10, 52, 53, 15}","{1, 2}",{10}
12,1031230,{c1fedaab-f026-4aa4-9320-e10f2432d539},{JAMES},{CARNEY},{22},{1},{10}
13,1031235,{43a6ebe5-752b-4054-818d-6f6f75cc89e7},{ALFRED},{DELL},{27},{1},{10}
14,1031760,{0d693015-2349-4363-9667-45036af7d0db},{CHAS},{SYAEX},{40},{1},{10}
15,1031767,{1d586e26-aac1-49df-a2ad-fe0a385a26bf},{SARAH},{RUSSELL},{13},{2},{10}
16,1034579,"{93b7ac89-f9db-49b2-a1f2-c189fecc14ae, 4715bbf...","{MARTHA, WILLIE MAY, SAMUEL, WM H}","{MORGAN, HAZARD}","{8, 32, 4, 29, 30}","{1, 2}",{10}
17,1034648,"{77378570-5214-4ac5-8258-c5156e8b99b3, 6542b54...","{EUGENE, J CLAUSON}",{MCFARLAND},"{18, 20}",{1},{10}
18,1037015,{396c4077-6a70-4a17-97fb-f8a0c06fdafe},{ANNA},{PRESTON},{39},{2},{10}
19,1038208,{7e9dde5e-3fad-4b2e-b367-643c0dc8cabb},{REBECCA N},{ALEXANDER},{49},{2},{10}
20,1038222,{f7d9e25f-c390-4222-ac24-4e93d72daa05},{MARTHA},{ELLIS},{37},{2},{10}
21,1039117,{24b7afa1-8c49-4833-8292-c545c85d3b89},{OTILLIA},{ZEIDER},{34},{2},{10}
22,1048673,{4b416874-0c5c-4233-81ec-39223bc66f4f},{MARY},{DOYLE},{64},{2},{10}
23,1049456,{bd36494f-a7ce-40fe-b7cd-f5df1f531044},{G S},{TRUMBULL},{32},{1},{10}
24,1054879,{2d7d03bc-0088-4c44-81db-b6101cfb92e0},{LINA},{AMET},{25},{2},{10}
25,1055114,{c19546bf-2d8c-40f2-8c89-c67fbfe767fd},{THOMAS J},{WOOD},{27},{1},{10}
26,1057134,{0808785d-249b-46a8-9474-4597412f9019},{JANE M},{KERNER},{25},{2},{10}
27,1058396,{252682b6-348b-4da0-9e9e-3757efd0f4c5},{R M},{TAYLOR},{25},{2},{10}
28,1058420,{eae58d64-ea06-449a-aec2-8847bfead7af},{N B},{BARLOW},{36},{1},{10}
29,1061605,{a7118f06-949d-4d02-be0a-db33a6f8f3a8},{FRANCES E},{BIRD},{40},{2},{10}
...,...,...,...,...,...,...,...
739,1342510,{324439b7-bb8a-4718-9b12-d8a58ce63f52},{THOMAS},{CAPPERROOM},{59},{1},{10}
740,1342523,{c8bbd63d-4490-4b97-9681-f97fd6e040cb},{JOHN},{GUDGALL},{23},{1},{10}
741,1342527,{8b1ce802-21b0-48c7-be89-ae39070d7ffe},{ELISABETH},{STYLES},{55},{2},{10}
742,1343056,{e9c72bbf-5163-48b4-9d2b-cf509cf0117f},{WILLIAN},{MOCKLIN},{65},{1},{10}
743,1343361,{f49ac414-73d0-45c0-b37f-a41213c94440},{SUSAN},{HAMMER},{53},{2},{10}
744,1343505,"{2bbb7e9a-a0a5-47ea-b146-1998a790e47a, 48307fa...","{ANN, HEZAKIAH}",{SAPP},"{49, 58}","{1, 2}",{10}
745,1345189,{f53adebf-4db8-4b40-8a75-f55f37a136f0},{JAMES},{MCCRUDY},{53},{1},{10}
746,1345243,{b474dca8-b61a-4fe5-9efc-f323538bfcfd},{JOHN V},{ROBINSON},{66},{1},{10}
747,1345499,"{6424a248-2bef-4bd9-b6e5-c3a512712662, 0d8be77...","{MARY, EPHRAIM}",{SAPP},"{65, 58}","{1, 2}",{10}
748,1345504,"{8e5b2bea-574d-4d58-9126-41205572db75, 3b19e36...","{LIZZIE, WILLIE}",{SMITH},"{3, 7}","{1, 2}",{10}
749,1345514,"{eeac0f59-e586-44b7-8f18-e42610afa3ad, 5f9cb2c...","{ISABELLA, JAS C, LAURA, JAS W}",{SMITH},"{40, 19, 35, 12}","{1, 2}",{10}
750,1345562,"{5158ffa0-7bcf-41dd-9f34-184c213e3347, fc28ef4...","{SOLOMON, ANN}",{SAPP},"{58, 63}","{1, 2}",{10}
751,1345563,"{ddee88c8-fd47-4cb7-a1f7-ee54f40ceaea, 727c9ff...","{SARAH, DAVID}",{SAPP},"{24, 28}","{1, 2}",{10}
752,1345570,"{3ec3f29f-ac8f-40df-8cb0-4df9c3b49224, 61e4ca5...","{ANNA, EPHRAIM, ROBT, GEORGE, ELIZABETH, MARY}",{SAPP},"{34, 3, 5, 11, 18, 31}","{1, 2}",{10}
753,1345571,"{a15ea2aa-ec95-4c4e-bd97-885f5a37f917, f245e5a...","{ROBT, SOLOMON, SUSAN, LEVI, MARTHA}",{SAPP},"{48, 50, 23, 13, 15}","{1, 2}",{10}
754,1345594,"{8d509da0-219a-475b-810f-efc69c333423, 3a2c73f...","{LEWIS, REUBEN}",{SAPP},"{29, 22}",{1},{10}
755,1345597,{19019cce-31d5-40e2-9137-5dd512c3bca4},{CALVIN},{JARVIS},{25},{1},{10}
756,1345643,"{74faa32d-d78b-457b-9238-9a9c43fbc77c, b029ba2...","{KATIE E, ADDIE, LENZORA, ANNA, JAS W}",{JONES},"{33, 2, 4, 5, 7}","{1, 2}",{10}
757,1345685,"{934289ec-815f-441e-b8c8-b03eb8b903fb, c81ef96...","{GILBERT, LYDIA, S C}",{ANDERSON},"{0, 22, 23}","{1, 2}",{10}
758,1345693,"{042b9780-301d-450f-87be-3836f35be815, 7d59aab...","{WM, E}","{ANDERSON, COLLISON}","{2, 26}",{1},{10}
759,1345712,{43052bf5-45e9-41dc-b87e-fb45dcb3d854},{ANDREW},{SAPP},{36},{1},{10}
760,1345749,{898b1dcd-2c98-40f6-96e4-145c94246e6c},{LYDIA},{CARTER},{34},{2},{10}
761,1345753,"{657bddac-9249-4e70-96a3-b5ada29ccae7, 58a6898...","{EDGAR, THOS, ANNA, HEZEKIAH}",{SAPP},"{24, 3, 27, 14}","{1, 2}",{10}
762,1345781,"{5dcf2198-4f82-45aa-a53a-76b1c1c2ba9c, 7db47b1...","{SYLVANIA, ANNA S}",{SYLVESTER},"{26, 4}",{2},{10}
763,1345786,{201a67f3-9841-49b3-b25e-19454500777e},{NANCY},{CAHALL},{36},{2},{10}
764,1345801,"{f21b436d-1a09-4997-bbf5-ff84eeeff556, f6c37f9...","{SARAH, HARTY, JAMES}",{WYATT},"{33, 19, 53}","{1, 2}",{10}
765,1345818,{142840b0-6211-438f-a3a9-f34b23944aa7},{HENRY},{SAPP},{34},{1},{10}
766,1345821,{adec403c-b4bf-48a2-a5de-ccfd74eae6af},{J R},{SAPP},{45},{1},{10}
767,1346135,{9631a25a-5bf8-4419-a1c4-786ff08e4c32},{WILLIAM H},{REED},{51},{1},{10}
768,1346181,{7a1bc3bf-863d-4cfd-ac8e-46f2b1d5df36},{MARY E},{PEELER},{27},{2},{10}

In [43]:
df_1880_grouped.rename(columns={'NAMEFRST':'NAMEFRST_household', 'NAMELAST':'NAMELAST_household'}, inplace=True)
df_1880_grouped

,SERIAL,id,NAMEFRST_household,NAMELAST_household,AGE,SEX,BPL
0,19560,"{3929f502-6018-4c86-82a1-64d7fc5d94db, 0735313...","{JOHN, WILLIAM}",{VINZANT},"{65, 113}",{1},{10}
1,44210,{2e02259f-1b71-420e-8fdf-d078b6720557},{WILLIAM},{ROTAN},{61},{1},{10}
2,268310,{36d399fb-2c78-4cae-8024-463726ffda03},{ESSIE},{DEAN},{39},{2},{10}
3,316250,{9bef528b-7bc2-4335-938e-4d6e9a48f71d},{ANNIE},{MCCLENDOR},{35},{2},{10}
4,327700,{8ab5c249-dba8-4a2a-a310-077ba96c0367},{MARGRET},{PRICE},{70},{2},{10}
5,465490,{6105b1ae-ce9f-4242-a94b-ebd347ef3d2d},{LUCIE M},{JAMES},{37},{2},{10}
6,520120,{f1041c62-7d42-43c4-961f-80904c438ce1},{JOHN},{LECOMP},{57},{1},{10}
7,540640,{ed2530e0-412c-4166-a4ea-d1ec49972ab8},{T T},{COOPER},{38},{1},{10}
8,700130,{4ffa37cd-f31e-4436-a159-6522b33c57eb},{JAMES},{ROBINSON},{63},{1},{10}
9,704250,{5f2e4abd-608d-4d08-b176-d9a8dfa61cc3},{S H},{PENALDTON},{77},{1},{10}
10,716830,{ef9031e7-320f-4afd-9c14-026c7e8601a6},{ISAAC},{EVANS},{77},{1},{10}
11,774350,{ccf7b763-fec5-4bb0-88e3-2b44095abfbd},{ALBERT},{BOYED},{56},{1},{10}
12,781140,"{bd0f2037-76f8-480e-b2cc-32c9eb136031, 0d07c2d...","{MARY L, ELIZABETH}","{CLAYTON, LAVENDER}","{64, 63}",{2},{10}
13,871220,{2b54d736-9e45-42b1-9bd8-bca76d156f69},{JOHN},{HUMPHRIS},{64},{1},{10}
14,1085810,{47fb246c-dcb4-4d1a-a3c2-ff79b52a432f},{WILLIAM},{BLAKE},{45},{1},{10}
15,1137570,{52e90260-776d-4c81-a04e-4efae4615432},{JOSEPH},{SAULSBURY},{65},{1},{10}
16,1150830,{594495d9-e1c4-427c-8053-3aa2c988aabe},{JAMES R},{PAYNTER},{64},{1},{10}
17,1161770,{25cf5450-b32d-4b49-a38e-6634f6614fc2},{CATHARINE},{LEIHA},{25},{2},{10}
18,1277590,{ba45506f-cade-4755-a2ac-9bd51061dd0c},{R A},{FRANKLIN},{27},{2},{10}
19,1382330,{3dd6e8ae-cb00-4021-9d8d-49469af6431b},{ANN R},{DUNKLIN},{68},{2},{10}
20,1475450,{87b12ecb-d98a-4213-8fb7-6282b09ee1e1},{LOUISA},{STRONG},{58},{2},{10}
21,1492630,{8f19bfa4-627a-4598-920b-77c0c5fff39c},{JAMES},{RODMAN},{25},{1},{10}
22,1598850,{60532e03-fc98-4c4b-9ad1-003af63136b1},{T I},{HOSEA},{72},{1},{10}
23,1598900,{b10af77e-ecb8-4692-9ec4-efaf92f533eb},{J B},{SKINNER},{74},{2},{10}
24,1742320,{c2c7225e-6c61-4c2e-b2bf-258158cdb47b},{ANNA},{GETZE},{58},{2},{10}
25,1746360,{32b4e236-c97c-406c-b903-9ce8a41b3189},{WILLARD B},{SMITH},{31},{1},{10}
26,1781180,{3f7bece1-b754-40c9-a485-e0731d72a005},{SAMUEL H},{EDGAR},{34},{1},{10}
27,1783380,{17c1e4c2-00b0-4dac-ad09-735958d440e2},{JAMES},{HOPKINS},{63},{1},{10}
28,1791570,"{d46f7858-37f0-4256-80b4-4a55ed3c6146, 6b1ac99...","{SUSAN P, HANNAH}","{BURTON, KETCHUM}","{52, 44}",{2},{10}
29,1809046,"{41dd0259-09e0-46b6-acf3-5d8c99cdf11c, 95068d5...","{OBADIAH, JOHN M, MARY A}",{VOSHELL},"{32, 60, 63}","{1, 2}",{10}
...,...,...,...,...,...,...,...
56304,10657895884791,{7bb7aa88-9e9f-4df1-a587-1876ea1bd6ac},{JOHN},{LYONS},{13},{1},{10}
56305,10660035884791,"{8904a298-8961-4f45-99cd-de99cbf3159a, 7eb178d...","{SARAH, MARY, WILLIAM}",{HENDERSON},"{40, 41, 17}","{1, 2}",{10}
56306,10670210028932,{c682dd52-05ad-4019-bb5b-4570570f066f},{MARY},{KERKENDALL},{52},{2},{10}
56307,10680855884791,{7c0f899e-36eb-49d5-adae-3c93648fe6fe},{MARY},{O'DAY},{3},{2},{10}
56308,10682410028932,{a9214fed-6f5d-4fce-87bc-45799bba75e1},{WILLIAM B},{JOSEPH},{64},{1},{10}
56309,10684925884791,{8e1f4003-1e4e-4797-a82b-700872e02445},{MARGARETTE},{CHAPEL},{30},{2},{10}
56310,10689055884791,{6f92c651-a24e-44ed-a466-bdf78749c5e7},{ELVIRA},{DIXON},{6},{2},{10}
56311,10698995884791,{ebc99918-ffa6-4a5e-a7c8-adcc50b81c6b},{EDWARD K},{JONES},{25},{1},{10}
56312,10728995884791,{82f890a6-8a43-4809-b59a-a50066ca39a8},{LIDDIE},{FERMALL},{48},{2},{10}
56313,10774010028932,{ad35bb32-6fd4-495c-8249-f2bf9b1ebf52},{JOHN},{TUCKER},{26},{1},{10}
56314,10800855884791,{b4f26812-2356-42a2-af87-b761f2cdfdf1},{J L},{KING},{38},{1},{10}
56315,10804910028932,{dee3fced-b3b5-4a23-a68c-46a6992cdf05},{ELLIS},{MATHER},{43},{1},{10}
56316,10804915884791,{251438bb-1adb-4c69-a8e7-6fde6d39348b},{WILLIAM},{MAXFIELD},{43},{1},{10}
56317,10805515884791,{b3ca2051-b89d-4107-bbc8-4c157b6fa6cb},{REBECCA},{BEAMS},{38},{2},{10}
56318,10805655884791,{41bdabba-882a-4530-baef-8ce44579620c},{REBECCA},{MILLER},{56},{2},{10}
56319,10806645884791,"{28b43e2c-4058-4a32-afa7-4f9c19d3c1a0, c3355c0...","{PHEBE, HANNAH}","{BROWN, BOGART}","{60, 84}",{2},{10}
56320,10807225884791,{116d7306-3b94-4a50-a9e1-3b6382f44d4e},{ELIZA},{SUZEY},{27},{2},{10}
56321,10813845884791,{d72f0ec9-8bf7-47ef-90f4-dba86bf3337e},{MARY E},{SMITH},{30},{2},{10}
56322,10825875884791,{2484116b-aa2e-4f82-98f9-53ac02cfd2c0},{ELIZABETH},{ROBINSON},{87},{2},{10}
56323,10843210028932,{da14c8d1-955d-4dd5-8993-6e3501bc161b},{EMMA B},{HAMNER},{7},{2},{10}
56324,10844110028932,{542ab73b-77bb-42ae-b710-c99c88cc1c83},{JAMES M},{WALTERS},{31},{1},{10}
56325,10847510028932,{1ff46bf3-ea26-4e94-89ac-c5f5c14e23cc},{SARAH E},{FRY},{41},{2},{10}
56326,10854910028932,{d5b33093-e40c-40d4-87e4-a161fa7b54b6},{SAMUEL},{SMITH},{83},{1},{10}
56327,10911310028932,{2d070c1c-efa7-4a4f-9d78-a25807cdee73},{MICHEAL P},{JORDON},{22},{1},{10}
56328,10920710028932,{d5cb417b-6303-4dba-8c20-1754661f3102},{ELIZABETH},{WALLACE},{62},{2},{10}
56329,10988810028932,{a3786d92-664d-4968-9837-37fca8ad723f},{JOHN},{REESE},{78},{1},{10}
56330,11028710028932,"{40883877-d5da-4676-b531-5ed05c617836, 5de76de...","{MARY, WESLEY H}","{HOLINGSWORTH, SHARP}","{40, 37}","{1, 2}",{10}
56331,11073710028932,{3de9b5a6-f073-4659-93c6-cf517cbed5f2},{CHAS C},{FISHER},{56},{1},{10}
56332,11194610028932,{d60ca4ec-49c3-4106-8d94-71d8b1c22f38},{JAMES R},{CAMPBELL},{81},{1},{10}
56333,11232410028932,{05a6b79d-8823-4e9f-a43d-13ecb938ab63},{ELENOR W},{LEE},{65},{2},{10}

In [44]:
# Merge the data, preserving only the aggregate columns I'm interested in (names).
df_1870_agg = pd.merge(df_1870, df_1870_grouped[['SERIAL','NAMEFRST_household','NAMELAST_household']], 
                       how='left', on='SERIAL')
df_1870_agg

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL,NAMEFRST_household,NAMELAST_household
0,b5689d06-edd3-498e-8b5b-e04f2fa2f2a9,1062582,CATHERINE,BEEBE,44,2,10,{CATHERINE},{BEEBE}
1,a7118f06-949d-4d02-be0a-db33a6f8f3a8,1061605,FRANCES E,BIRD,40,2,10,{FRANCES E},{BIRD}
2,85d089c0-b907-4d9c-95ab-c5fa4a3dd2bb,1029271,J S,LUFF,49,1,10,{J S},{LUFF}
3,cddd9455-48e0-4b48-89a5-9ee315e00087,1237122,JOHN,SMITH,26,1,10,"{JOHN, WILLIAM, ELIZA}",{SMITH}
4,8cb74256-6dfa-4d17-913a-59fa646c388a,1022156,SAML H,RUSSELL,77,1,10,{SAML H},{RUSSELL}
5,1f8e1a74-d486-44ad-8d5c-51aedf86208e,1025771,CHARLES,ROBERTSON,26,1,10,{CHARLES},{ROBERTSON}
6,61a1590f-1d3a-4666-8406-3d4aaf0770b4,1027559,JOHN,DICKINSON,42,1,10,{JOHN},{DICKINSON}
7,92277f0b-1476-41f5-9dc8-bf83672616d0,1028383,JOSEPH,SHISSLER,36,1,10,{JOSEPH},{SHISSLER}
8,322291a1-de91-439d-bba0-45fc2f47a2eb,1029335,DAVID,HALL,71,1,10,{DAVID},{HALL}
9,136f7105-ff59-4eac-9d95-44b002cbb448,1031229,JOHN,DECAME,52,1,10,"{SARAH, JOHN, PETER N, NANCY, ANNAM}",{DECAME}
10,1138ab41-e234-4c72-b812-eaaf0fc5f76c,1031229,NANCY,DECAME,53,2,10,"{SARAH, JOHN, PETER N, NANCY, ANNAM}",{DECAME}
11,066ea4e1-f340-4231-b505-ec7bb9a07103,1031229,PETER N,DECAME,15,1,10,"{SARAH, JOHN, PETER N, NANCY, ANNAM}",{DECAME}
12,b7d96336-404e-490c-8c45-61f2287b52ff,1031229,ANNAM,DECAME,13,2,10,"{SARAH, JOHN, PETER N, NANCY, ANNAM}",{DECAME}
13,24bdff6a-5590-4494-8e8a-ac4a549c8890,1031229,SARAH,DECAME,10,2,10,"{SARAH, JOHN, PETER N, NANCY, ANNAM}",{DECAME}
14,c1fedaab-f026-4aa4-9320-e10f2432d539,1031230,JAMES,CARNEY,22,1,10,{JAMES},{CARNEY}
15,43a6ebe5-752b-4054-818d-6f6f75cc89e7,1031235,ALFRED,DELL,27,1,10,{ALFRED},{DELL}
16,0d693015-2349-4363-9667-45036af7d0db,1031760,CHAS,SYAEX,40,1,10,{CHAS},{SYAEX}
17,1d586e26-aac1-49df-a2ad-fe0a385a26bf,1031767,SARAH,RUSSELL,13,2,10,{SARAH},{RUSSELL}
18,93b7ac89-f9db-49b2-a1f2-c189fecc14ae,1034579,WM H,HAZARD,29,1,10,"{MARTHA, WILLIE MAY, SAMUEL, WM H}","{MORGAN, HAZARD}"
19,e51c36c9-570c-466d-aac1-bf380c9c20f1,1034579,MARTHA,HAZARD,30,2,10,"{MARTHA, WILLIE MAY, SAMUEL, WM H}","{MORGAN, HAZARD}"
20,9250341a-8336-494a-bc84-2b803efe64c6,1034579,WILLIE MAY,HAZARD,8,2,10,"{MARTHA, WILLIE MAY, SAMUEL, WM H}","{MORGAN, HAZARD}"
21,a70679f0-9313-4ef3-bf87-5dfe81beed5d,1034579,SAMUEL,HAZARD,4,2,10,"{MARTHA, WILLIE MAY, SAMUEL, WM H}","{MORGAN, HAZARD}"
22,4715bbf6-d3e2-4260-9ddd-6aece147e5c1,1034579,SAMUEL,MORGAN,32,1,10,"{MARTHA, WILLIE MAY, SAMUEL, WM H}","{MORGAN, HAZARD}"
23,77378570-5214-4ac5-8258-c5156e8b99b3,1034648,J CLAUSON,MCFARLAND,20,1,10,"{EUGENE, J CLAUSON}",{MCFARLAND}
24,6542b541-6e10-411f-9b2a-7c0b93b0aa68,1034648,EUGENE,MCFARLAND,18,1,10,"{EUGENE, J CLAUSON}",{MCFARLAND}
25,396c4077-6a70-4a17-97fb-f8a0c06fdafe,1037015,ANNA,PRESTON,39,2,10,{ANNA},{PRESTON}
26,7e9dde5e-3fad-4b2e-b367-643c0dc8cabb,1038208,REBECCA N,ALEXANDER,49,2,10,{REBECCA N},{ALEXANDER}
27,f7d9e25f-c390-4222-ac24-4e93d72daa05,1038222,MARTHA,ELLIS,37,2,10,{MARTHA},{ELLIS}
28,24b7afa1-8c49-4833-8292-c545c85d3b89,1039117,OTILLIA,ZEIDER,34,2,10,{OTILLIA},{ZEIDER}
29,4b416874-0c5c-4233-81ec-39223bc66f4f,1048673,MARY,DOYLE,64,2,10,{MARY},{DOYLE}
...,...,...,...,...,...,...,...,...,...
970,8d509da0-219a-475b-810f-efc69c333423,1345594,REUBEN,SAPP,29,1,10,"{LEWIS, REUBEN}",{SAPP}
971,3a2c73f6-c3da-4b9b-8d30-33b0e0b39175,1345594,LEWIS,SAPP,22,1,10,"{LEWIS, REUBEN}",{SAPP}
972,19019cce-31d5-40e2-9137-5dd512c3bca4,1345597,CALVIN,JARVIS,25,1,10,{CALVIN},{JARVIS}
973,2a538b49-1f89-4eed-90e1-33dd9a433dae,1345643,LENZORA,JONES,33,1,10,"{KATIE E, ADDIE, LENZORA, ANNA, JAS W}",{JONES}
974,b029ba27-a9a8-4eeb-a1b1-420069c649b9,1345643,ANNA,JONES,7,2,10,"{KATIE E, ADDIE, LENZORA, ANNA, JAS W}",{JONES}
975,732e5217-59ae-40a3-97c6-755453c71a37,1345643,ADDIE,JONES,5,2,10,"{KATIE E, ADDIE, LENZORA, ANNA, JAS W}",{JONES}
976,74faa32d-d78b-457b-9238-9a9c43fbc77c,1345643,KATIE E,JONES,4,2,10,"{KATIE E, ADDIE, LENZORA, ANNA, JAS W}",{JONES}
977,ddd71d74-340d-40ff-a33c-ddd862432003,1345643,JAS W,JONES,2,1,10,"{KATIE E, ADDIE, LENZORA, ANNA, JAS W}",{JONES}
978,934289ec-815f-441e-b8c8-b03eb8b903fb,1345685,S C,ANDERSON,22,1,10,"{GILBERT, LYDIA, S C}",{ANDERSON}
979,c81ef968-e90d-472a-90b2-b0ea665dd127,1345685,LYDIA,ANDERSON,23,2,10,"{GILBERT, LYDIA, S C}",{ANDERSON}
980,ea45ccad-67f8-4825-af70-d84ef56c9aa1,1345685,GILBERT,ANDERSON,0,1,10,"{GILBERT, LYDIA, S C}",{ANDERSON}
981,7d59aab4-3092-409a-8628-021b589d7e24,1345693,E,ANDERSON,2,1,10,"{WM, E}","{ANDERSON, COLLISON}"
982,042b9780-301d-450f-87be-3836f35be815,1345693,WM,COLLISON,26,1,10,"{WM, E}","{ANDERSON, COLLISON}"
983,43052bf5-45e9-41dc-b87e-fb45dcb3d854,1345712,ANDREW,SAPP,36,1,10,{ANDREW},{SAPP}
984,634bee64-581f-4604-9898-ff258e4d8ab5,134572,JOHN,HERDSMAN,25,1,10,{JOHN},{HERDSMAN}
985,898b1dcd-2c98-40f6-96e4-145c94246e6c,1345749,LYDIA,CARTER,34,2,10,{LYDIA},{CARTER}
986,657bddac-9249-4e70-96a3-b5ada29ccae7,1345753,HEZEKIAH,SAPP,27,1,10,"{EDGAR, THOS, ANNA, HEZEKIAH}",{SAPP}
987,58a68988-83e9-4979-bf22-772fb9d9d09a,1345753,ANNA,SAPP,24,2,10,"{EDGAR, THOS, ANNA, HEZEKIAH}",{SAPP}
988,8583e696-0c39-484b-aa28-f863d2078837,1345753,EDGAR,SAPP,3,1,10,"{EDGAR, THOS, ANNA, HEZEKIAH}",{SAPP}
989,6e22ca04-da0e-41ce-87dd-08ae1c19b6e9,1345753,THOS,SAPP,14,1,10,"{EDGAR, THOS, ANNA, HEZEKIAH}",{SAPP}
990,7db47b1b-1049-4d87-9615-c364e614ba64,1345781,SYLVANIA,SYLVESTER,26,2,10,"{SYLVANIA, ANNA S}",{SYLVESTER}
991,5dcf2198-4f82-45aa-a53a-76b1c1c2ba9c,1345781,ANNA S,SYLVESTER,4,2,10,"{SYLVANIA, ANNA S}",{SYLVESTER}
992,201a67f3-9841-49b3-b25e-19454500777e,1345786,NANCY,CAHALL,36,2,10,{NANCY},{CAHALL}
993,8a712489-5036-429e-84d8-b35ae107a95d,1345801,HARTY,WYATT,53,1,10,"{SARAH, HARTY, JAMES}",{WYATT}
994,f6c37f98-5413-47f6-a25c-da5234505230,1345801,SARAH,WYATT,33,2,10,"{SARAH, HARTY, JAMES}",{WYATT}
995,f21b436d-1a09-4997-bbf5-ff84eeeff556,1345801,JAMES,WYATT,19,1,10,"{SARAH, HARTY, JAMES}",{WYATT}
996,142840b0-6211-438f-a3a9-f34b23944aa7,1345818,HENRY,SAPP,34,1,10,{HENRY},{SAPP}
997,adec403c-b4bf-48a2-a5de-ccfd74eae6af,1345821,J R,SAPP,45,1,10,{J R},{SAPP}
998,9631a25a-5bf8-4419-a1c4-786ff08e4c32,1346135,WILLIAM H,REED,51,1,10,{WILLIAM H},{REED}
999,7a1bc3bf-863d-4cfd-ac8e-46f2b1d5df36,1346181,MARY E,PEELER,27,2,10,{MARY E},{PEELER}

In [45]:
df_1880_agg = pd.merge(df_1880, df_1880_grouped[['SERIAL','NAMEFRST_household','NAMELAST_household']], 
                       how='left', on='SERIAL')
df_1880_agg

,id,SERIAL,NAMEFRST,NAMELAST,AGE,SEX,BPL,NAMEFRST_household,NAMELAST_household
0,a499b0dc-7ac0-4d61-b493-91a3036c712e,2484121231038,ANNIE,FAUBLE,26,2,10,{ANNIE},{FAUBLE}
1,ae7261c3-7d71-4ea1-997f-5d1a68c18777,2485245884791,MARY,REESE,35,2,10,"{MARY, SALLY}",{REESE}
2,ad6442b5-42bc-4c2e-a517-5a951d989a92,2485245884791,MARY,REESE,11,2,10,"{MARY, SALLY}",{REESE}
3,b0b6695f-dfa5-4e4d-bc75-798c27195fff,2485245884791,SALLY,REESE,9,2,10,"{MARY, SALLY}",{REESE}
4,9e807937-de09-414c-bfb2-ac821e112929,2485411231038,JOHN,SHIELDS,21,1,10,"{JOHN, ANNE}","{FAUBLE, SHIELDS}"
5,426f2cbe-32e1-45eb-9f86-89a2b9116b7e,2485411231038,ANNE,FAUBLE,26,2,10,"{JOHN, ANNE}","{FAUBLE, SHIELDS}"
6,a76697d9-b0c8-4774-bc3e-12a7e403c7e6,2485601231038,JOHN,COLLINS,17,1,10,"{JOHN, MAGGIE, MARY}",{COLLINS}
7,3575c9ba-1527-4ca2-aff0-d7c2d1efb421,2485601231038,MAGGIE,COLLINS,16,2,10,"{JOHN, MAGGIE, MARY}",{COLLINS}
8,49e53dbc-fe8e-4e55-8cb9-a1d93c284d98,2485601231038,MARY,COLLINS,12,2,10,"{JOHN, MAGGIE, MARY}",{COLLINS}
9,50b33ef6-259d-43af-8cdc-56a61f881169,2486481554552,WILLIAM H,SEWARD,54,1,10,{WILLIAM H},{SEWARD}
10,952754a5-48b4-462a-ac57-e4a059a9ef98,2486951231038,ESTHER,BIERHAHN,40,2,10,{ESTHER},{BIERHAHN}
11,ea6d77b3-2e2d-4c59-a0ac-6b297e8898e3,2488461231038,CHARLES,CLEVELAND,45,1,10,{CHARLES},{CLEVELAND}
12,60a5052e-6d67-455a-a3aa-bb79560c7d8d,2489211231038,SUSAN,WILSON,60,2,10,{SUSAN},{WILSON}
13,0d4472ec-6378-4aeb-b6c7-17e1c388bb94,2489301231038,ARCHER,HARVEY,20,1,10,{ARCHER},{HARVEY}
14,65ccbeb7-2c79-4fb0-b354-c67f150ad80c,2489831554552,ELIZABETH,MC LEAN,42,2,10,{ELIZABETH},{MC LEAN}
15,72cbe5fa-f558-4393-8423-1842fadf7f11,2490611554552,MARY A,FLEMMING,73,2,10,{MARY A},{FLEMMING}
16,44693008-fd6f-48fe-9c52-e6c07baff361,2490671231038,BESSIE,CHAMBERS,2,2,10,{BESSIE},{CHAMBERS}
17,bcc0988e-2397-4f1b-8e76-4bfe1b05dbc6,2491501554552,THOMAS,GRAHAM,64,1,10,{THOMAS},{GRAHAM}
18,a7b10530-b7c9-44d5-9125-c603f392d6d3,2491801231038,EDWARD,DEKAY,35,1,10,{EDWARD},{DEKAY}
19,1e635c1c-7faa-4270-acf3-a22635884b90,2492069772349,NATHEN,THORPE,74,1,10,{NATHEN},{THORPE}
20,d3217545-3453-4d96-86c0-d6a3e60fb2f8,2492741231038,JOB,FOSTER,26,1,10,"{JEZEBEL, JOB}",{FOSTER}
21,2a35bae5-3120-4e2c-87da-694d4419c9ce,2492741231038,JEZEBEL,FOSTER,22,2,10,"{JEZEBEL, JOB}",{FOSTER}
22,94460fc2-954b-469d-9726-f7126c30e5e2,2493391231038,ELIZA,GOODWIN,39,2,10,"{MARY, JO, ELIZA}",{GOODWIN}
23,620b6ebb-82e6-42db-8aae-300ca2be0c00,2493391231038,MARY,GOODWIN,17,2,10,"{MARY, JO, ELIZA}",{GOODWIN}
24,bfe1080e-2e67-4a8c-a6e1-ed94ea103712,2493391231038,JO,GOODWIN,15,1,10,"{MARY, JO, ELIZA}",{GOODWIN}
25,7fb55d25-2a7d-486d-9efa-27b9d7e60c24,2493841231038,PHINEAS,TAYLOR,39,1,10,{PHINEAS},{TAYLOR}
26,a0f33b36-cef7-4949-a031-22b90f1055d4,2494397652485,MARY A,LORD,54,2,10,{MARY A},{LORD}
27,1a76745c-acf8-48a0-9992-7fb10c11710b,2494421231038,EB,ALLEN,21,1,10,{EB},{ALLEN}
28,7b6ba9cc-a38d-466e-921d-faa53ef96d2e,2494641554552,SAMUEL W,LAYTON,49,1,10,{SAMUEL W},{LAYTON}
29,4e434f95-5af2-4dca-a1ed-ed2489205907,2495121554552,ELIZA,JUSTISON,64,2,10,{ELIZA},{JUSTISON}
...,...,...,...,...,...,...,...,...,...
154848,2aa4df62-172d-4fac-a691-cdcf57e77a84,7674809046,JAMES P,BLIZZARD,13,1,10,"{WILLARD S, JOHN E, GEORGE H, JOHN L, JAMES P,...",{BLIZZARD}
154849,b866a841-77b8-4632-aaf7-86c2ac5873c4,7674809046,CHARLES E,BLIZZARD,1,1,10,"{WILLARD S, JOHN E, GEORGE H, JOHN L, JAMES P,...",{BLIZZARD}
154850,951c41c7-d6c7-457a-aacc-7f1fa1c1478d,76749368672,JOHN S,CARPENTER,31,1,10,{JOHN S},{CARPENTER}
154851,325ee515-30fa-4de1-9fac-1c6b370ec5d7,7675809046,NATHANIEL,INGRAHAMS,74,1,10,"{NATHANIEL, MOLLIE A, JOHN L, MARTHA C, MATTE}",{INGRAHAMS}
154852,4b659bac-fd8e-446d-b2da-6e63cb001712,7675809046,MARTHA C,INGRAHAMS,28,2,10,"{NATHANIEL, MOLLIE A, JOHN L, MARTHA C, MATTE}",{INGRAHAMS}
154853,877016da-20f2-48d3-980d-90217473ce26,7675809046,MOLLIE A,INGRAHAMS,9,2,10,"{NATHANIEL, MOLLIE A, JOHN L, MARTHA C, MATTE}",{INGRAHAMS}
154854,d482353a-27e4-4e35-9298-f43735b89fae,7675809046,JOHN L,INGRAHAMS,6,1,10,"{NATHANIEL, MOLLIE A, JOHN L, MARTHA C, MATTE}",{INGRAHAMS}
154855,9fbc5ed5-4056-4a32-84cb-089f665fe0a7,7675809046,MATTE,INGRAHAMS,4,2,10,"{NATHANIEL, MOLLIE A, JOHN L, MARTHA C, MATTE}",{INGRAHAMS}
154856,140dc53c-aab1-4eee-b500-f0512b30571a,7676809046,CATHERINE B,DUTTON,52,2,10,"{WILLIAM J, HANNAH E, WILLIAM, JOHN L, CATHERI...","{LEWIS, DUTTON}"
154857,d9aeea00-9776-41e5-ac5e-1b0b9624ec87,7676809046,WILLIAM J,DUTTON,23,1,10,"{WILLIAM J, HANNAH E, WILLIAM, JOHN L, CATHERI...","{LEWIS, DUTTON}"
154858,074d3748-b1cc-422d-aa5c-e08e5fc403a3,7676809046,JOHN L,DUTTON,20,1,10,"{WILLIAM J, HANNAH E, WILLIAM, JOHN L, CATHERI...","{LEWIS, DUTTON}"
154859,11502b6d-10c6-4d1a-95f6-3026122a1e92,7676809046,LYDIA H,DUTTON,16,2,10,"{WILLIAM J, HANNAH E, WILLIAM, JOHN L, CATHERI...","{LEWIS, DUTTON}"
154860,5f26c014-5a2d-4807-9073-19c6d419269f,7676809046,HANNAH E,DUTTON,16,2,10,"{WILLIAM J, HANNAH E, WILLIAM, JOHN L, CATHERI...","{LEWIS, DUTTON}"
154861,9238abf9-5d0c-472a-8ed1-811ba1338d0c,7676809046,WILLIAM,LEWIS,40,1,10,"{WILLIAM J, HANNAH E, WILLIAM, JOHN L, CATHERI...","{LEWIS, DUTTON}"
154862,a11a2c53-010e-42f8-8ad1-8d3215583740,7677809046,PETER J,WILSON,48,1,10,"{WILLIAM T, THOMAS P, EBE M, PETER J}",{WILSON}
154863,f5ddbbaa-d2f4-418d-8d70-d1e102701868,7677809046,WILLIAM T,WILSON,16,1,10,"{WILLIAM T, THOMAS P, EBE M, PETER J}",{WILSON}
154864,2d4a98e5-1f2f-4909-b816-a4314850eddc,7677809046,EBE M,WILSON,13,1,10,"{WILLIAM T, THOMAS P, EBE M, PETER J}",{WILSON}
154865,5da59721-1e0c-47b5-b35c-566ccfb588da,7677809046,THOMAS P,WILSON,10,1,10,"{WILLIAM T, THOMAS P, EBE M, PETER J}",{WILSON}
154866,1ed5b72c-0b04-47d5-828b-22f735a164cb,7677809046,THOMAS P,WILSON,50,1,10,"{WILLIAM T, THOMAS P, EBE M, PETER J}",{WILSON}
154867,b70926c4-1061-4c2e-aee5-8e24279fa1e2,7678809046,VIRDEN,MACKLIN,52,1,10,"{WILLIAM, SEYMORE, SALLIE, ELIZABETH, VIRDEN}",{MACKLIN}
154868,e1ff4c42-41fb-4e01-904a-caa992f67959,7678809046,ELIZABETH,MACKLIN,51,2,10,"{WILLIAM, SEYMORE, SALLIE, ELIZABETH, VIRDEN}",{MACKLIN}
154869,b9ad7c27-b310-4adc-8ebb-595531344073,7678809046,WILLIAM,MACKLIN,21,1,10,"{WILLIAM, SEYMORE, SALLIE, ELIZABETH, VIRDEN}",{MACKLIN}
154870,3975183e-13e9-4fc2-bcb5-a726c48bc200,7678809046,SEYMORE,MACKLIN,14,1,10,"{WILLIAM, SEYMORE, SALLIE, ELIZABETH, VIRDEN}",{MACKLIN}
154871,35b80c73-9f04-46ba-a55f-d1eca850c378,7678809046,SALLIE,MACKLIN,80,2,10,"{WILLIAM, SEYMORE, SALLIE, ELIZABETH, VIRDEN}",{MACKLIN}
154872,4ba77259-a4d0-44ba-bc7b-53c6b845825b,7679809046,THOMAS,WILSON,45,1,10,"{FANNIE, THOMAS, ELZEY, LAURA, JANE E, MARY G,...","{WILSON, JEFFERSON}"
154873,fbfa6568-5012-43a4-84ea-38f57994e3cd,7679809046,JANE E,WILSON,25,2,10,"{FANNIE, THOMAS, ELZEY, LAURA, JANE E, MARY G,...","{WILSON, JEFFERSON}"
154874,a7922fe9-4f83-4f71-a63a-8b2964a3610f,7679809046,LAURA,WILSON,12,2,10,"{FANNIE, THOMAS, ELZEY, LAURA, JANE E, MARY G,...","{WILSON, JEFFERSON}"
154875,8bff1989-12bd-4d1c-a9b3-717e503a7ed4,7679809046,ELZEY,WILSON,10,1,10,"{FANNIE, THOMAS, ELZEY, LAURA, JANE E, MARY G,...","{WILSON, JEFFERSON}"
154876,4a940747-ee50-4d75-9d29-d1dadfe19e8e,7679809046,MARY G,WILSON,8,2,10,"{FANNIE, THOMAS, ELZEY, LAURA, JANE E, MARY G,...","{WILSON, JEFFERSON}"
154877,1be418f3-6fc4-4ca3-8632-d43e60400c95,7679809046,SARAH A,WILSON,3,2,10,"{FANNIE, THOMAS, ELZEY, LAURA, JANE E, MARY G,...","{WILSON, JEFFERSON}"

Now I need to add the household member comparison to the function. I'm also going to add a comparison of the coded sex between the two years.

In [52]:
def find_name_match(dfa, dfb):
    
        
    # This function finds the best match given a first and last name, using the Jaro Winkler comparison function
    # in the jellyfish library to find the closest match.  Criteria are last name, first name, and age.
    
    # dfa is the data we are looking to match
    # dfb is the data we are looking for matches in
    
    
    # One of the final requirements is to output matched ids as a CSV file.  
    # Open a CSV file to put the matched ID output in.
    with open('1870-1880_output.csv', 'w') as csvfile:
        # Define a writer:
        output_writer = csv.writer(csvfile, delimiter=',')
        # Define and write a header row.
        headerrow = ['id_1870', 'id_1880']
        output_writer.writerow(headerrow)
        
        # filter the data for any null values
        dfb_ln = dfb[dfb['NAMELAST'].notnull()]
        print(dfb_ln.shape)
        dfb_fn = dfb[dfb['NAMEFRST'].notnull()]
        print(dfb_fn.shape)

        # Start iterating through the data frame rows and looking for matches
        # The tqdm function here will give us a progress bar and give information about how long each record
        # is taking to process.  It will also provide an estimated total completion time.
        for index, row in tqdm_notebook(dfa.iterrows(), total=len(dfa)):
            
            # Get the name and age values, make sure the names are uppercase
            
            # I know some first name values are null in the 1870 data, so I'll need to account for those.  
            # There weren't any nulls in the 1870 last name, age, or sex.
            if type(row['NAMEFRST']) == str:
                fn = row['NAMEFRST'].upper()
            else:
                fn = ''

            ln = row['NAMELAST'].upper()
            pers_id_1870 = row['id']
            age0 = row['AGE']
            serial = row['SERIAL']
            hh_fn = row['NAMEFRST_household']
            hh_ln = row['NAMELAST_household']
            sex = row['SEX']
            print(fn)
            print(ln)
            print(age0)
            print(hh_fn)
            print(hh_ln)
            
            # Run the comparison on each entry in the filtered dataframe and record the distance
            dfb_ln['ln_dist'] = dfb_ln['NAMELAST'].apply(lambda x: jf.jaro_winkler(ln, x))
            # Sort the dataframe by closest match (highest value first)
            dfb_ln.sort_values('ln_dist', inplace=True, ascending=False)
            #print(dfb_ln.iloc[:5])
            
            # Merge the last name distance scores back into the unfiltered data and sort.
            dfb_dists = pd.merge(dfb,dfb_ln[['id','ln_dist']], how='left',on='id')

            if fn != '':
                dfb_fn['fn_dist'] = dfb_fn['NAMEFRST'].apply(lambda x: jf.jaro_winkler(fn, x))
                dfb_fn.sort_values('fn_dist', inplace=True, ascending=False)
                #print(dfb_fn.iloc[:5])

            else:
                dfb_fn['fn_dist'] = 0
                #print(dfb_fn.iloc[:5])
            
            # Merge the first name distance scores back into the unfiltered data and sort.
            dfb_dists = pd.merge(dfb_dists,dfb_fn[['id','fn_dist']], how='left',on='id')

            dfb_dists['total_dist'] = dfb_dists.apply(lambda row: sum([row['fn_dist'],2*row['ln_dist']]), axis=1)
            
            
            # In writing up the report of this work, I just realized that I forgot to account for the age data 
            # with values '999'.  This is probably really skewing some of the results.  I'd want to add some if/else
            # conditionals to this next part in order to deal with those to make them less disruptive, but at this
            # point, I've run out of time for the development portion of the exercise.
            
            # Return the absolute value of the age in 1880 minus ten years minus the age in 1870.  I'm using the
            # absolute value because it doesn't matter to me if the age is one higher or lower, just the distance from
            # what is expected.
            dfb_dists['age_diff'] = dfb_dists['AGE'].apply(lambda x: abs(int(x)-10-int(age0)))
            
            #I'm going to say that if the age difference is 15 years or more, it might be a bad match. I'd need to do
            # further analysis of the data sets to see if this is a good range, but I'm just ball-parking it here.
            dfb_dists = dfb_dists[dfb_dists['age_diff'] < 15]

            dfb_dists['sex_same'] = dfb_dists['SEX'].apply(lambda x: abs(sex-x))

            dfb_dists.sort_values(['total_dist','sex_same','age_diff',],ascending=[False,True,True],inplace=True)
            #print(dfb_dists.iloc[:5])
            
            # Let's just look at the top 20 candidates, so we're not running the lambda functions on so much data.
            dfb_candidates = dfb_dists.iloc[:20]
            
            # Find any exact overlap between the household members in 1870 and the household members in 1880.
            # This could be improved by using weights instead of looking for exact matches given more development time.
            dfb_candidates['household_overlap_ln'] = dfb_candidates.apply(lambda row: len(row['NAMELAST_household'] & hh_ln), axis=1)
            dfb_candidates['household_overlap_fn'] = dfb_candidates.apply(lambda row: len(row['NAMEFRST_household'] & hh_fn),axis=1)
            
            # Instead of just sorting by ordered factors, I want to try weighting the factors and creating
            # a combined weighted total score. I just started putting coefficients in based on hunches and revised
            # them based on testing the script and looking at the matches.  I'd like a more mathematical approach
            # to this, but this is a rough cut.  High comparison scores and overlap of household members boosts scores.
            # Differences in age or sex reduce scores.
            dfb_candidates['total_weighted'] = dfb_candidates.apply(lambda row: sum([7*row['total_dist'],
                                                                                     -4*row['age_diff'],
                                                                                     -6*row['sex_same'],
                                                                                     3*row['household_overlap_ln'],
                                                                                     2*row['household_overlap_fn']]), 
                                                                    axis=1)
            # Sort by weighted scores, highest first.
            dfb_candidates.sort_values(['total_weighted'],inplace=True, ascending=False)
            
            # Record the id of the top match to the CSV file.
            pers_id_1880 = dfb_candidates['id'].iloc[0]
            csv_row = [pers_id_1870, pers_id_1880]
            output_writer.writerow(csv_row)
            
            # Return the top 3 matches as output to the console.
            print(dfb_candidates.iloc[:3])

In [47]:
df = find_name_match(df_1870_agg, df_1880_agg)
df

(154876, 9)
(154644, 9)

HBox(children=(IntProgress(value=0, max=1000), HTML(value='')))

CATHERINE
BEEBE
44
{'CATHERINE'}
{'BEEBE'}

C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Kelly\Anaconda3\lib\site-packages\ipykernel\__main__.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                                          id         SERIAL   NAMEFRST  \
43285   f7946b71-ff8a-441b-a37f-e086d6a6a048  1283321554552  CATHERINE
101048  011a85b6-f04d-4882-ba83-7d6adf2d47a1    10860809046    JAMES C
101049  c08b4ea6-e2b4-4e9d-a756-1a2ad7924ffa    10860809046    ANNIE M

       NAMELAST  AGE  SEX  BPL  \
43285     BEEBE   54    2   10
101048    BEEBE   56    1   10
101049    BEEBE   58    2   10

                                       NAMEFRST_household NAMELAST_household  \
43285                                         {CATHERINE}            {BEEBE}
101048  {JAMES C, MARTHA, RICHARD, ANNIE M, HANNAH, GE...            {BEEBE}
101049  {JAMES C, MARTHA, RICHARD, ANNIE M, HANNAH, GE...            {BEEBE}

        ln_dist   fn_dist  total_dist  age_diff  sex_same  \
43285       1.0  1.000000    3.000000         0         0
101048      1.0  0.502646    2.502646         2         1
101049      1.0  0.476190    2.476190         4         0

        household_overlap_ln  household_overlap_fn  total_weighted
43285                      1                     1       26.000000
101048                     1                     0        6.518519
101049                     1                     0        4.333333
FRANCES E
BIRD
40
{'FRANCES E'}
{'BIRD'}
                                         id         SERIAL  NAMEFRST NAMELAST  \
1640   9f638d67-3533-4886-9e2e-f9f6e87ca771  9996965884791  FANNIE E     BIRD
40109  86520513-663a-4233-bf3d-5dd294bd1a6f     9729397009     ANNIE     BIRD
50939  5354c02b-baf2-4321-a4a5-154658f822c5    13614809046   ELLEN B     BIRD

       AGE  SEX  BPL                                 NAMEFRST_household  \
1640    50    2   10                                         {FANNIE E}
40109   50    2   10                                            {ANNIE}
50939   50    2   10  {JULIANN, ELIZABETH E, WILLIAM, WILLIAM H, ELL...

          NAMELAST_household  ln_dist   fn_dist  total_dist  age_diff  \
1640                  {BIRD}      1.0  0.825000    2.825000         0
40109                 {BIRD}      1.0  0.644444    2.644444         0
50939  {BIRD, SMITH, BUTLER}      1.0  0.476190    2.476190         0

       sex_same  household_overlap_ln  household_overlap_fn  total_weighted
1640          0                     1                     0       22.775000
40109         0                     1                     0       21.511111
50939         0                     1                     0       20.333333
J S
LUFF
49
{'J S'}
{'LUFF'}
                                          id       SERIAL NAMEFRST NAMELAST  \
119360  2a675d10-ed1e-4f73-bce9-76e2e4b3924a  50315869645      J S     LUFF
47350   506ed66d-a3d6-4f4e-a62a-ce1eb74ff87c  25957809046    JAMES     DUFF
143684  3abb5782-9bc2-4b68-8abf-c7f96662fecf  13926809046      ANN     LUFF

        AGE  SEX  BPL              NAMEFRST_household  \
119360   60    1   10                           {J S}
47350    60    1   10         {GEORGE, JAMES, RACHEL}
143684   59    2   10  {HENRY H, EUGENE, EMMA J, ANN}

                 NAMELAST_household   ln_dist   fn_dist  total_dist  age_diff  \
119360                       {LUFF}  1.000000  1.000000    3.000000         1
47350   {DUFF, ANDERSON, LOCKERMAN}  0.833333  0.511111    2.177778         1
143684                       {LUFF}  1.000000  0.000000    2.000000         0

        sex_same  household_overlap_ln  household_overlap_fn  total_weighted
119360         0                     1                     1       22.000000
47350          0                     0                     0       11.244444
143684         1                     1                     0       11.000000
JOHN
SMITH
26
{'JOHN', 'WILLIAM', 'ELIZA'}
{'SMITH'}
                                         id         SERIAL NAMEFRST NAMELAST  \
35076  06377154-eea4-4211-bf10-fe548d9a964f    11197809046     JOHN    SMITH
39366  83360dd4-1f7c-4277-b669-c5b79bd4e6fa  5663167652485     JOHN    SMITH
1242   7f6b3a54-6f74-4c0e-9be8-c6215c6c0609  7436247652485     JOHN    SMITH

       AGE  SEX  BPL          NAMEFRST_household NAMELAST_household  ln_dist  \
35076   35    1   10    {EDGAR, JOHN, ELIZABETH}   {SMITH, MARVELL}      1.0
39366   38    1   10  {JOHN, GEORGE, MARY, ELLA}            {SMITH}      1.0
1242    34    1   10             {JOHN, RICHARD}   {HOPKINS, SMITH}      1.0

       fn_dist  total_dist  age_diff  sex_same  household_overlap_ln  \
35076      1.0         3.0         1         0                     1
39366      1.0         3.0         2         0                     1
1242       1.0         3.0         2         0                     1

       household_overlap_fn  total_weighted
35076                     1            22.0
39366                     1            18.0
1242                      1            18.0
SAML H
RUSSELL
77
{'SAML H'}
{'RUSSELL'}
                                         id         SERIAL   NAMEFRST  \
18297  711513e3-d50b-4441-b3d8-8c49271d2002  6362487652485  ELIZABETH
10767  b2289213-dc9d-4907-a743-71bdc552b14b  1031733643712     SAML H
7598   c59e290b-5620-44f1-b13a-c2a80a92d910   354455604765     DANIEL

       NAMELAST  AGE  SEX  BPL                      NAMEFRST_household  \
18297   RUSSELL   89    2   10                    {LATICIA, ELIZABETH}
10767  ROTHWELL   82    1   10  {WM T, SAM'L H, THOS, LOUIS S, SAML H}
7598       ROSS   92    1   10                     {REBECCA D, DANIEL}

      NAMELAST_household   ln_dist   fn_dist  total_dist  age_diff  sex_same  \
18297   {CLEGG, RUSSELL}  1.000000  0.500000    2.500000         2         1
10767  {ROTHWELL, CLARK}  0.690476  1.000000    2.380952         5         0
7598              {ROSS}  0.753571  0.555556    2.062698         5         0

       household_overlap_ln  household_overlap_fn  total_weighted
18297                     1                     0        6.500000
10767                     0                     1       -1.333333
7598                      0                     0       -5.561111
CHARLES
ROBERTSON
26
{'CHARLES'}
{'ROBERTSON'}
                                          id        SERIAL   NAMEFRST  \
53260   c8f11113-57f6-416e-bca1-7c66966034ed    2275809046    CHARLES
121358  56723fb6-aad8-4837-8990-af0e52dbdb8b   26661809046    CHARLES
23258   ed2f9c80-b557-4595-bbf4-5421cc1ab414  314635604765  CHARLOTTE

        NAMELAST  AGE  SEX  BPL  \
53260   ROBINSON   35    1   10
121358  ROBINSON   37    1   10
23258   ROBINSON   36    2   10

                                   NAMEFRST_household  NAMELAST_household  \
53260               {CHARLES, CAROLINE, ANNIE, SUSAN}          {ROBINSON}
121358  {CHARLES, CAREY C, MARY J, WILLIAM J, MARY A}          {ROBINSON}
23258                             {GEORGE, CHARLOTTE}  {ROBINSON, LODINE}

         ln_dist   fn_dist  total_dist  age_diff  sex_same  \
53260   0.863889  1.000000    2.727778         1         0
121358  0.863889  1.000000    2.727778         1         0
23258   0.863889  0.904762    2.632540         0         1

        household_overlap_ln  household_overlap_fn  total_weighted
53260                      0                     1       17.094444
121358                     0                     1       17.094444
23258                      0                     0       12.427778
JOHN
DICKINSON
42
{'JOHN'}
{'DICKINSON'}
                                          id        SERIAL NAMEFRST  \
137120  bde92964-95f2-4ca9-afde-b7165c7d06bb   30691546752     JOHN
7804    5b6f644f-37cb-407f-b86e-f42e65d9ddbf  368822157662     JOHN
139422  94a844f2-5879-4f94-b689-7fb9c4532944    8393809046     JOHN

         NAMELAST  AGE  SEX  BPL            NAMEFRST_household  \
137120  DICKERSON   53    1   10                        {JOHN}
7804    DICKINSON   49    1   10                        {JOHN}
139422     HINSON   49    1   10  {JOHN, MARANDA, LILAS, MARK}

       NAMELAST_household   ln_dist  fn_dist  total_dist  age_diff  sex_same  \
137120        {DICKERSON}  0.868254      1.0    2.736508         1         0
7804          {DICKINSON}  1.000000      1.0    3.000000         3         0
139422     {LANE, HINSON}  0.796296      1.0    2.592593         3         0

        household_overlap_ln  household_overlap_fn  total_weighted
137120                     0                     1       17.155556
7804                       1                     1       14.000000

139422                     0                     1        8.148148
JOSEPH
SHISSLER
36
{'JOSEPH'}
{'SHISSLER'}
                                          id       SERIAL  NAMEFRST  NAMELAST  \
119221  f6de224e-c9ee-41e2-ac65-4b5f2759ef68  50001546752  JOSEPH G  SHRICLER
65265   ddbb22c8-0b61-4c90-857f-619e88cc916f  17810809046  JONATHAN   SHIPLEY
122620  9de95030-2bc9-410a-aa25-4dad88e6a808  11225809046    JOSEPH    FISHER

        AGE  SEX  BPL                                 NAMEFRST_household  \
119221   46    1   10                                         {JOSEPH G}
65265    45    1   10  {JONATHAN, NANCY, MARY C, JOHN HR, WILLIAM C, ...
122620   48    1   10               {CHARLES, WILLIAM H, JOSEPH, MARY A}

                   NAMELAST_household   ln_dist  fn_dist  total_dist  \
119221                     {SHRICLER}  0.866667    0.950    2.683333
65265   {MONTGOMERY, ABBOTT, SHIPLEY}  0.845833    0.625    2.316667
122620                       {FISHER}  0.719444    1.000    2.438889

        age_diff  sex_same  household_overlap_ln  household_overlap_fn  \
119221         0         0                     0                     0
65265          1         0                     0                     0
122620         2         0                     0                     1

        total_weighted
119221       18.783333
65265        12.216667
122620       11.072222
DAVID
HALL
71
{'DAVID'}
{'HALL'}
                                         id         SERIAL  NAMEFRST NAMELAST  \
7906   66ebab38-fee5-48b1-b377-b6bda58027e0   379679063867     ELIZA    HAILL
20314  02384567-74ad-4dc2-a020-ff423cfa3d39  2867007652485  RACHEL E     HALL
31465  98d4be5d-7aee-40e4-a3ad-5aea68320d97  1742423643712   RICHARD     HALL

       AGE  SEX  BPL NAMEFRST_household NAMELAST_household   ln_dist  \
7906    82    2   10            {ELIZA}            {HAILL}  0.946667
20314   84    2   10   {JOHN, RACHEL E}     {GLASCO, HALL}  1.000000
31465   75    1   10          {RICHARD}             {HALL}  1.000000

        fn_dist  total_dist  age_diff  sex_same  household_overlap_ln  \
7906   0.466667    2.360000         1         1                     0
20314  0.441667    2.441667         3         1                     1
31465  0.561905    2.561905         6         0                     1

       household_overlap_fn  total_weighted
7906                      0        6.520000
20314                     0        2.091667
31465                     0       -3.066667
JOHN
DECAME
52
{'SARAH', 'JOHN', 'PETER N', 'NANCY', 'ANNAM'}
{'DECAME'}
                                          id        SERIAL NAMEFRST  \
17372   1adf0fb8-de2b-4980-9fa9-40185c088fee  966783643712     JOHN
104403  703e9260-20a1-4d58-98ec-efca21cd7ac7   15102809046     JOHN
138156  b3776fde-db30-4065-84c0-330e774e5468   28086809046     JOHN

         NAMELAST  AGE  SEX  BPL  \
17372        CADE   64    1   10
104403  CAMBRIDGE   60    1   10
138156     PEARCE   60    1   10

                                       NAMEFRST_household NAMELAST_household  \
17372   {JOHN, SALLIE A, ELIZABETH A, DORA, NATHAN J, ...    {CADE, BAIWICK}
104403                   {JOHN, KITTY, BEVERLY, HARRIETT}        {CAMBRIDGE}
138156                                       {JOHN, MARY}           {PEARCE}

         ln_dist  fn_dist  total_dist  age_diff  sex_same  \
17372   0.722222      1.0    2.444444         2         0
104403  0.703704      1.0    2.407407         2         0
138156  0.694444      1.0    2.388889         2         0

        household_overlap_ln  household_overlap_fn  total_weighted
17372                      0                     1       11.111111
104403                     0                     1       10.851852
138156                     0                     1       10.722222
NANCY
DECAME
53
{'SARAH', 'JOHN', 'PETER N', 'NANCY', 'ANNAM'}
{'DECAME'}
                                         id         SERIAL NAMEFRST NAMELAST  \
56511  84afa4db-cd4b-4020-adca-a9de7d95b290  5694627652485     MARY  DEMPSEY
84527  73c9739a-de4f-483e-aa23-5ab996da9136     4100809046    NANCY    ADAMS
31876  d8451f75-dfc2-4ff7-b762-6b7868dc61f9  1770692157662    NANCY     DALE

       AGE  SEX  BPL       NAMEFRST_household NAMELAST_household   ln_dist  \
56511   62    2   10              {GEO, MARY}          {DEMPSEY}  0.796825
84527   65    2   10  {NANCY, THOMAS, JOHN R}      {ADAMS, LANE}  0.700000
31876   68    2   10           {NANCY, ISAAC}             {DALE}  0.638889

        fn_dist  total_dist  age_diff  sex_same  household_overlap_ln  \
56511  0.633333    2.226984         1         0                     0
84527  1.000000    2.400000         2         0                     0
31876  1.000000    2.277778         5         0                     0

       household_overlap_fn  total_weighted
56511                     0       11.588889
84527                     1       10.800000
31876                     1       -2.055556
PETER N
DECAME
15
{'SARAH', 'JOHN', 'PETER N', 'NANCY', 'ANNAM'}
{'DECAME'}
                                          id        SERIAL   NAMEFRST  \
9156    6b971a6c-4242-4b1f-8974-360902e7796c  104326636367      PETER
28037   c5275b18-5ea0-4eff-9b8a-7183825bd438  634652556219  JEFFERSON
132762  385b1870-15cc-4911-8e5e-41766e112bbb   26136809046      PETER

        NAMELAST  AGE  SEX  BPL            NAMEFRST_household  \
9156      CAMRON   25    1   10                       {PETER}
28037   DEMPSTER   24    1   10                   {JEFFERSON}
132762   LEGATES   27    1   10  {HETTIE, JOHN, ANNIE, PETER}

       NAMELAST_household   ln_dist   fn_dist  total_dist  age_diff  sex_same  \
9156             {CAMRON}  0.666667  0.942857    2.276190         0         0
28037          {DEMPSTER}  0.777778  0.671958    2.227513         1         0
132762          {LEGATES}  0.642857  0.942857    2.228571         2         0

        household_overlap_ln  household_overlap_fn  total_weighted
9156                       0                     0       15.933333
28037                      0                     0       11.592593
132762                     0                     1        9.600000
ANNAM
DECAME
13
{'SARAH', 'JOHN', 'PETER N', 'NANCY', 'ANNAM'}
{'DECAME'}
                                          id       SERIAL NAMEFRST NAMELAST  \
122044  50b0ff80-84fd-425c-be1a-e2370014c407  22941809046   ANNA M  DE CAMP
42996   39811c3a-6b90-48c4-839b-a7d8813161ff  19357809046   ANNA M   DUNCAN
125516  994b4c0d-9a63-47d2-8f9a-3f9afd85e319  18289809046   ANNA M   PIERCE

        AGE  SEX  BPL               NAMEFRST_household NAMELAST_household  \
122044   24    2   10  {ANNA M, ELIZABETH B, GEORGE W}          {DE CAMP}
42996    22    2   10                 {ANNA M, BENJ C}           {DUNCAN}
125516   25    2   10                         {ANNA M}           {PIERCE}

         ln_dist   fn_dist  total_dist  age_diff  sex_same  \
122044  0.879365  0.966667    2.725397         1         0
42996   0.666667  0.966667    2.300000         1         0
125516  0.666667  0.966667    2.300000         2         0

        household_overlap_ln  household_overlap_fn  total_weighted
122044                     0                     0       15.077778
42996                      0                     0       12.100000
125516                     0                     0        8.100000
SARAH
DECAME
10
{'SARAH', 'JOHN', 'PETER N', 'NANCY', 'ANNAM'}
{'DECAME'}
                                          id       SERIAL NAMEFRST NAMELAST  \
124426  8222cb37-5c86-468c-bc05-14848ccd2e59  20859809046    SARAH    BREME
103852  2be73fb3-fd22-48b8-bf9e-5f72cb81a303  25738809046    SARAH    ADAMS
74426   db7f6f71-7594-4e4a-a5b5-f7a2b5f46f93    120809046    SARAH    ADAMS

        AGE  SEX  BPL                           NAMEFRST_household  \
124426   20    2   10                         {SARAH, CATHERINE A}
103852   22    2   10               {SARAH, CORA, JEREMIAH, ALICE}
74426    18    2   10  {SARAH, JAMES W, WILLIAM H, MARY J, MARY H}

       NAMELAST_household  ln_dist  fn_dist  total_dist  age_diff  sex_same  \
124426     {SMITH, BREME}      0.7      1.0         2.4         0         0
103852            {ADAMS}      0.7      1.0         2.4         2         0
74426    {ADAMS, FULLMAN}      0.7      1.0         2.4         2         0

        household_overlap_ln  household_overlap_fn  total_weighted
124426                     0                     1            18.8
103852                     0                     1            10.8

74426                      0                     1            10.8
JAMES
CARNEY
22
{'JAMES'}
{'CARNEY'}
                                          id         SERIAL NAMEFRST NAMELAST  \
4596    4510623f-8f33-4019-99c3-22049b45f5d6  2280442157662  JAMES B    CAREY
96160   f657144b-dd29-4558-8887-413d77df80d0     6812809046  JAMES M    CAREY
105245  01a21ce9-ce06-4f7f-bf94-2bd0720aea27     2510809046    JAMES   CARNEY

        AGE  SEX  BPL                               NAMEFRST_household  \
4596     33    1   10                          {ANNIE, JAMES B, SUSAN}
96160    33    1   10                               {JAMES M, ANNIE M}
105245   29    1   10  {HARRIET, WILLIAM, AGNES, EDITH, JAMES, HORRIS}

       NAMELAST_household   ln_dist   fn_dist  total_dist  age_diff  sex_same  \
4596              {CAREY}  0.961111  0.942857    2.865079         1         0
96160             {CAREY}  0.961111  0.942857    2.865079         1         0
105245           {CARNEY}  1.000000  1.000000    3.000000         3         0

        household_overlap_ln  household_overlap_fn  total_weighted
4596                       0                     0       16.055556
96160                      0                     0       16.055556
105245                     1                     1       14.000000
ALFRED
DELL
27
{'ALFRED'}
{'DELL'}
                                         id       SERIAL   NAMEFRST NAMELAST  \
90314  27fc6c82-ad43-4fdf-bbdf-d14e917a5569  23674809046     ALFRED   OTWELL
55621  7f0b8831-b43f-4e87-8545-ce26e6c5a449  20751809046   ALFRED S   ELLIOT
96761  cef36697-aa1d-46b8-8f85-3d6de425f232   1499809046  ALEXANDER     DILL

       AGE  SEX  BPL                            NAMEFRST_household  \
90314   37    1   10                   {MARTHA, ALFRED, RUTH ANNA}
55621   36    1   10  {JESSIE L, MARY, ALFRED S, ANNIE B, ANNIE L}
96761   34    1   10         {EMMA, ALEXANDER, MORRIS, MARY, ELLA}

        NAMELAST_household  ln_dist   fn_dist  total_dist  age_diff  sex_same  \
90314             {OTWELL}     0.75  1.000000    2.500000         0         0
55621  {KOHLERMAN, ELLIOT}     0.75  0.950000    2.450000         1         0
96761               {DILL}     0.85  0.762963    2.462963         3         0

       household_overlap_ln  household_overlap_fn  total_weighted
90314                     0                     1       19.500000
55621                     0                     0       13.150000
96761                     0                     0        5.240741
CHAS
SYAEX
40
{'CHAS'}
{'SYAEX'}
                                          id         SERIAL NAMEFRST NAMELAST  \
133430  6c00c2f2-161c-4c90-87d4-63a60486e0ca    22512809046     CHAS  MAGNESS
37009   d886f480-ac96-430e-a8dc-74407d804012   932032157662    JAMES    SYNEX
33777   6596be9e-b115-4a12-9b59-6db02088566c  1606643643712     CHAS  RATHELL

        AGE  SEX  BPL                                NAMEFRST_household  \
133430   49    1   10  {CHAS, EDWARD, ELIZABETH, THOMAS, CHARLES, MARY}
37009    52    1   10                                           {JAMES}
33777    52    1   10                                         {CHAS, S}

       NAMELAST_household   ln_dist   fn_dist  total_dist  age_diff  sex_same  \
133430          {MAGNESS}  0.561905  1.000000     2.12381         1         0
37009             {SYNEX}  0.893333  0.633333     2.42000         2         0
33777   {BENSON, RATHELL}  0.561905  1.000000     2.12381         2         0

        household_overlap_ln  household_overlap_fn  total_weighted
133430                     0                     1       12.866667
37009                      0                     0        8.940000
33777                      0                     1        8.866667
SARAH
RUSSELL
13
{'SARAH'}
{'RUSSELL'}
                                          id       SERIAL  NAMEFRST NAMELAST  \
77964   15615f8d-a803-4194-aa7f-42da10ed5a31  15273809046      CARA  RUSSELL
147903  045cef00-f23b-4e0a-ac5c-94f5aa6df40b   8494809046      MARY  RUSSELL
140161  4179896a-3988-4d53-a790-d5dbd01bfb4f  12124809046  HANNAH C  RUSSELL

        AGE  SEX  BPL                                 NAMEFRST_household  \
77964    23    2   10                   {RAMOND, GEORGE, CARA, WILLIARD}
147903   23    2   10       {ELLA, WM, MARTHA C, THEADORE W, JANE, MARY}
140161   22    2   10  {HANNAH C, SARAH E, WILLIAM N, MARY C, ELIZABE...

         NAMELAST_household  ln_dist   fn_dist  total_dist  age_diff  \
77964             {RUSSELL}      1.0  0.783333    2.783333         0
147903  {HATFIELD, RUSSELL}      1.0  0.633333    2.633333         0
140161            {RUSSELL}      1.0  0.658333    2.658333         1

        sex_same  household_overlap_ln  household_overlap_fn  total_weighted
77964          0                     1                     0       22.483333
147903         0                     1                     0       21.433333
140161         0                     1                     0       17.608333
WM H
HAZARD
29
{'MARTHA', 'WILLIE MAY', 'SAMUEL', 'WM H'}
{'MORGAN', 'HAZARD'}
                                         id         SERIAL NAMEFRST NAMELAST  \
17511  6f6568b4-a322-40e5-a186-f793d922b90b   994234305597       WM  HAZZARD
18910  6afbe8d0-bfe8-4eab-8033-093baec8942b  6184807652485     WM H    HAZEL
15371  a083c7ad-ca09-47ea-b16a-9fdc47848432  3162242157662      W F   HAZARD

       AGE  SEX  BPL NAMEFRST_household NAMELAST_household   ln_dist  \
17511   39    1   10  {MARTHA, MAY, WM}          {HAZZARD}  0.966667
18910   39    1   10             {WM H}            {HAZEL}  0.790000
15371   38    1   10              {W F}           {HAZARD}  1.000000

        fn_dist  total_dist  age_diff  sex_same  household_overlap_ln  \
17511  0.833333    2.766667         0         0                     0
18910  1.000000    2.580000         0         0                     0
15371  0.722222    2.722222         1         0                     1

       household_overlap_fn  total_weighted
17511                     1       21.366667
18910                     1       20.060000
15371                     0       18.055556
MARTHA
HAZARD
30
{'MARTHA', 'WILLIE MAY', 'SAMUEL', 'WM H'}
{'MORGAN', 'HAZARD'}
                                          id        SERIAL NAMEFRST NAMELAST  \
17512   f261fb9d-fc8c-42b5-8251-42089f80cbf8  994234305597   MARTHA  HAZZARD
151706  5caa0633-af72-4f7b-8c2b-5f38cc38a380    7884809046  SARAH A  HAZZARD
148174  1033677a-3dfa-4314-a5d7-4f2603169ef1    8543809046     MARY  HAZZARD

        AGE  SEX  BPL                                 NAMEFRST_household  \
17512    40    2   10                                  {MARTHA, MAY, WM}
151706   40    2   10  {JOHN, SAMUEL M, MINOS, SAMUEL, HENRY, LEAH, S...
148174   40    2   10  {HESTER, MARY N, DAVID, THEADORE, JOSEPH, JOHN...

       NAMELAST_household   ln_dist   fn_dist  total_dist  age_diff  sex_same  \
17512           {HAZZARD}  0.966667  1.000000    2.933333         0         0
151706          {HAZZARD}  0.966667  0.662698    2.596032         0         0
148174          {HAZZARD}  0.966667  0.825000    2.758333         0         0

        household_overlap_ln  household_overlap_fn  total_weighted
17512                      0                     1       22.533333
151706                     0                     1       20.172222
148174                     0                     0       19.308333
WILLIE MAY
HAZARD
8
{'MARTHA', 'WILLIE MAY', 'SAMUEL', 'WM H'}
{'MORGAN', 'HAZARD'}
                                         id       SERIAL  NAMEFRST NAMELAST  \
64564  55a071e1-d20d-4d22-a6eb-d5deef9a559b  10419809046   ANNIE V  HAZZARD
40084  112d91a2-502b-4b08-aa24-1a9e40b0e193    969809046  VIRGINIA   HAZARD
34571  399e53db-c02d-413d-b231-c5607b5ca7c8  11106809046   WILLIAM  HAZZARD

       AGE  SEX  BPL                                 NAMEFRST_household  \
64564   18    2   10  {EMELINE, JOHN E, ANNIE V, EMMIE, WILLIAM B, J...
40084   19    2   10  {VIRGINIA, WILLIAM D, FRANK, WILLIAM, JOSEPH, ...
34571   18    1   10  {HENRY, SARAH, DAVID, WILLIAM, ROBERT, JAMES, ...

             NAMELAST_household   ln_dist   fn_dist  total_dist  age_diff  \
64564                 {HAZZARD}  0.966667  0.576190    2.509524         0
40084  {HAZARD, FOWLER, LINLEY}  1.000000  0.558333    2.558333         1
34571                 {HAZZARD}  0.966667  0.911429    2.844762         0

       sex_same  household_overlap_ln  household_overlap_fn  total_weighted
64564         0                     0                     0       17.566667
40084         0                     1                     0       16.908333

34571         1                     0                     0       13.913333
SAMUEL
HAZARD
4
{'MARTHA', 'WILLIE MAY', 'SAMUEL', 'WM H'}
{'MORGAN', 'HAZARD'}
                                          id       SERIAL NAMEFRST   NAMELAST  \
150828  846b5839-0497-4c6f-a0d9-797582d21a5e   1810809046   SAMUEL  HARGADINE
105115  d0bade8d-5a57-4b15-aa1a-001c02aa3705   2480809046    SARAH    HAZZARD
97626   471ab4e5-21f1-4255-ab4d-119b20bdf3d8  17704809046    SARAH    HAZZARD

        AGE  SEX  BPL                                 NAMEFRST_household  \
150828   14    1   10  {SAMUEL, CLEMENTINE, LUTHER, FRANCIS A, MARY, ...
105115   13    2   10                 {SARAH, WALKER, HENRY K, ANDREW N}
97626    16    2   10  {JOHN, CHARLES, SARAH, VARGINIA, FANNIE, GEORG...

                             NAMELAST_household   ln_dist   fn_dist  \
150828                              {HARGADINE}  0.783704  1.000000
105115                {HARRIS, HARPER, HAZZARD}  0.966667  0.577778
97626   {WALLS, MCGLOULHIN, DOUGHERTY, HAZZARD}  0.966667  0.577778

        total_dist  age_diff  sex_same  household_overlap_ln  \
150828    2.567407         0         1                     0
105115    2.511111         1         0                     0
97626     2.511111         2         0                     0

        household_overlap_fn  total_weighted
150828                     1       13.971852
105115                     0       13.577778
97626                      0        9.577778
SAMUEL
MORGAN
32
{'MARTHA', 'WILLIE MAY', 'SAMUEL', 'WM H'}
{'MORGAN', 'HAZARD'}
                                          id         SERIAL  NAMEFRST  \
8333    ad0259a0-51b3-4b78-9997-b1eaab93c688   429254305597  SAMUEL W
14272   a0c2392e-8df6-48a4-8ace-4a3deef26eb1  6001907652485   SARAH E
137031  c9832fcd-90e4-4610-ac61-9f9df365cc29     3042809046   SARAH E

       NAMELAST  AGE  SEX  BPL                   NAMEFRST_household  \
8333     MORGAN   43    1   10                {WILLIAM H, SAMUEL W}
14272    MORGAN   41    2   10                            {SARAH E}
137031   MORGAN   41    2   10  {EZEKIEL, SARAH E, ROBERT, WILLIAM}

       NAMELAST_household  ln_dist   fn_dist  total_dist  age_diff  sex_same  \
8333    {MORGAN, HAZZARD}      1.0  0.950000    2.950000         1         0
14272            {MORGAN}      1.0  0.642857    2.642857         1         1
137031           {MORGAN}      1.0  0.642857    2.642857         1         1

        household_overlap_ln  household_overlap_fn  total_weighted
8333                       1                     0           19.65
14272                      1                     0           11.50
137031                     1                     0           11.50
J CLAUSON
MCFARLAND
20
{'EUGENE', 'J CLAUSON'}
{'MCFARLAND'}
                                          id         SERIAL NAMEFRST  \
125791  f37566db-7cf0-4e93-ab52-84824c4110eb    23207809046  FRANCIS
43535   1ba959d2-53c1-4b47-bcf4-07999b4dcfd1  1351611554552      J C
99300   5ef7e217-351a-4357-91dc-1645ccfbc6dd    25292809046   SAMUEL

             NAMELAST  AGE  SEX  BPL       NAMEFRST_household  \
125791      MC FARLIN   30    1   10   {ANNIE, FRANCIS, MARY}
43535   MC FARLARLAND   28    1   10                    {J C}
99300      MC FARLAND   28    1   10  {MARY, SAMUEL, LEONARD}

           NAMELAST_household   ln_dist   fn_dist  total_dist  age_diff  \
125791            {MC FARLIN}  0.881481  0.476190    2.239153         0
43535         {MC FARLARLAND}  0.917949  0.777778    2.613675         2
99300   {SIMPSON, MC FARLAND}  0.973333  0.444444    2.391111         2

        sex_same  household_overlap_ln  household_overlap_fn  total_weighted
125791         0                     0                     0       15.674074
43535          0                     0                     0       10.295726
99300          0                     0                     0        8.737778
EUGENE
MCFARLAND
18
{'EUGENE', 'J CLAUSON'}
{'MCFARLAND'}
                                          id         SERIAL NAMEFRST  \
99300   5ef7e217-351a-4357-91dc-1645ccfbc6dd    25292809046   SAMUEL
20752   08056709-4b3b-4931-b0d8-347ca7becaf6  2876417652485   EUGENE
117160  afa850a7-a825-4f51-8e68-c6eae58ec64d    25166809046  MANLOVE

          NAMELAST  AGE  SEX  BPL       NAMEFRST_household  \
99300   MC FARLAND   28    1   10  {MARY, SAMUEL, LEONARD}
20752     MC BRIDE   29    1   10         {EUGENE, RACHEL}
117160  MC FARLAND   27    1   10    {MANLOVE, MARY, JANE}

           NAMELAST_household   ln_dist   fn_dist  total_dist  age_diff  \
99300   {SIMPSON, MC FARLAND}  0.973333  0.555556    2.502222         0
20752              {MC BRIDE}  0.648148  1.000000    2.296296         1
117160           {MC FARLAND}  0.973333  0.539683    2.486349         1

        sex_same  household_overlap_ln  household_overlap_fn  total_weighted
99300          0                     0                     0       17.515556
20752          0                     0                     1       14.074074
117160         0                     0                     0       13.404444
ANNA
PRESTON
39
{'ANNA'}
{'PRESTON'}
                                         id         SERIAL NAMEFRST NAMELAST  \
43504  3203952f-37b7-4b80-8e13-4e662c4779d6  1340111554552   ANNA E  PRESTON
16015  db7f8958-a89a-4568-b188-111935705e42  7023137652485    ANNIE  PEARSON
25253  ba02b4ee-2da8-4226-ad93-fd5150866ffc      599809046    ANNIE  PRESTON

       AGE  SEX  BPL           NAMEFRST_household         NAMELAST_household  \
43504   48    2   10                     {ANNA E}                  {PRESTON}
16015   49    2   10                   {H, ANNIE}          {PEARSON, WILCOX}
25253   45    2   10  {EMMA, MARY, ANNIE, THOMAS}  {ENNIS, PRESTON, WALLACE}

        ln_dist   fn_dist  total_dist  age_diff  sex_same  \
43504  1.000000  0.933333    2.933333         1         0
16015  0.864286  0.848333    2.576905         0         0
25253  1.000000  0.848333    2.848333         4         0

       household_overlap_ln  household_overlap_fn  total_weighted
43504                     1                     0       19.533333
16015                     0                     0       18.038333
25253                     1                     0        6.938333
REBECCA N
ALEXANDER
49
{'REBECCA N'}
{'ALEXANDER'}
                                         id         SERIAL NAMEFRST  \
3011   87f03a87-fc70-4b9d-a9de-ae83e78278c1  3531822157662  REBECKA
14126  5b347561-86a7-4d14-86cb-5d6a24effa87  5986597652485    ELIZH
55215  e1fbe0f4-0f45-4845-8315-0d37a33c8f71    20618809046   MARY J

        NAMELAST  AGE  SEX  BPL       NAMEFRST_household   NAMELAST_household  \
3011    CHANDLER   59    2   10                {REBECKA}           {CHANDLER}
14126  ALEXANDER   60    2   10                  {ELIZH}          {ALEXANDER}
55215  ALEXANDER   57    2   10  {JOHN, MELINDA, MARY J}  {ALEXANDER, FRISBY}

        ln_dist   fn_dist  total_dist  age_diff  sex_same  \
3011   0.726852  0.904762    2.358466         0         0
14126  1.000000  0.437037    2.437037         1         0
55215  1.000000  0.518519    2.518519         2         0

       household_overlap_ln  household_overlap_fn  total_weighted
3011                      0                     0       16.509259
14126                     1                     0       16.059259
55215                     1                     0       12.629630
MARTHA
ELLIS
37
{'MARTHA'}
{'ELLIS'}
                                         id         SERIAL NAMEFRST NAMELAST  \
37978  03cb336b-d9ba-41e8-8ed1-a8afa0a346f3  1716833643712  SARAH A    ELLIS
30112  f3bdced9-cc6f-4eef-af4a-4c826ce9467a  2028112157662    SARAH    ELLIS
98027  fccff1ab-4ef7-4c5d-b355-09d26449c0b1    26960809046     MARY  ELLISON

       AGE  SEX  BPL                                 NAMEFRST_household  \
37978   47    2   10                                  {NELLIE, SARAH A}
30112   49    2   10                                            {SARAH}
98027   49    2   10  {ELLEN, LOTTIE, HARRY, WILLIAM, KATE, MARY, FR...

       NAMELAST_household   ln_dist   fn_dist  total_dist  age_diff  sex_same  \
37978      {MOORE, ELLIS}  1.000000  0.662698    2.662698         0         0
30112             {ELLIS}  1.000000  0.738889    2.738889         2         0
98027  {ELLISON, HEMLESY}  0.942857  0.825000    2.710714         2         0

       household_overlap_ln  household_overlap_fn  total_weighted
37978                     1                     0       21.638889
30112                     1                     0       14.172222

98027                     0                     0       10.975000
OTILLIA
ZEIDER
34
{'OTILLIA'}
{'ZEIDER'}
                                          id         SERIAL  NAMEFRST  \
59834   69ef5d0c-04b4-41f8-9641-bf58f37c5272  1541961554552    OTELLA
129966  ec3c7350-a325-4cc6-b888-b249b409dc92    12990809046  CASTILLA
126798  2d9ddd90-2653-45d9-963a-11dd056b7ee9     5350809046   WILLIAM

         NAMELAST  AGE  SEX  BPL  \
59834     ZEIGLER   43    2   10
129966     KINDER   42    2   10
126798  HENDERSON   45    1   10

                                       NAMEFRST_household  \
59834                                            {OTELLA}
129966                {WARREN, CASTILLA, BRYARD, KATHI J}
126798  {JOHN, KATIE, MARTHA, WILLIAM, JAMES H, ANNIE,...

                   NAMELAST_household   ln_dist   fn_dist  total_dist  \
59834                       {ZEIGLER}  0.894444  0.879365    2.668254
129966       {KINDER, CANNON, BOSMAN}  0.777778  0.779762    2.335317
126798  {BUTCHER, HENDERSON, DOWNHAM}  0.703704  0.809524    2.216931

        age_diff  sex_same  household_overlap_ln  household_overlap_fn  \
59834          1         0                     0                     0
129966         2         0                     0                     0
126798         1         1                     0                     0

        total_weighted
59834        14.677778
129966        8.347222
126798        5.518519
MARY
DOYLE
64
{'MARY'}
{'DOYLE'}
                                         id         SERIAL NAMEFRST  NAMELAST  \
57199  f4406043-4b24-485c-88b4-15e1bdbf78bc  5747277652485     MARY      BOYS
48489  41411ab5-a538-4d38-bc49-f4e9e13f33b7     2990809046     MARY  SHOCKLEY
31377  7e3308bd-add8-4647-bcfa-61e97cc4e5d7  1737944452919     MARY     DOLAN

       AGE  SEX  BPL            NAMEFRST_household  \
57199   74    2   10  {MARY, AQUILA, JOHN, MARY E}
48489   76    2   10                        {MARY}
31377   78    2   10                        {MARY}

                     NAMELAST_household   ln_dist  fn_dist  total_dist  \
57199  {BOYS, KOHLERMAN, RYAN, NEBEKER}  0.633333      1.0    2.266667
48489                        {SHOCKLEY}  0.658333      1.0    2.316667
31377                           {DOLAN}  0.786667      1.0    2.573333

       age_diff  sex_same  household_overlap_ln  household_overlap_fn  \
57199         0         0                     0                     1
48489         2         0                     0                     1
31377         4         0                     0                     1

       total_weighted
57199       17.866667
48489       10.216667
31377        4.013333
G S
TRUMBULL
32
{'G S'}
{'TRUMBULL'}
                                          id        SERIAL NAMEFRST NAMELAST  \
89367   410c91c8-8737-40d1-a111-8afeea3c14fb   10184809046    ISAAC  BRUMBLY
118571  a656967c-a175-40be-8642-a9b132bb556b   11824809046      E M  TUILLEY
10604   b36e4dae-cbc0-43ce-92fe-34cd8985d25c  777729397009      A C  RUSSELL

        AGE  SEX  BPL                        NAMEFRST_household  \
89367    42    1   10  {NICY, WILLIAM J, REBECCA, ISAAC, ALICE}
118571   42    1   10      {T B, EDMAND A, M E, JENETTE S, E M}
10604    40    2   10                                     {A C}

       NAMELAST_household   ln_dist   fn_dist  total_dist  age_diff  sex_same  \
89367           {BRUMBLY}  0.779762  0.511111    2.070635         0         0
118571   {TUILLEY, JONES}  0.690476  0.555556    1.936508         0         0
10604           {RUSSELL}  0.690476  0.555556    1.936508         2         1

        household_overlap_ln  household_overlap_fn  total_weighted
89367                      0                     0       14.494444
118571                     0                     0       13.555556
10604                      0                     0       -0.444444
LINA
AMET
25
{'LINA'}
{'AMET'}
                                          id         SERIAL   NAMEFRST  \
126667  f5d50a84-1036-411d-8a36-c57127a22be9     5325809046       TINA
42117   86005452-eb76-4384-8c9a-1ac4ccc2dd25  5890697652485  ELIZABETH
94328   1af3cfba-2f8f-4849-88d2-a0d20b4a941e  2847227652485   MARY A S

       NAMELAST  AGE  SEX  BPL  \
126667   FLAMER   34    2   10
42117   AMERICA   34    2   10
94328      AMET   38    2   10

                                       NAMEFRST_household  \
126667  {TINA, WILLIE, MARTHA, EVELINE, GERTRUDE, JOSE...
42117                            {ROBT, FANNY, ELIZABETH}
94328                                   {ANN W, MARY A S}

                         NAMELAST_household   ln_dist   fn_dist  total_dist  \
126667  {FLAMER, ALEXANDER, FISHER, SAMSON}  0.750000  0.833333    2.333333
42117                  {HAMBLETON, AMERICA}  0.808333  0.694444    2.311111
94328                       {SIMPSON, AMET}  1.000000  0.458333    2.458333

        age_diff  sex_same  household_overlap_ln  household_overlap_fn  \
126667         1         0                     0                     0
42117          1         0                     0                     0
94328          3         0                     1                     0

        total_weighted
126667       12.333333
42117        12.177778
94328         8.208333
THOMAS J
WOOD
27
{'THOMAS J'}
{'WOOD'}
                                        id         SERIAL NAMEFRST NAMELAST  \
8388  58279a15-79bc-4783-a504-e0b1b7c74f23  1381753643712  CHARLES     WOOD
6877  cadf8ae8-5d49-4ff8-8d61-80609906f42c  2063245604765     CHAS  WOODLEY
2124  13112c18-40a8-44b3-824c-7e7efd079429  4623187652485    JAMES     WOOD

      AGE  SEX  BPL NAMEFRST_household NAMELAST_household   ln_dist   fn_dist  \
8388   38    1   10   {CHARLES, ALICE}             {WOOD}  1.000000  0.601190
6877   36    1   10             {CHAS}          {WOODLEY}  0.914286  0.708333
2124   35    1   10    {HANNAH, JAMES}             {WOOD}  1.000000  0.547222

      total_dist  age_diff  sex_same  household_overlap_ln  \
8388    2.601190         1         0                     1
6877    2.536905         1         0                     0
2124    2.547222         2         0                     1

      household_overlap_fn  total_weighted
8388                     0       17.208333
6877                     0       13.758333
2124                     0       12.830556
JANE M
KERNER
25
{'JANE M'}
{'KERNER'}
                                          id         SERIAL NAMEFRST NAMELAST  \
115980  906809ad-708c-4600-9f6a-99579a9ab053    24814809046     JANE   TURNER
859     e6c046a3-6a27-4846-ad00-6b01d6d23beb  2831477652485     JANE   TURNER
39485   65068fb3-b0f5-4ea5-994c-7cd695a9eab8  5674297652485   MARY H     KERN

        AGE  SEX  BPL                                 NAMEFRST_household  \
115980   35    2   10  {WILLIAM, LOUISA, GEORGE, WASHINGTON, JANE, EMMA}
859      36    2   10                                             {JANE}
39485    32    2   10                                           {MARY H}

       NAMELAST_household   ln_dist   fn_dist  total_dist  age_diff  sex_same  \
115980   {TURNER, NEWTON}  0.777778  0.933333    2.488889         0         0
859              {TURNER}  0.777778  0.933333    2.488889         1         0
39485              {KERN}  0.933333  0.555556    2.422222         3         0

        household_overlap_ln  household_overlap_fn  total_weighted
115980                     0                     0       17.422222
859                        0                     0       13.422222
39485                      0                     0        4.955556
R M
TAYLOR
25
{'R M'}
{'TAYLOR'}
                                         id        SERIAL   NAMEFRST NAMELAST  \
55106  8bd1feee-6f7c-4831-9da3-ca7481ff99e0   20583809046  MARY JANE   TAYLOR
78919  d951d5a8-e9af-4521-9ffc-12094fb7d10c   16047809046       EMMA   TAYLOR
42586  f975c62f-6fed-49f3-96b4-6e3a6ae30cc5  191975604765     MARY A   TAYLOR

       AGE  SEX  BPL                       NAMEFRST_household  \
55106   35    2   10  {HETTIE, THOMAS S, MARY JANE, JOSEPH L}
78919   33    2   10              {EMMA, LILLIAN, JOHN, MARY}
42586   37    2   10                                 {MARY A}

      NAMELAST_household  ln_dist   fn_dist  total_dist  age_diff  sex_same  \
55106    {SLACK, TAYLOR}      1.0  0.611111    2.611111         0         0
78919           {TAYLOR}      1.0  0.527778    2.527778         2         0
42586           {TAYLOR}      1.0  0.500000    2.500000         2         0

       household_overlap_ln  household_overlap_fn  total_weighted
55106                     1                     0       21.277778
78919                     1                     0       12.694444

42586                     1                     0       12.500000
N B
BARLOW
36
{'N B'}
{'BARLOW'}
                                          id         SERIAL  NAMEFRST  \
128648  e127e4bf-be95-40ae-a7e6-4949aa7d616d     6041809046      NOAH
18352   bb72224e-bbf4-4e51-a6dc-9092c1ce51f7  6382847652485     NANCY
19574   ecd8d072-7256-4f34-8eb8-f018d20bd4f8   458825432773  ROBERT C

       NAMELAST  AGE  SEX  BPL NAMEFRST_household NAMELAST_household  \
128648    BROWN   45    1   10       {NOAH, BABY}   {HUSTTON, BROWN}
18352     BROWN   46    2   10            {NANCY}            {BROWN}
19574   BARROWS   48    1   10         {ROBERT C}          {BARROWS}

         ln_dist   fn_dist  total_dist  age_diff  sex_same  \
128648  0.840000  0.527778    2.207778         1         0
18352   0.840000  0.511111    2.191111         0         1
19574   0.894444  0.486111    2.275000         2         0

        household_overlap_ln  household_overlap_fn  total_weighted
128648                     0                     0       11.454444
18352                      0                     0        9.337778
19574                      0                     0        7.925000
EUGENE
JEFFERSON
23
{'EUGENE'}
{'JEFFERSON'}
                                          id       SERIAL    NAMEFRST  \
74152   694a913b-a6b3-45d9-a34f-ec932a699f74     50809046      GEORGE
35843   553c0571-7e2f-48dd-ae57-e2e2b066eec7  11023809046  CLEMENTINE
120277  a3b90a5c-4c83-4a78-bb4f-9e50e09e5a2f   9819809046    SALLIE E

         NAMELAST  AGE  SEX  BPL                        NAMEFRST_household  \
74152   JEFFERSON   31    1   10                 {GEORGE, ALFRED, LAVENIA}
35843   JEFFERSON   34    2   10  {ROBERT R, ANNIE B, BERTHIA, CLEMENTINE}
120277  JEFFERSON   34    2   10               {JOHN S, SALLIE E, LAURA B}

         NAMELAST_household  ln_dist   fn_dist  total_dist  age_diff  \
74152           {JEFFERSON}      1.0  0.555556    2.555556         2
35843   {WILSON, JEFFERSON}      1.0  0.688889    2.688889         1
120277          {JEFFERSON}      1.0  0.527778    2.527778         1

        sex_same  household_overlap_ln  household_overlap_fn  total_weighted
74152          0                     1                     0       12.888889
35843          1                     1                     0       11.822222
120277         1                     1                     0       10.694444
CHARLES
HOOPER
24
{'CHARLES'}
{'HOOPER'}
                                          id         SERIAL   NAMEFRST  \
17563   7d5fc4cb-8c2f-40cc-90e8-22fb2e73197c  1004865884791    CHARLES
9795    51e639d1-afa2-4b8e-98a4-0c0396812cbd  1060243643712  CHARLES A
130519  af483537-2c6d-49f1-a861-11e2bec05523    24623809046  CHARLOTTE

       NAMELAST  AGE  SEX  BPL                  NAMEFRST_household  \
17563    HOOPER   36    1   10                           {CHARLES}
9795     COOPER   32    1   10                         {CHARLES A}
130519   COOPER   33    2   10  {VIRGINIA, ALEXANDER B, CHARLOTTE}

       NAMELAST_household   ln_dist   fn_dist  total_dist  age_diff  sex_same  \
17563            {HOOPER}  1.000000  1.000000    3.000000         2         0
9795             {COOPER}  0.888889  0.955556    2.733333         2         0
130519           {COOPER}  0.888889  0.904762    2.682540         1         1

        household_overlap_ln  household_overlap_fn  total_weighted
17563                      1                     1       18.000000
9795                       0                     0       11.133333
130519                     0                     0        8.777778
JAS V Z
BLANEY
50
{'ELIZABETH R', 'JAS V Z'}
{'BLANEY'}
                                         id         SERIAL NAMEFRST NAMELAST  \
33862  02e38385-54db-4fe1-b93e-16116c06677e   161559418195    JAMES  DELANEY
69900  b54fed83-f83b-4acf-8d02-2997181a7285    13404809046    JAMES   BLADES
21307  961ca851-1617-44ee-8af9-4043a0e8e28d  2909857652485   JOHN B   BARNEY

       AGE  SEX  BPL NAMEFRST_household NAMELAST_household   ln_dist  \
33862   60    1   10            {JAMES}          {DELANEY}  0.849206
69900   62    1   10            {JAMES}           {BLADES}  0.844444
21307   58    1   10           {JOHN B}           {BARNEY}  0.900000

        fn_dist  total_dist  age_diff  sex_same  household_overlap_ln  \
33862  0.676190    2.374603         0         0                     0
69900  0.676190    2.365079         2         0                     0
21307  0.539683    2.339683         2         0                     0

       household_overlap_fn  total_weighted
33862                     0       16.622222
69900                     0        8.555556
21307                     0        8.377778
ELIZABETH R
BLANEY
70
{'ELIZABETH R', 'JAS V Z'}
{'BLANEY'}
                                         id         SERIAL   NAMEFRST  \
87674  9fb28d77-dfb0-4843-a4de-f1ac1942a223  6126397652485  ELIZABETH
43396  bc831ab1-a2c9-4da2-ba6c-d3fb1547113f  1310623643712  ELIZABETH
73109  5edd2545-aace-4e74-9c2d-5c5173c6780a  1376513643712      ELIZA

      NAMELAST  AGE  SEX  BPL  NAMEFRST_household NAMELAST_household  \
87674    BARRY   80    2   10  {HELEN, ELIZABETH}    {BARRY, CHIPPY}
43396   FINLEY   80    2   10         {ELIZABETH}           {FINLEY}
73109    BAKER   80    2   10             {ELIZA}            {BAKER}

        ln_dist   fn_dist  total_dist  age_diff  sex_same  \
87674  0.730000  0.963636    2.423636         0         0
43396  0.694444  0.963636    2.352525         0         0
73109  0.730000  0.890909    2.350909         0         0

       household_overlap_ln  household_overlap_fn  total_weighted
87674                     0                     0       16.965455
43396                     0                     0       16.467677
73109                     0                     0       16.456364
MARTHA
ROOD
46
{'MARTHA'}
{'ROOD'}
                                         id         SERIAL NAMEFRST NAMELAST  \
37657  8232cc53-8e09-4564-8f8f-786a981841fb  1702541554552   MARTHA     ROOD
77272  ca44b991-5c33-4ec0-a9ca-adf899b841d9     2345604765   MARTHA   RODNEY
15511  4f50c662-a5b0-4a03-8acd-e3471ed4c6cf  6965677652485     MARY   RODNEY

       AGE  SEX  BPL NAMEFRST_household NAMELAST_household  ln_dist  fn_dist  \
37657   56    2   10           {MARTHA}             {ROOD}      1.0    1.000
77272   55    2   10           {MARTHA}           {RODNEY}      0.8    1.000
15511   55    2   10             {MARY}           {RODNEY}      0.8    0.825

       total_dist  age_diff  sex_same  household_overlap_ln  \
37657       3.000         0         0                     1
77272       2.600         1         0                     0
15511       2.425         1         0                     0

       household_overlap_fn  total_weighted
37657                     1          26.000
77272                     1          16.200
15511                     0          12.975
JOHN
COLBURN
55
{'JOHN'}
{'COLBURN'}
                                         id         SERIAL  NAMEFRST  \
5272   df27fe55-e767-4143-93f9-3b9a1ea90bac  1115843643712  ELIJAH J
55810  2e71f42c-d876-42a7-aeba-e6339f6cb7b9     9870809046    JOHN P
27223  818024b9-75aa-4a6e-9863-8291e095d0fb  5848377652485  JONATHAN

       NAMELAST  AGE  SEX  BPL   NAMEFRST_household NAMELAST_household  \
5272   COLBOURN   65    1   10  {SARAH A, ELIJAH J}         {COLBOURN}
55810   COLLINS   65    1   10      {JOHN P, LETTY}          {COLLINS}
27223      COLE   64    1   10           {JONATHAN}             {COLE}

        ln_dist   fn_dist  total_dist  age_diff  sex_same  \
5272   0.975000  0.583333    2.533333         0         0
55810  0.800000  0.933333    2.533333         0         0
27223  0.808333  0.800000    2.416667         1         0

       household_overlap_ln  household_overlap_fn  total_weighted
5272                      0                     0       17.733333
55810                     0                     0       17.733333

27223                     0                     0       12.916667
JOSEPH
WHORTAN
45
{'LONNE', 'AMNIE', 'HATTIE', 'WILLIAM', 'JOSEPH', 'CHARLES'}
{'WHORTAN'}
                                         id         SERIAL NAMEFRST NAMELAST  \
99964  f5bde67a-4cb2-401a-ac56-a28727271a4f      861809046   JOSHUA  WHARTON
19731  b6874440-737a-43af-8d82-e5de9c9577db    47770636367   JOSEPH    WHITE
15103  6e5af4ae-58e1-4b63-be32-3a0f31fd1f90  3058271554552   JOSEPH  WHORTON

       AGE  SEX  BPL                                 NAMEFRST_household  \
99964   54    1   10  {JOSHUA, EMILY, WILLIAM, ELIZABETH, JAMES, MAR...
19731   54    1   10                                           {JOSEPH}
15103   58    1   10                                  {JOSEPH, LOURINA}

             NAMELAST_household   ln_dist   fn_dist  total_dist  age_diff  \
99964  {SMITH, GRAVES, WHARTON}  0.847619  0.844444    2.539683         1
19731                   {WHITE}  0.676190  1.000000    2.352381         1
15103                 {WHORTON}  0.942857  1.000000    2.885714         3

       sex_same  household_overlap_ln  household_overlap_fn  total_weighted
99964         0                     0                     1       15.777778
19731         0                     0                     1       14.466667
15103         0                     0                     1       10.200000
HATTIE
WHORTAN
16
{'LONNE', 'AMNIE', 'HATTIE', 'WILLIAM', 'JOSEPH', 'CHARLES'}
{'WHORTAN'}
                                          id        SERIAL    NAMEFRST  \
22616   879df8ff-c86d-4a42-9183-a345e28b4ee8  295805432773      HATTIE
73595   8c3736cb-4640-43ac-8190-54eb1d75ecbe    8730809046      LIZZIE
110141  254f50b4-2feb-4037-b7d5-aa3fdac1d893    4382809046  HARRIETT L

       NAMELAST  AGE  SEX  BPL  \
22616     WHITE   26    2   10
73595   WHORTON   28    2   10
110141    SHORT   24    2   10

                                       NAMEFRST_household NAMELAST_household  \
22616                                            {HATTIE}            {WHITE}
73595                    {LAURA, EDWARD, LIZZIE, WILLIAM}          {WHORTON}
110141  {FREDDIE C, HARRIETT L, ISAAC W, JAMES E, JOHN...            {SHORT}

         ln_dist   fn_dist  total_dist  age_diff  sex_same  \
22616   0.676190  1.000000    2.352381         0         0
73595   0.942857  0.555556    2.441270         2         0
110141  0.790476  0.804444    2.385397         2         0

        household_overlap_ln  household_overlap_fn  total_weighted
22616                      0                     1       18.466667
73595                      0                     1       11.088889
110141                     0                     0        8.697778
LONNE
WHORTAN
41
{'LONNE', 'AMNIE', 'HATTIE', 'WILLIAM', 'JOSEPH', 'CHARLES'}
{'WHORTAN'}
                                         id         SERIAL NAMEFRST NAMELAST  \
15104  6e179e3c-ea4e-405d-9894-6e496c374f5d  3058271554552  LOURINA  WHORTON
99925  3b28544e-a248-4b27-a52b-292d892d2ab9      855809046    ANN E  WHARTON
73628  5a2cc702-25c8-48c1-b316-df76e2c04760     8738809046    IRENE  WHORTON

       AGE  SEX  BPL                                 NAMEFRST_household  \
15104   50    2   10                                  {JOSEPH, LOURINA}
99925   53    2   10  {CHARLES, ANNA, ANN E, FRANK, MAUD, GEORGE, EL...
73628   53    2   10  {JOSHUA, THOMAS J, BELLE, DANIEL, IDA, IRENE, ...

                                    NAMELAST_household   ln_dist   fn_dist  \
15104                                        {WHORTON}  0.942857  0.676190
99925  {PASKINS, MC LANE, LOAT, HENRY, WHARTON, CRAIN}  0.847619  0.733333
73628                                        {WHORTON}  0.942857  0.600000

       total_dist  age_diff  sex_same  household_overlap_ln  \
15104    2.561905         1         0                     0
99925    2.428571         2         0                     0
73628    2.485714         2         0                     0

       household_overlap_fn  total_weighted
15104                     1       15.933333
99925                     1       11.000000
73628                     0        9.400000
CHARLES
WHORTAN
20
{'LONNE', 'AMNIE', 'HATTIE', 'WILLIAM', 'JOSEPH', 'CHARLES'}
{'WHORTAN'}
                                         id       SERIAL NAMEFRST NAMELAST  \
49763  eff0218d-b47b-47cc-bea4-721535605147  22046809046  CHARLES   MORGAN
99956  b9750a26-b701-40d4-8af5-b88581b0520b    860809046  CHARLES  WHARTON
97447  31c62750-5c0b-44f2-91f4-05166479932f  17632809046  CHARLES    THORN

       AGE  SEX  BPL                                 NAMEFRST_household  \
49763   30    1   10   {MINUS, JAMES H, JAMES, IDA E, CHARLES, REBECCA}
99956   32    1   10  {EMILY, MARTHA, EUGENE, WILLIAM, ANNIE, ELIZAB...
97447   28    1   10  {CHARLES, HENERY, AGNESS, JAMES, THOMAS, CATHA...

                    NAMELAST_household   ln_dist  fn_dist  total_dist  \
49763                  {MORGAN, LYNCH}  0.746032      1.0    2.492063
99956              {WHARTON, SHOCKLEY}  0.847619      1.0    2.695238
97447  {LEFEVERE, THORN, FOX, MONKTON}  0.790476      1.0    2.580952

       age_diff  sex_same  household_overlap_ln  household_overlap_fn  \
49763         0         0                     0                     1
99956         2         0                     0                     2
97447         2         0                     0                     1

       total_weighted
49763       19.444444
99956       14.866667
97447       12.066667
WILLIAM
WHORTAN
14
{'LONNE', 'AMNIE', 'HATTIE', 'WILLIAM', 'JOSEPH', 'CHARLES'}
{'WHORTAN'}
                                          id         SERIAL   NAMEFRST  \
115460  22b3494b-8c95-4ced-8a52-932dda9aadc4     9111809046    WILLIAM
41646   5c11c3a6-91dc-47bc-a376-36ae0d4c2618  5867347652485    WILLIAM
73815   254e4082-8b95-4ed7-8cd5-ec9e01c1c9f3     8779809046  WILLIAM S

       NAMELAST  AGE  SEX  BPL  \
115460    SHORT   23    1   10
41646     DORAN   25    1   10
73815    WHOTEN   23    1   10

                                       NAMEFRST_household  \
115460  {JOHN W, WILLIAM, WILLIAM S, GEORGE, JULIA, SP...
41646                                     {JOHN, WILLIAM}
73815                {SARAH E, ROBERT, WILLIAM S, NEMIMA}

                       NAMELAST_household   ln_dist   fn_dist  total_dist  \
115460  {SHORT, PHILLIPS, MEXICO, TINGLE}  0.790476  1.000000    2.580952
41646                      {IRONS, DORAN}  0.790476  1.000000    2.580952
73815                    {WHOTEN, WROTEN}  0.894444  0.955556    2.744444

        age_diff  sex_same  household_overlap_ln  household_overlap_fn  \
115460         1         0                     0                     1
41646          1         0                     0                     1
73815          1         0                     0                     0

        total_weighted
115460       16.066667
41646        16.066667
73815        15.211111
AMNIE
WHORTAN
18
{'LONNE', 'AMNIE', 'HATTIE', 'WILLIAM', 'JOSEPH', 'CHARLES'}
{'WHORTAN'}
                                          id         SERIAL NAMEFRST  \
73595   8c3736cb-4640-43ac-8190-54eb1d75ecbe     8730809046   LIZZIE
11528   575d68a0-cba7-48eb-bc35-7c7b494e4a87  1042283643712  ANNIE J
115173  80e2f63a-f88e-4e0d-a8b4-e326e2b80500     9052809046   DANIEL

        NAMELAST  AGE  SEX  BPL                            NAMEFRST_household  \
73595    WHORTON   28    2   10              {LAURA, EDWARD, LIZZIE, WILLIAM}
11528   WHITEMAN   27    2   10           {LEMUEL, GEORGE, ANNIE J, BENJAMIN}
115173     SHORT   27    1   10  {DANIEL, MARY M E, ALLACE M, CYRUS Q, JAMES}

               NAMELAST_household   ln_dist   fn_dist  total_dist  age_diff  \
73595                   {WHORTON}  0.942857  0.577778    2.463492         0
11528                  {WHITEMAN}  0.823810  0.811429    2.459048         1
115173  {SHORT, NICHOLSON, JONES}  0.790476  0.822222    2.403175         1

        sex_same  household_overlap_ln  household_overlap_fn  total_weighted
73595          0                     0                     1       19.244444
11528          0                     0                     0       13.213333

115173         1                     0                     0        6.822222
LETICIA
THACKER
55
{'LETICIA'}
{'THACKER'}
                                          id        SERIAL NAMEFRST  NAMELAST  \
19779   272fd097-388e-480c-ad71-80353924c9fc  484365432773  LATITIA   THACKER
124282  4ca4b6f0-d4fe-4877-9cba-e8d50a2791b5   20820809046  LYDIA C  THATCHER
92287   0079e797-98db-491c-867c-c1ff34ac7451   92786967832    ELIZA    TABLER

        AGE  SEX  BPL                    NAMEFRST_household  \
19779    65    2   10                             {LATITIA}
124282   66    2   10  {CORNELIA, MELVINA, ALBERT, LYDIA C}
92287    63    2   10                               {ELIZA}

                   NAMELAST_household   ln_dist   fn_dist  total_dist  \
19779                       {THACKER}  1.000000  0.828571    2.828571
124282  {EN---KIN, ENTNKIN, THATCHER}  0.908333  0.630952    2.447619
92287                        {TABLER}  0.771429  0.707143    2.250000

        age_diff  sex_same  household_overlap_ln  household_overlap_fn  \
19779          0         0                     1                     0
124282         1         0                     0                     0
92287          2         0                     0                     0

        total_weighted
19779        22.800000
124282       13.133333
92287         7.750000
LOUISA
WILSON
42
{'LOUISA'}
{'WILSON'}
                                          id         SERIAL NAMEFRST NAMELAST  \
136975  d47c529c-858a-4cbc-a822-70e7089d078d     3028809046    JULIA   WILSON
56529   0dc93d24-2c72-4ea1-a2ee-c5a92ebf0ec0  5695037652485   ELIJAH   WILSON
5489    f2504c15-bfec-4eea-9607-6e524bf6e5c9  1133873643712    LYDIA   WILSON

        AGE  SEX  BPL                                NAMEFRST_household  \
136975   52    2   10  {JAMES E, EDWARD, MARY L, JULIA, THOMAS, ANTONY}
56529    52    1   10                                          {ELIJAH}
5489     49    2   10                                           {LYDIA}

              NAMELAST_household  ln_dist   fn_dist  total_dist  age_diff  \
136975  {WILSON, SORDEN, THOMAS}      1.0  0.738889    2.738889         0
56529                   {WILSON}      1.0  0.666667    2.666667         0
5489                    {WILSON}      1.0  0.730000    2.730000         3

        sex_same  household_overlap_ln  household_overlap_fn  total_weighted
136975         0                     1                     0       22.172222
56529          1                     1                     0       15.666667
5489           0                     1                     0       10.110000
JERRY
MYERS
36
{'JERRY'}
{'MYERS'}
                                         id         SERIAL NAMEFRST  NAMELAST  \
31927  a53406df-612a-47bd-8c4b-04b2aa34ddc7  1782531231038  SARAH A     MYERS
4993   d89e17cf-01fe-408e-95a1-83bbe79477da  2440756967832   GEORGE     MYERS
59056  5b7ed763-5ebd-4c10-aea4-dba023435f84    22234809046    PERRY  CHAMBERS

       AGE  SEX  BPL NAMEFRST_household NAMELAST_household   ln_dist  \
31927   46    2   10          {SARAH A}            {MYERS}  1.000000
4993    44    1   10           {GEORGE}            {MYERS}  1.000000
59056   45    1   10  {PERRY, CAROLINE}         {CHAMBERS}  0.766667

        fn_dist  total_dist  age_diff  sex_same  household_overlap_ln  \
31927  0.447619    2.447619         0         1                     1
4993   0.577778    2.577778         2         0                     1
59056  0.866667    2.400000         1         0                     0

       household_overlap_fn  total_weighted
31927                     0       14.133333
4993                      0       13.044444
59056                     0       12.800000
ELLEN
MCLEAVEY
21
{'ELLEN'}
{'MCLEAVEY'}
                                         id         SERIAL   NAMEFRST  \
97708  cc8ceb38-487e-42ff-82ed-f554df0b3906    17719809046      HELEN
42223  1207439b-df58-434c-bebc-73b536ea7de6  5897247652485      ELLEN
91607  529e3699-1904-44dd-89a0-caf39d0e6853    19024809046  ELIZABETH

      NAMELAST  AGE  SEX  BPL  \
97708    MCVAY   30    2   10
42223  MOSELEY   33    2   10
91607  CLEAVER   33    2   10

                                      NAMEFRST_household  \
97708  {HELEN, ETTA, GEORGE D, CATHRINE E, MARY C, JO...
42223                                            {ELLEN}
91607                              {CARRIE E, ELIZABETH}

                             NAMELAST_household   ln_dist   fn_dist  \
97708  {FLEMING, DAYKNE, MILLER, MCVAY, MAILLY}  0.846667  0.866667
42223                                 {MOSELEY}  0.741786  1.000000
91607                         {BISCOE, CLEAVER}  0.869048  0.644444

       total_dist  age_diff  sex_same  household_overlap_ln  \
97708    2.560000         1         0                     0
42223    2.483571         2         0                     0
91607    2.382540         2         0                     0

       household_overlap_fn  total_weighted
97708                     0       13.920000
42223                     1       11.385000
91607                     0        8.677778
WM
MCFARLANE
45
{'WM'}
{'MCFARLANE'}
                                         id         SERIAL   NAMEFRST  \
38648  21a2a9dc-429f-4f32-be41-3ae51fb916f6  1900831554552  WILLIAM W
1169   fd923cf9-953d-44a2-9fbd-8628c92e17d5  7248617652485       MARY
37178  847ea378-1278-4531-8cc2-117ca10c42b4   942613643712       WM H

         NAMELAST  AGE  SEX  BPL              NAMEFRST_household  \
38648  MC FARLAND   56    1   10                     {WILLIAM W}
1169   MC FARLAND   55    2   10                     {MARY, MAY}
37178    MCDANIEL   58    1   10  {LAURA A, SOLOMON, MARY, WM H}

        NAMELAST_household   ln_dist   fn_dist  total_dist  age_diff  \
38648         {MC FARLAND}  0.917037  0.537037    2.371111         1
1169   {WHANN, MC FARLAND}  0.917037  0.583333    2.417407         0
37178  {JARRELL, MCDANIEL}  0.777778  0.833333    2.388889         3

       sex_same  household_overlap_ln  household_overlap_fn  total_weighted
38648         0                     0                     0       12.597778
1169          1                     0                     0       10.921852
37178         0                     0                     0        4.722222
EMMA
WOOLSEY
30
{'EMMA', 'FRANK'}
{'WOOLSEY'}
                                          id         SERIAL NAMEFRST NAMELAST  \
38566   ddc167cf-417a-49d1-be53-68de0b5c4f23  1872341554552     EMMA  WOOLSEY
114731  62356ba0-ade3-4466-b334-0422a45d9c58    12005809046     EMMA  WOODLEN
28691   35afd238-3312-49bf-8af6-163f0b6bb771   953023643712     EMMA   HORSEY

        AGE  SEX  BPL                      NAMEFRST_household  \
38566    38    2   10                           {EMMA, FRANK}
114731   38    2   10        {EMMA, DANIEL, MARY, ALSY, JOHN}
28691    42    2   10  {MARY, EMMA, HAYWARD, HERMAN, ALVERTA}

       NAMELAST_household   ln_dist  fn_dist  total_dist  age_diff  sex_same  \
38566           {WOOLSEY}  1.000000      1.0    3.000000         2         0
114731   {BROWN, WOODLEN}  0.866667      1.0    2.733333         2         0
28691            {HORSEY}  0.746032      1.0    2.492063         2         0

        household_overlap_ln  household_overlap_fn  total_weighted
38566                      1                     2       20.000000
114731                     0                     1       13.133333
28691                      0                     1       11.444444
FRANK
WOOLSEY
1
{'EMMA', 'FRANK'}
{'WOOLSEY'}
                                         id         SERIAL NAMEFRST NAMELAST  \
38567  3038309c-a730-48e2-9e0f-182d408712c6  1872341554552    FRANK  WOOLSEY
52022  51959586-5c20-4bb1-8850-8099b77d76bb    27202809046    FRANK     POOL
24653  8dec6085-9685-4127-9f06-589eeeb2a73d    21454809046    FRANK     COLE

       AGE  SEX  BPL                                 NAMEFRST_household  \
38567   11    1   10                                      {EMMA, FRANK}
52022   10    1   10  {LATITIA, CLARANCE, FRANK, STEWART, ZADOC, HOW...
24653   12    1   10  {PENNIE, SALLIE, FRANK, ALFRED, JACOB, ANNIE, ...

      NAMELAST_household  ln_dist  fn_dist  total_dist  age_diff  sex_same  \
38567          {WOOLSEY}  1.00000      1.0    3.000000         0         0
52022      {POOL, EVANS}  0.72619      1.0    2.452381         1         0
24653             {COLE}  0.72619      1.0    2.452381         1         0

       household_overlap_ln  household_overlap_fn  total_weighted
38567                     1                     2       28.000000
52022                     0                     1       15.166667

24653                     0                     1       15.166667
SAMUEL
BOWMAN
62
{'SAMUEL'}
{'BOWMAN'}
                                          id         SERIAL NAMEFRST NAMELAST  \
121690  e1516b40-3715-44fd-8ddd-f7451a48fca1    26756809046    JAMES    BOWEN
72456   76d72d86-c76b-4402-99de-0ae892d969f2  1356783643712      H A   BOWMAN
124381  9b997374-4758-42b7-b1bd-e956079d070a    20846809046   MARY A   BOWMAN

        AGE  SEX  BPL                   NAMEFRST_household  \
121690   73    1   10               {ANDREW, SUSAN, JAMES}
72456    74    1   10                {MARTHA, H A, REBA L}
124381   71    2   10  {VIRGINIA, LYDIA, CORNELIA, MARY A}

        NAMELAST_household   ln_dist   fn_dist  total_dist  age_diff  \
121690             {BOWEN}  0.875556  0.700000    2.451111         1
72456   {BOWMAN, ROBINSON}  1.000000  0.500000    2.500000         2
124381            {BOWMAN}  1.000000  0.388889    2.388889         1

        sex_same  household_overlap_ln  household_overlap_fn  total_weighted
121690         0                     0                     0       13.157778
72456          0                     1                     0       12.500000
124381         1                     1                     0        9.722222
JOHN
BOMAN
63
{'JOHN'}
{'BOMAN'}
                                         id         SERIAL NAMEFRST NAMELAST  \
9833   49d1c996-7207-4507-b1bb-d5892d0270e2  1064883643712     JOHN    BROWN
1824   239eb826-7ad3-493b-9506-ea8272be4762  4388551554552     JOHN   MORGAN
75908  7f157182-25bf-43c8-90fd-0541daf040f9    11460809046     JOHN  WORKMAN

       AGE  SEX  BPL         NAMEFRST_household NAMELAST_household   ln_dist  \
9833    73    1   10                     {JOHN}            {BROWN}  0.760000
1824    73    1   10                     {JOHN}           {MORGAN}  0.738889
75908   74    1   10  {JOHN, JOSEPH F, JULIE A}          {WORKMAN}  0.790476

       fn_dist  total_dist  age_diff  sex_same  household_overlap_ln  \
9833       1.0    2.520000         0         0                     0
1824       1.0    2.477778         0         0                     0
75908      1.0    2.580952         1         0                     0

       household_overlap_fn  total_weighted
9833                      1       19.640000
1824                      1       19.344444
75908                     1       16.066667
SAMUEL
HARRIS
63
{'SAMUEL'}
{'HARRIS'}
                                         id        SERIAL   NAMEFRST  \
28075  4dcdc8f8-5f64-4a8c-82af-3404af60c98e  641711554552     SAMUEL
55947  aaaed028-4993-455d-b6ba-62fcd9fe49ec    9902809046  NATHANIEL
68500  9d4baa33-f3d9-4829-8b27-1ed360835879   24135809046     SAMUEL

       NAMELAST  AGE  SEX  BPL  \
28075    HARRIS   72    1   10
55947    HARRIS   73    1   10
68500  HARKNESS   72    1   10

                                      NAMEFRST_household  \
28075                                           {SAMUEL}
55947  {ROBERT C, HETTIE J, NATHANIEL, SARAH E, JAMES...
68500                         {SUSAN, SAMUEL, CATHERINE}

                               NAMELAST_household   ln_dist   fn_dist  \
28075                                    {HARRIS}  1.000000  1.000000
55947  {CLUPMAN, HARRIS, SIMPLER, WHITE, HAZZARD}  1.000000  0.611111
68500                           {HARKNESS, GEARY}  0.805556  1.000000

       total_dist  age_diff  sex_same  household_overlap_ln  \
28075    3.000000         1         0                     1
55947    2.611111         0         0                     1
68500    2.611111         1         0                     0

       household_overlap_fn  total_weighted
28075                     1       22.000000
55947                     0       21.277778
68500                     1       16.277778
CATHRINE
MCPHERSON
61
{'CATHRINE'}
{'MCPHERSON'}
                                         id         SERIAL   NAMEFRST  \
30099  300c4ebb-bd8f-4df7-b31c-a0ad795172bf  2027775604765  CATHARINE
18018  7b823f93-75f3-4da0-a8d2-838201ca776a  6277347652485  CATHERINE
12607  59d8a4bc-0ab0-4321-8162-a78e57b2d446  5136087652485  CATHARINE

         NAMELAST  AGE  SEX  BPL              NAMEFRST_household  \
30099  MCMICHELAS   72    2   10                     {CATHARINE}
18018     JOHNSON   70    2   10                     {CATHERINE}
12607        AMES   73    2   10  {ROBERTA, ROBERT H, CATHARINE}

      NAMELAST_household   ln_dist   fn_dist  total_dist  age_diff  sex_same  \
30099       {MCMICHELAS}  0.685185  0.977778    2.348148         1         0
18018          {JOHNSON}  0.671958  0.927778    2.271693         1         0
12607             {AMES}  0.694444  0.977778    2.366667         2         0

       household_overlap_ln  household_overlap_fn  total_weighted
30099                     0                     0       12.437037
18018                     0                     0       11.901852
12607                     0                     0        8.566667
JOHN
ODAY
48
{'JOHN'}
{'ODAY'}
                                         id         SERIAL NAMEFRST NAMELAST  \
2498   8c97930b-a827-4af8-855d-a90773d4ee6e  4940556967832     JOHN    DARBY
51459  0e39c862-3906-46c6-8fe4-3575fae7c295    13791809046   JOHN W      DAY
10261  4697b493-dea5-4b9c-9109-ae9dcdce033c   714271554552     JOHN    O DAY

       AGE  SEX  BPL                                 NAMEFRST_household  \
2498    57    1   10                                             {JOHN}
51459   59    1   10  {CHARLES W, MILLARD F, THOMAS J, JOHN W, F HAR...
10261   56    1   10                                             {JOHN}

      NAMELAST_household   ln_dist   fn_dist  total_dist  age_diff  sex_same  \
2498             {DARBY}  0.783333  1.000000    2.566667         1         0
51459              {DAY}  0.916667  0.933333    2.766667         1         0
10261            {O DAY}  0.940000  1.000000    2.880000         2         0

       household_overlap_ln  household_overlap_fn  total_weighted
2498                      0                     1       15.966667
51459                     0                     0       15.366667
10261                     0                     1       14.160000
JOB
INGRAM
82
{'JOB'}
{'INGRAM'}
                                         id         SERIAL   NAMEFRST  \
14008  78fa1606-23d4-4970-ba37-a23463e5abf1  5977987652485       ROBT
28286  bbe42552-8a9d-4c5b-afc6-16f1db7aaff4   948212157662       JOHN
86986  58f7e831-4ca8-41cc-b080-e91c8868f855     3448809046  JOHNATHAN

         NAMELAST  AGE  SEX  BPL           NAMEFRST_household  \
14008     GILMORE   98    1   10                       {ROBT}
28286       SINEX   86    1   10       {JOHN, THOS R, JOSEPH}
86986  HARRINGTON   85    1   10  {JOHNATHAN, SARAH A, LYDIA}

      NAMELAST_household   ln_dist   fn_dist  total_dist  age_diff  sex_same  \
14008          {GILMORE}  0.579365  0.722222    1.880952         6         0
28286            {SINEX}  0.577778  0.722222    1.877778         6         0
86986       {HARRINGTON}  0.611111  0.629630    1.851852         7         0

       household_overlap_ln  household_overlap_fn  total_weighted
14008                     0                     0      -10.833333
28286                     0                     0      -10.855556
86986                     0                     0      -15.037037
JOHN M
SCHEE
42
{'JOHN M'}
{'SCHEE'}
                                          id        SERIAL NAMEFRST  NAMELAST  \
10026   b1f926bf-f3a4-405e-8c99-f9ecddd709ae  665301554552     JOHN     SCHEE
19373   8e82757c-c86f-498f-bacb-f268babbfff0  431375604765     JOHN    SEWELL
104254  bacfffa9-6704-47f9-a055-75ff10019b50   15062809046     JOHN  SNITCHER

        AGE  SEX  BPL NAMEFRST_household NAMELAST_household  ln_dist  \
10026    52    1   10             {JOHN}            {SCHEE}     1.00
19373    52    1   10       {JOHN, JANE}           {SEWELL}     0.73
104254   53    1   10             {JOHN}         {SNITCHER}     0.79

         fn_dist  total_dist  age_diff  sex_same  household_overlap_ln  \
10026   0.933333    2.933333         0         0                     1
19373   0.933333    2.393333         0         0                     0
104254  0.933333    2.513333         1         0                     0

        household_overlap_fn  total_weighted
10026                      0       23.533333
19373                      0       16.753333

104254                     0       13.593333
JAMES
HASTING
67
{'RUTH', 'JAMES'}
{'HASTING'}
                                          id        SERIAL NAMEFRST  NAMELAST  \
10283   b2d9805c-478f-4347-8646-6fee2898471e  717961554552    JAMES  HASTINGS
85360   34e4c1f7-4e1f-4f33-b4d4-e0339d5caf52    9614809046    JAMES    MARTIN
123246  aa06ee32-ecae-49e7-901d-5eff8348fbad   11349809046    MOSES   HASTING

        AGE  SEX  BPL                     NAMEFRST_household  \
10283    77    1   10                          {RUTH, JAMES}
85360    80    1   10  {JANE, ELLEN, WILLIAM, EDWARD, JAMES}
123246   81    1   10                  {MOSES, TYNIE, RENIE}

                          NAMELAST_household   ln_dist  fn_dist  total_dist  \
10283                             {HASTINGS}  0.975000      1.0    2.950000
85360   {MARTIN, WILSON, WILLIAMS, PHILLIPS}  0.746032      1.0    2.492063
123246                             {HASTING}  1.000000      0.6    2.600000

        age_diff  sex_same  household_overlap_ln  household_overlap_fn  \
10283          0         0                     0                     2
85360          3         0                     0                     1
123246         4         0                     1                     0

        total_weighted
10283        24.650000
85360         7.444444
123246        5.200000
RUTH
HASTING
70
{'RUTH', 'JAMES'}
{'HASTING'}
                                         id         SERIAL NAMEFRST  NAMELAST  \
10284  9bb4c23f-551e-4bba-a4ef-8ced54eb30a0   717961554552     RUTH  HASTINGS
41936  f2486d49-5e93-4da0-b4da-19dfbac68cfd  5883247652485     RUTH    HANSON
16399  2b534c6b-09c4-4625-a48e-a0c19506c6dc  6766977652485     JOHN    HASSON

       AGE  SEX  BPL NAMEFRST_household NAMELAST_household   ln_dist  fn_dist  \
10284   79    2   10      {RUTH, JAMES}         {HASTINGS}  0.975000      1.0
41936   83    2   10             {RUTH}           {HANSON}  0.796825      1.0
16399   81    1   10    {JOHN, JAMES H}           {HASSON}  0.822222      0.5

       total_dist  age_diff  sex_same  household_overlap_ln  \
10284    2.950000         1         0                     0
41936    2.593651         3         0                     0
16399    2.144444         1         1                     0

       household_overlap_fn  total_weighted
10284                     2       20.650000
41936                     1        8.155556
16399                     0        5.011111
ELIZABETH
MCMILLEN
69
{'ELIZABETH'}
{'MCMILLEN'}
                                         id         SERIAL   NAMEFRST  \
19441  3b66a0e0-8f65-4928-b8a6-a2df262875b4   438866967832      ELIZA
1917   cd20ff2f-40d2-450c-9746-16fac1c85fb4  4455754452919  ELIZABETH
68300  b74c6558-9abf-427a-8d51-fa03c94ac3c5    25601809046  ELIZABETH

        NAMELAST  AGE  SEX  BPL  NAMEFRST_household NAMELAST_household  \
19441   MILLISON   79    2   10             {ELIZA}         {MILLISON}
1917   MC DANIEL   80    2   10   {KATE, ELIZABETH}  {MC DANIEL, HALL}
68300     MILLER   81    2   10  {ELIZABETH, MARIA}           {MILLER}

        ln_dist   fn_dist  total_dist  age_diff  sex_same  \
19441  0.775000  0.911111    2.461111         0         0
1917   0.777778  1.000000    2.555556         1         0
68300  0.837500  1.000000    2.675000         2         0

       household_overlap_ln  household_overlap_fn  total_weighted
19441                     0                     0       17.227778
1917                      0                     1       15.888889
68300                     0                     1       12.725000
ALICE
MURPHY
12
{'MARY A', 'ALICE'}
{'MURPHY'}
                                         id        SERIAL NAMEFRST NAMELAST  \
66090  89aeaa79-2ebe-4de3-a1d8-e73698191bdd   12367809046    JANIE   MURPHY
49606  8bd797ee-4fa5-4b3f-80b5-75a03b1f3457   21979809046    ANNIE   MURPHY
10141  e1bea69d-9ef8-447a-afd3-35fe0fcea6ef  689221231038    KATIE   MURPHY

       AGE  SEX  BPL                                 NAMEFRST_household  \
66090   22    2   10  {JOSHUA, MARTHA, SARAH E, NANCY, JANIE, LENA M...
49606   21    2   10                                      {ANNIE, MARY}
10141   21    2   10                                            {KATIE}

      NAMELAST_household  ln_dist   fn_dist  total_dist  age_diff  sex_same  \
66090           {MURPHY}      1.0  0.733333    2.733333         0         0
49606  {MURPHY, HIGGINS}      1.0  0.760000    2.760000         1         0
10141           {MURPHY}      1.0  0.733333    2.733333         1         0

       household_overlap_ln  household_overlap_fn  total_weighted
66090                     1                     0       22.133333
49606                     1                     0       18.320000
10141                     1                     0       18.133333
MARY A
MURPHY
14
{'MARY A', 'ALICE'}
{'MURPHY'}
                                         id         SERIAL NAMEFRST NAMELAST  \
87635  d30a23c1-3435-44ff-bef0-485b42ac80db  6120467652485   MARY E   MURPHY
96768  0d915100-ba65-40b9-ab83-25518a0aaebd     1500809046   MARY H   MURPHY
67563  c2a667be-72ab-4144-ba13-4453583fa05f    21249809046     MARY   MURPHY

       AGE  SEX  BPL                               NAMEFRST_household  \
87635   24    2   10                                         {MARY E}
96768   24    2   10  {ANNA, SAMUEL, WILLIAM, ROBERT, FREDDY, MARY H}
67563   22    2   10                                  {MARY, PATRICK}

      NAMELAST_household  ln_dist   fn_dist  total_dist  age_diff  sex_same  \
87635           {MURPHY}      1.0  0.933333    2.933333         0         0
96768           {MURPHY}      1.0  0.933333    2.933333         0         0
67563  {MURPHY, O BRIEN}      1.0  0.933333    2.933333         2         0

       household_overlap_ln  household_overlap_fn  total_weighted
87635                     1                     0       23.533333
96768                     1                     0       23.533333
67563                     1                     0       15.533333
MARY A
JUDD
64
{'MARY A'}
{'JUDD'}
                                         id         SERIAL NAMEFRST NAMELAST  \
12295  fac6848a-910e-44aa-b481-c58c3cb6ed06  4244566967832   MARY A   HUDSON
45900  20988350-15cb-4825-adbd-795314b4c3b3   883172157662     MARY  REDDING
30874  613eaa08-06cd-40c5-a906-0117577e371d  5940717652485      A E     BUDD

       AGE  SEX  BPL NAMEFRST_household NAMELAST_household   ln_dist  \
12295   72    2   10           {MARY A}           {HUDSON}  0.611111
45900   72    2   10    {MARY, WILLIAM}          {REDDING}  0.595238
30874   71    2   10              {A E}             {BUDD}  0.833333

        fn_dist  total_dist  age_diff  sex_same  household_overlap_ln  \
12295  1.000000    2.222222         2         0                     0
45900  0.933333    2.123810         2         0                     0
30874  0.500000    2.166667         3         0                     0

       household_overlap_fn  total_weighted
12295                     1        9.555556
45900                     0        6.866667
30874                     0        3.166667
ROBT
DERRICKSON
42
{'ROBT'}
{'DERRICKSON'}
                                         id         SERIAL NAMEFRST  \
1549   40acdad2-a080-468a-8532-e6331977ffa0  8903255884791      JOB
99156  5026f01e-6568-476d-afa2-cfbec29fec3d    25261809046   ROBERT
43310  b46d3bd9-b928-495b-9fb0-8c1542c5894c  1288723643712      JNO

         NAMELAST  AGE  SEX  BPL  \
1549    DERICKSON   53    1   10
99156    MORRISON   50    1   10
43310  DERRICKSON   56    1   10

                                      NAMEFRST_household NAMELAST_household  \
1549                                               {JOB}        {DERICKSON}
99156  {JAMES T, WILLIAM, ALVIN R, ROBERT, ISABELLA, ...         {MORRISON}
43310                                              {JNO}       {DERRICKSON}

        ln_dist   fn_dist  total_dist  age_diff  sex_same  \
1549   0.976667  0.722222    2.675556         1         0
99156  0.783333  0.922222    2.488889         2         0
43310  1.000000  0.527778    2.527778         4         0

       household_overlap_ln  household_overlap_fn  total_weighted
1549                      0                     0       14.728889
99156                     0                     0        9.422222

43310                     1                     0        4.694444
SARAH A
BAKER
61
{'SARAH A'}
{'BAKER'}
                                          id         SERIAL NAMEFRST NAMELAST  \
2389    83f5aaa4-8369-4860-8b9d-32818c0f247f  4815571554552   MARY A    BAKER
153632  b2e4ced0-4298-45d9-9e02-bed0c647e5ae     7450809046   MORIAH    BAKER
3177    2167f916-8b9d-4204-9c5a-15ef5fb0127a  3666446967832   SQUIRE    BAKER

        AGE  SEX  BPL NAMEFRST_household NAMELAST_household  ln_dist  \
2389     71    2   10           {MARY A}            {BAKER}      1.0
153632   72    2   10   {DANIEL, MORIAH}            {BAKER}      1.0
3177     72    1   10           {SQUIRE}            {BAKER}      1.0

         fn_dist  total_dist  age_diff  sex_same  household_overlap_ln  \
2389    0.662698    2.662698         0         0                     1
153632  0.642857    2.642857         1         0                     1
3177    0.539683    2.539683         1         1                     1

        household_overlap_fn  total_weighted
2389                       0       21.638889
153632                     0       17.500000
3177                       0       10.777778
NEHEMIAH
DENNIS
61
{'NEHEMIAH', 'SOPHIA'}
{'DENNIS'}
                                          id         SERIAL   NAMEFRST  \
38796   6de9b799-1d42-462d-89cb-cebf307f5e5a  1948501554552   NEHEMIAH
150954  dc34942b-0983-419d-8299-67b11bd158e9     1834809046     MAHALA
19897   46358763-3fe0-4ab4-8f30-32bf579d46ca   491703963335  NATHANIEL

       NAMELAST  AGE  SEX  BPL  \
38796    DENNIS   71    1   10
150954   DENNIS   71    2   10
19897    DENNIS   67    1   10

                                     NAMEFRST_household NAMELAST_household  \
38796                                {NEHEMIAH, SOPHIA}  {DENNIS, COLLINS}
150954  {NEHEMIAH, MAHALA, ANNIE, MARY A, EMMA, LIZZIE}     {RASH, DENNIS}
19897                                       {NATHANIEL}           {DENNIS}

        ln_dist   fn_dist  total_dist  age_diff  sex_same  \
38796       1.0  1.000000    3.000000         0         0
150954      1.0  0.527778    2.527778         0         1
19897       1.0  0.564815    2.564815         4         0

        household_overlap_ln  household_overlap_fn  total_weighted
38796                      1                     2       28.000000
150954                     1                     1       16.694444
19897                      1                     0        4.953704
SOPHIA
DENNIS
58
{'NEHEMIAH', 'SOPHIA'}
{'DENNIS'}
                                          id        SERIAL   NAMEFRST  \
150954  dc34942b-0983-419d-8299-67b11bd158e9    1834809046     MAHALA
19897   46358763-3fe0-4ab4-8f30-32bf579d46ca  491703963335  NATHANIEL
119499  3367f945-c98b-4d1e-9f8f-14f884c6c4d2    5062252102    SOPHIAH

       NAMELAST  AGE  SEX  BPL  \
150954   DENNIS   71    2   10
19897    DENNIS   67    1   10
119499    OWENS   70    2   10

                                     NAMEFRST_household NAMELAST_household  \
150954  {NEHEMIAH, MAHALA, ANNIE, MARY A, EMMA, LIZZIE}     {RASH, DENNIS}
19897                                       {NATHANIEL}           {DENNIS}
119499                                        {SOPHIAH}            {OWENS}

        ln_dist   fn_dist  total_dist  age_diff  sex_same  \
150954      1.0  0.555556    2.555556         3         0
19897       1.0  0.500000    2.500000         1         1
119499      0.7  0.971429    2.371429         2         0

        household_overlap_ln  household_overlap_fn  total_weighted
150954                     1                     1       10.888889
19897                      1                     0       10.500000
119499                     0                     0        8.600000
HENRY
TAYLOR
57
{'HENRY'}
{'TAYLOR'}
                                         id         SERIAL NAMEFRST NAMELAST  \
38828  adb007d0-c6f1-40b0-a216-c686e9f83896  1963691554552    HENRY   TAYLOR
12999  eb138876-5eeb-4880-bb40-dbf63721a75f  5286466967832   MURPHY   TAYLOR
50359  19719b9a-35e1-40b1-a4c4-02cfc1f8d576   324574452919   JOHN T   TAYLOR

       AGE  SEX  BPL NAMEFRST_household NAMELAST_household  ln_dist   fn_dist  \
38828   67    1   10            {HENRY}           {TAYLOR}      1.0  1.000000
12999   70    1   10           {MURPHY}           {TAYLOR}      1.0  0.577778
50359   63    1   10  {JOHN T, ARLANTA}           {TAYLOR}      1.0  0.577778

       total_dist  age_diff  sex_same  household_overlap_ln  \
38828    3.000000         0         0                     1
12999    2.577778         3         0                     1
50359    2.577778         4         0                     1

       household_overlap_fn  total_weighted
38828                     1       26.000000
12999                     0        9.044444
50359                     0        5.044444
SARAH
ROBINSON
50
{'SARAH'}
{'ROBINSON'}
                                          id         SERIAL NAMEFRST  \
38831   2cfae8f3-5925-42c4-949b-d65b44c7916f  1964451554552    SARAH
56200   c50a7499-d35a-4430-8cd2-b53d0b01c278     9977809046  CLARA C
154487  b9549bb1-5377-4e44-83ed-f9adb55b5769     7610809046  SARAH C

        NAMELAST  AGE  SEX  BPL               NAMEFRST_household  \
38831   ROBINSON   60    2   10                          {SARAH}
56200   ROBINSON   59    2   10          {SARAH, CLARA C, ELIZA}
154487  ROBINSON   62    2   10  {WILLIAM W, SARAH C, WILLIAM E}

                 NAMELAST_household  ln_dist   fn_dist  total_dist  age_diff  \
38831                    {ROBINSON}      1.0  1.000000    3.000000         0
56200   {ROBINSON, MUMFORD, PARKER}      1.0  0.676190    2.676190         1
154487                   {ROBINSON}      1.0  0.942857    2.942857         2

        sex_same  household_overlap_ln  household_overlap_fn  total_weighted
38831          0                     1                     1       26.000000
56200          0                     1                     1       19.733333
154487         0                     1                     0       15.600000
MARY A
KELLY
57
{'MARY A'}
{'KELLY'}
                                          id         SERIAL   NAMEFRST  \
107892  cf0005b2-bf29-4d87-b715-53e9a778c64f    15716809046  MARGRET A
38857   23267151-b1ca-4de3-ad39-afd616462cc0  1972601554552     MARY A
79760   a588f806-d628-4665-82b6-a09455f94acf  5765017652485  CATHARINE

       NAMELAST  AGE  SEX  BPL  \
107892    KELLY   67    2   10
38857     KELLY   66    2   10
79760     KELLY   66    2   10

                                       NAMEFRST_household  \
107892  {LETCIA, ELLEN, MARGRET A, EDNA, WILLIAM, EMMA...
38857                                            {MARY A}
79760                                 {CATHARINE, MARY A}

                             NAMELAST_household  ln_dist   fn_dist  \
107892  {KELLY, REMMINGTON, CARTER, WILLIAMSON}      1.0  0.857407
38857                                   {KELLY}      1.0  1.000000
79760                          {KELLY, HOLLAND}      1.0  0.500000

        total_dist  age_diff  sex_same  household_overlap_ln  \
107892    2.857407         0         0                     1
38857     3.000000         1         0                     1
79760     2.500000         1         0                     1

        household_overlap_fn  total_weighted
107892                     0       23.001852
38857                      1       22.000000
79760                      1       18.500000
WILLIAM
KING
48
{'WILLIAM'}
{'KING'}
                                          id         SERIAL NAMEFRST NAMELAST  \
38850   bf2a75f1-bdaf-414e-a137-d18fc63c6d84  1969821554552  WILLIAM     KING
2805    bb47f82e-5468-4d0c-b2d8-ec3e6dd7f1c3  3387366967832  WILLIAM   KINSEY
138198  b0e21bd0-0789-475f-8a60-f50266bc90d2    28096809046  WILLIAM  KINSLOW

        AGE  SEX  BPL        NAMEFRST_household NAMELAST_household   ln_dist  \
38850    56    1   10                 {WILLIAM}             {KING}  1.000000
2805     57    1   10                 {WILLIAM}           {KINSEY}  0.825000
138198   55    1   10  {CHARLES, MARY, WILLIAM}   {KNOTS, KINSLOW}  0.808333

        fn_dist  total_dist  age_diff  sex_same  household_overlap_ln  \
38850       1.0    3.000000         2         0                     1
2805        1.0    2.650000         1         0                     0
138198      1.0    2.616667         3         0                     0

        household_overlap_fn  total_weighted
38850                      1       18.000000
2805                       1       16.550000

138198                     1        8.316667
ELIZA
NAGLEY
46
{'ELIZA'}
{'NAGLEY'}

KeyboardInterrupt:

Per the exercise instructions, I paused the script after ten minutes.  The estimated total run time for the script would be 2 hours and 3 minutes.  The time to find a match per microdata entry was 8.00 seconds on average.